<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminOrderDetail.css">
    <link rel="stylesheet" href="/fragment/css/adminSide.css">
    <title>관리자 페이지</title>
</head>
<body class="body">
    <div class="top-section">
        <div class="top-title">
            <h3>관리자 페이지</h3>
        </div>
    </div>
    <div class="admin-index-wrap" >
        <div class="admin-fragment">

            <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">

            </div>
        </div>

        <main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>주문 상세</h4>
        </div>
    </div>
    <div class="admin-main-bcc">
        <div class="admin-main-wrap">
            <div class="order-user-stan-title">
                <h4>주문 정보</h4>
            </div>
            <div class="order-stan-info">
                <div class="order-info first-section">
                    <table class="order-info-table"  cellspacing="0">
                        <tr>
                            <colgroup>
                                <col style="width: 100px;">
                                <col style="width: 530px;">
                                <col style="width: 100px;">
                                <col style="width: 530px;">
                            </colgroup>
                        </tr>
                        <tr>
                            <th scope="row">주문자 계정</th>
                            <td th:text="${orderDetail.adminOrderDetailDto.orderAccount}"></td>
                            <th scope="row" rowspan="3">주소</th>
                            <td class="postal-code" th:text="${orderDetail.adminOrderDetailDto.orderZipcode}"></td>
                        </tr>
                        <tr>
                            <th scope="row">주문자명</th>
                            <td th:text="${orderDetail.adminOrderDetailDto.orderUserName}"></td>
                            <td class="address" th:text="${orderDetail.adminOrderDetailDto.orderAddress}">서울특별시 노원구</td>
                        </tr>
                        <tr>
                            <th scope="row">이메일</th>
                            <td th:text="${orderDetail.adminOrderDetailDto.oderEmail}"></td>
                            <td class="detail-address" th:text="${orderDetail.adminOrderDetailDto.orderAddressDetail}">3층 3333호</td>
                        </tr>
                        <tr>
                            <th scope="row">휴대전화</th>
                            <td th:text="${orderDetail.adminOrderDetailDto.orderPhone}"></td>
                            <th scope="row">주문 일자</th>
                            <td class="order-date"></td>
                           <input type="hidden" th:value="${orderDetail.adminOrderDetailDto.orderDate}" id="orderDate"/>
                            
                        </tr>
                        <tr>
                            <th>주문 메모</th>
                            <td colspan="3" class="order-memo" th:text="${orderDetail.adminOrderDetailDto.orderMemo}"></td>
                        </tr>
                    </table>
                </div>
               
            </div>
        </div>



        <!-- 주문 상품 정보 -->
        <div class="admin-main-wrap" style="margin-top: 30px;">
             <div class="order-extra-title">
                <h4>주문 상품 정보</h4>
            </div>
            <div class="ordered-goods-info-container">
                <dl class="ordered-goods-info-dl" th:each="orderGoodsList : ${orderDetail.adminOrderDetailDto.adminOrderDetailGoodsListDtoList}">
                    <dt class="ordered-goods-img">
                        <a th:href="@{/admin/detail/{id} (id=${orderGoodsList.orderGoodsId})}">
                        <img th:src="'/jpa_dw/goods/' + ${orderGoodsList.orderGoodsMainImgPath} + '/' + ${orderGoodsList.orderGoodsMainImgUuid} +'_' + ${orderGoodsList.orderGoodsMainImgName}" alt="ordered-goods-img" />
                        </a>
                    </dt>
                    <dd class="ordered-goods-dd">
                        <div class="ordered-goods-detail-info">
                            <ul class="ordered-goods-detail-info-ul">
                                <li class="goods-name"><span th:text="${orderGoodsList.orderGoodsName}"> </span></li>
                                <li class="goods-quantity"><span th:text="${orderGoodsList.orderGoodsQuantity +' ea'}"></span></li>
                                <li class="goods-per-price"><span ></span></li>
                                <li class="goods-total-price"><span th:text="${orderGoodsList.orderGoodsQuantity * orderGoodsList.orderGoodsPrice +'원'}"></span></li>

                                <input type="hidden" th:value="${orderGoodsList.orderGoodsPrice}" class="each-price"/>
                                <input type="hidden" th:value="${orderGoodsList.orderGoodsQuantity * orderGoodsList.orderGoodsPrice}" class="total-price"/>

                            </ul>
                        </div>
                    </dd>
                </dl>

               

            </div>
            <div class="order-result">

            </div>

            <div class="show-more-btn">
                <button  >더보기</button>
            </div>
        </div>
        <div class="admin-main-wrap" style="margin-top: 10px;">
            <div class="order-result">
                <p>총 주문 금액 : <span></span></p>
            </div>
        </div>

    
    </div>
</main>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminOrderDetail.js"></script>
<script src="/fragment/js/adminSide.js"></script>

</body>
</html>