<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/adminSide.css">
    <link rel="stylesheet" href="/admin/css/adminQnaList.css">
    <title>관리자 페이지</title>
</head>
<body class="body">
<div class="top-section">
    <div class="top-title">
        <h3>관리자 페이지</h3>
    </div>
</div>

<div class="admin-index-wrap" >
    <div class="admin-fragment">

        <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">

        </div>
    </div>


    <main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>QnA 목록</h4>
        </div>
    </div>

    <div class="admin-main-bcc">
        <div class="admin-main-wrap qna-wrap">
          
            <div class="admin-qna-search-container">
                <form action="" method="" id="search-form">
                    <div class="select-form">
                        <select id="qna-search-cate" name="qna-search-cate">
                            <option value="title">제목</option>
                            <option value="writer">작성자</option>
                        </select>
                    </div>
                    <div class="input-form">
                        <input type="text" name="qna-search-keyword" id="qna-search-keyword" />
                    </div>
                    <div class="result-btn">
                        <button type="button" class="result-qna-submit-btn">검색</button>
                    </div>
                </form>
            </div>
            <div class="admin-qna-list-container">
                <div class="admin-qna-list">
                    <div class="admin-qna-list-table">
                        <div class="notie-number-column column">게시번호</div>
                        <div class="qna-id-column column">작성자</div>
                        <div class="qna-title-column column">QnA 제목</div>
                        <div class="qna-reg-date-column column"> 게시일</div>
                        <div class="qna-view-count-column column">조회수</div>
                        <div class="qna-etc-column column">비고</div>

                    </div>
                    
                </div>
                <div class="admin-qna-lists">

                 </div>
               
                
            </div>
        </div>
        <div class="admin-main-wrap pagination-wrap" style="margin-top: 5px;">
            <div class="pagination-container">
                <ul class="pagination-ul">

                </ul>
            </div>
        </div>
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminQnaList.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>