<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminUserDetail.css">
    <link rel="stylesheet" href="/fragment/css/adminSide.css">
    <title>관리자 페이지</title>
</head>
<body class="body">
    <div class="top-section">
        <div class="top-title">
            <h3>관리자 페이지</h3>
        </div>
    </div>
    <div class="admin-index-wrap" >
        <div class="admin-fragment">

            <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">

            </div>
        </div>
<main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>회원 상세</h4>
        </div>
    </div>
    <div class="admin-main-bcc">
        <div class="admin-main-wrap">
            <div class="user-stan-title">
                <h4>회원 기본 정보</h4>
            </div>
            <div class="user-stan-info" >
                <div class="user-img">
                    <img th:if="${userDetailInfo.adminUserDetailInfo.adminUserDetailImgDto==null}" src="/user/img/user-default-img.png" alt="user-img" />
                    <img th:if="${userDetailInfo.adminUserDetailInfo.adminUserDetailImgDto!=null}" th:src="'/jpa_dw/userfile/' + ${userDetailInfo.adminUserDetailInfo.adminUserDetailImgDto.userImgPath} +'/' + ${userDetailInfo.adminUserDetailInfo.adminUserDetailImgDto.userImgUuid}+'_'+${userDetailInfo.adminUserDetailInfo.adminUserDetailImgDto.userImgName}" alt="user-img" />
                </div>
                <div class="user-info first-section" >
                    <table class="user-info-table"  cellspacing="0"  >
                        <tr>
                            <colgroup>
                                <col style="width: 100px;">
                                <col style="width: 415px;">
                                <col style="width: 100px;">
                                <col style="width: 415px;">
                            </colgroup>
                        </tr>
                        <tr >
                            <th scope="row">아이디</th>
                            <td th:text="${userDetailInfo.adminUserDetailInfo.userAccount}"></td>
                            <th scope="row" rowspan="3">주소</th>
                            <td class="postal-code" th:text="${userDetailInfo.adminUserDetailInfo.zipCode}"></td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td th:text="${userDetailInfo.adminUserDetailInfo.userName}"></td>
                            <td class="address" th:text="${userDetailInfo.adminUserDetailInfo.address}"></td>
                        </tr>
                        <tr>
                            <th scope="row">닉네임</th>
                            <td th:text="${userDetailInfo.adminUserDetailInfo.userNickName}"></td>
                            <td class="detail-address" th:text="${userDetailInfo.adminUserDetailInfo.detail}">3층 3333호</td>
                        </tr>
                        <tr>
                            <th scope="row">휴대전화</th>
                            <td th:text="${userDetailInfo.adminUserDetailInfo.userPhone}"></td>
                            <th scope="row" rowspan="3">자기소개</th>
                            <td rowspan="3" id="self-intro" th:text="${userDetailInfo.adminUserDetailInfo.intro}"></td>
                            
                        </tr>
                        <tr>
                            <th scope="row">이메일</th>
                            <td th:text="${userDetailInfo.adminUserDetailInfo.userEmail}"></td>
                        </tr>
                        <tr>
                            <th scope="row">가입일</th>
                            <td th:text="${userDetailInfo.adminUserDetailInfo.userJoinDate}"></td>
                        </tr>
                    </table>
                </div>
               
            </div>
        </div>



        <!-- 등록 반려견 정보 -->
        <div class="admin-main-wrap" style="margin-top: 30px;">
             <div class="user-extra-title">
                <h4>등록 반려견 정보</h4>
            </div>
            <div class="registerd-pet-info-container">
                <dl class="registerd-pet-info-dl" th:each="petInfo : ${userDetailInfo.adminUserPetDetailDto}">
                    <dt class="registerd-pet-img">
                        <img th:if="${petInfo.adminUserPetImgDto == null}" src="/user/img/user-default-img.png" alt="pet-img" />
                        <img th:if="${petInfo.adminUserPetImgDto != null}"
                             th:src="'/jpa_dw/petimg/' + ${petInfo.adminUserPetImgDto.petImgPath} +'/' +${petInfo.adminUserPetImgDto.petImgUuid} +'_' +${petInfo.adminUserPetImgDto.petImgName}" alt="pet-img" />
                    </dt>
                    <dd class="registerd-pet-dd">
                        <div class="registerd-pet-detail-info">
                            <ul class="registerd-pet-detail-info-ul">
                                <li class="pet-name">이름 : <span th:text="${petInfo.name}">구찌</span></li>
                                <li class="pet-species">견종 : <span th:text="${petInfo.petCategory}">말티즈</span></li>
                                <li class="pet-birth">생일 : <span th:text="${petInfo.birthDate}">2014-05-04</span></li>
                                <li class="pet-gender">성별 : <span th:text="${petInfo.petGender}"></span></li>
                                <li class="pet-x">중성화 여부 : <span th:text="${petInfo.neutering}"></span> </li>
                                <li class="pet-weight">몸무게 : <span th:text="${petInfo.weight +'kg'}"></span> </li>
                            </ul>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>

        <!-- 기타 회원 추가 정보 -->
        <div class="extra-wrap">
            <div class="admin-main-wrap admin-extra-wrap" style="margin-top: 10px; width: 620px;  height: 315px">
                <div class="user-extra-title">
                    <ul class="board-tap-ul">
                        <li class="qna-btn active-btn"><a href=""><h5>QnA</h5></a></li>
                        <li class="free-btn"><a href=""><h5>자유게시판</h5></a></li>
                        <li class="walk-btn"><a href=""><h5>산책게시판</h5></a></li>

                    </ul>
                <p>총 게시글 : <span class="total-count">5</span></p>
            </div>
            <div class="community-info-container">
                <table class="community-info-list">
                    <tr class="commnunity-table-column">
                       <th width="310">제목</th>
                       <th width="90">작성일자</th>
                       <th width="40">조회수</th>
                       <th width="40">댓글수</th>
                    </tr>
                    <tbody class="extra-info-list">

                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <ul class="pagination-ul board-pagination-ul">

                </ul>
            </div>
        </div>
        <div class="admin-main-wrap admin-extra-wrap" style="margin-top: 10px; width: 620px; height: 315px">
            <div class="user-extra-title">
                <h5 class="order-list-title">주문내역</h5>
                <p>총 주문 금액 : <span class="total-price"></span></p>

            </div>
            <div class="community-info-container">
                <table class="community-info-list">
                    <tr class="commnunity-table-column">
                       <th width="300">상품명</th>
                       <th width="90">주문일자</th>
                       <th width="40">수량</th>
                       <th width="80">금액</th>
                    </tr>
                    <tbody class="order-list">


                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <ul class="pagination-ul order-list-pagination">

                </ul>
            </div>
        </div>
   </div>
    </div>
</main>
</div>

    <input type="hidden" th:value="${userDetailInfo.adminUserDetailInfo.id}" id="userId"/>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminUserDetail.js"></script>
<script src="/fragment/js/adminSide.js"></script>

</body>
</html>