<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminFreeList.css">
    <title>관리자 페이지</title>
</head>
<body class="body">
<div class="top-section">
    <div class="top-title">
        <h3>관리자 페이지</h3>
    </div>
</div>

<div class="admin-index-wrap" >
    <div class="admin-fragment">
        <div class="admin-hidden-title">
            <h3>관리자 페이지</h3>
        </div>
        <aside class="aside">
            <ul class="side-menu">
                <li class="user-manage admin-manage">회원 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul">
                            <li><a href="/admin/html/adminIndex.html">회원 현황</a></li>
                            <li><a href="/admin/html/adminUserList.html">회원 목록</a></li>
                        </ul>
                    </div>
                </li>
                <li class="goods-manage admin-manage">상품 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul">
                            <li><a href="/admin/html/adminGoodsList.html">상품 목록</a></li>
                            <li><a href="/admin/html/adminGoodsQue.html">상품 문의</a></li>
                            <li><a href="/admin/html/adminGoodsReview.html">상품 리뷰</a></li>
                        </ul>
                    </div>
                </li>
                <li class="order-manage admin-manage">주문 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul">
                            <li><a href="/admin/html/adminOrderManage.html">주문 현황</a></li>
                                <li><a href="/admin/html/adminOrderList.html">주문 목록</a></li>
                        </ul>
                    </div>
                </li>
                <li class="notice-manage admin-manage">커뮤니티 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul"> 
                            <li><a href="/admin/html/adminNoticeList.html">공지 목록</a></li>
                            <li><a href="/admin/html/adminQnaList.html">QnA 목록</a></li>
                            <li><a href="/admin/html/adminFreeList.html">자유게시판글 목록</a></li>
                            <li><a href="/admin/html/adminWalkList.html">산책글 목록</a></li>

                        </ul>
                    </div>
                </li>
          
            </ul>
        </aside>
     </div>

<main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>자유게시판 목록</h4>
        </div>
    </div>

    <div class="admin-main-bcc">
        <div class="admin-main-wrap free-wrap">
           
            <div class="admin-free-search-container">
                <form action="" method="" id="search-form">
                    <div class="select-form">
                        <select id="free-search-cate" name="free-search-cate">
                            <option value="1">제목</option>
                            <option value="2">작성자</option>
                        </select>
                    </div>
                    <div class="input-form">
                        <input type="text" name="free-search-keyword" id="free-search-keyword" />
                    </div>
                    <div class="result-btn">
                        <button type="button" class="result-free-submit-btn">검색</button>
                    </div>
                </form>
            </div>
            <div class="admin-free-list-container">
                <div class="admin-free-list">
                    <div class="admin-free-list-table">
                        <div class="notie-number-column column">게시번호</div>
                        <div class="free-id-column column">작성자</div>
                        <div class="free-title-column column">제목</div>
                        <div class="free-reg-date-column column"> 게시일</div>
                        <div class="free-view-count-column column">조회수</div>
                        <div class="free-etc-column column">비고</div>

                    </div>
                    
                </div>
                <div class="admin-free-lists">
                    <div class="admin-free-list-table rr">
                        <div class="notie-number row">10</div>
                        <div class="free-id row">bokbok1234</div>
                        <div class="free-title row">우리 아가 귀엽죠?</div>
                        <div class="free-reg-date row">2023-11-11</div>
                        <div class="free-view-count row">30</div>
                        <div class="free-etc btns row">
                            <a href="/admin/html/adminFreeDetail.html" class="detail-btn">상세</a>
                        </div>
                    </div>
                 </div>
               
                
            </div>
        </div>
        <div class="admin-main-wrap pagination-wrap" style="margin-top: 5px;">
            <div class="pagination-container">
                <ul class="pagination-ul">
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/admin/js/adminFreeList.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>