<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/adminSide.css">
    <link rel="stylesheet" href="/admin/css/adminWalkDetail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>관리자 페이지</title>
</head>
<body class="body">
<div class="top-section">
    <div class="top-title">
        <h3>관리자 페이지</h3>
    </div>
</div>

<div class="admin-index-wrap" >
    <div class="admin-fragment">

        <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">

        </div>
    </div>

    <main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>산책모집 상세</h4>
        </div>
    </div>
    <div class="admin-main-bcc">
        <div class="admin-main-wrap">
            <div class="qna-info-container">
                <table class="qna-info-table" border="1">
                    <tr>
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                    </tr>
                    <tr class="qna-info-column">
                        <th>작성자</th>
                        <td ><a th:href="@{/admin/userDetail/{id} (id=${detail.userId})}" th:text="${detail.userAccount}"></a></td>
                        <th>산책 파트너</th>
                        <td class="partner-name" th:text="${detail.writerPetName}"></td>
                        <th:block th:if="${detail.regDate != detail.modDate}">
                        <th>수정일자</th>
                        <td  class="walk-date-modify insert-modDate"></td>
                        <th>작성일자</th>
                        <td class="walk-date-register"></td>
                        </th:block>
                        <th:block th:if="${detail.regDate == detail.modDate}">
                        <th>수정일자</th>
                        <td class="walk-date-modify">-</td>
                        <th>작성일자</th>
                        <td class="walk-date-register"></td>
                        </th:block>
                        <th>조회수</th>
                        <td class="viewcount" th:text="${detail.viewCount}"></td>
                        

                    </tr>
                    <tr class="qna-info-title">
                        <th>제목</th>
                        <td colspan="7" th:text="${detail.title}">dd</td>
                        <th>모집 현황</th>
                        <th:block th:if="${detail.walkMateState==0}" >
                        <td class="state" colspan="3" >모집중</td>
                        </th:block>
                        <th:block th:if="${detail.walkMateState==1}" >
                            <td class="state" colspan="3" >모집완료</td>
                        </th:block>
                    </tr>
                    <tr class="qna-info-img">
                        <th>정보</th>
                        <td colspan="10">
                            <div class="walkmate-info-section">
                                <div id="map"></div>
                                <div class="date-loca">
                                    <div class="date" th:text="${detail.mateDate + ' ' + detail.mateTime}"></div>
                                    <div th:text="${detail.fullAddress}" id="fullAddress"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="qna-info-content">
                        <th>내용</th>
                        <td colspan="10"><textarea class="content-textarea" readonly th:text="${detail.content}"></textarea></td>
                    </tr>
                </table>
                <input type="hidden" th:value="${detail.regDate}" id="regDate"/>
                <input type="hidden" th:value="${detail.modDate}" id="modDate"/>
            </div>
        </div>
        <div class="admin-main-wrap" style="margin-top: 10px;">
            <div class="walk-reply-title">
                <h4>신청 회원</h4>
                <span class="material-symbols-outlined showBtn apply-show rotated">
                    keyboard_arrow_down
                    </span>
            </div>

            <div class="walk-apply-section">
                <div class="applier-info" th:each="applierList : ${detail.applierUserListList}">
                    <div class="applier-info-detail">
                        <h5 ><a th:href="@{/admin/userDetail/{id} (id=${applierList.applierUserId})}" th:text="${applierList.applierUserAccount}"></a></h5>
                        <div class="wrap">
                        <img th:src="'/jpa_dw/petimg/' + ${applierList.applierPetImgPath} +'/'+ ${applierList.applierPetImgUuid}+'_'+ ${applierList.applierPetImgName}" alt="신청자 펫 사진"/>
                        <ul class="applier-info-detail-ul">
                            <li>견종 : <span th:text="${applierList.applierPetCate}"></span></li>
                            <li>이름 : <span th:text="${applierList.applierPetName}"></span></li>
                            <li>체중 : <span th:text="${applierList.applierPetWeight +'kg'}"></span></li>
                            <li>성별 : <span th:text="${applierList.applierPetGender}"></span></li>
                            <li>생일 : <span th:text="${applierList.applierPetBirth}"></span></li>
                            <li>중성화 : <span th:text="${applierList.applierPetNeutering}"></span></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="admin-main-wrap" style="margin-top: 10px;">
            <div class="walk-reply-title">
                <h4>댓글</h4>
                <span class="material-symbols-outlined showBtn reply-show rotated">
                    keyboard_arrow_down
                    </span>
            </div>
            <div class="walk-reply-section">
                <ul class="walk-reply-ul" th:each="reply : ${detail.walkMateDetailReplyDtos}">
                    <li class="reply-writer" th:text="${reply.userAccount}"></li>
                    <li class="reply-content" th:text="${reply.walkDetailReplyComment}">제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!제가 알려드릴게요!</li>
                    <li class="reply-reg-date"></li>
                    <input type="hidden" th:value="${reply.walkCommendRd}" id="walkCommendRd" />
                </ul>
            </div>
        </div>
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminWalkDetail.js"></script>
<script src="/fragment/js/adminSide.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d8cddce5e1cf36a90728390b847c19c&autoload=false&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" ></script>

</body>
</html>
