<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/adminSide.css">
    <link rel="stylesheet" href="/admin/css/adminGoodsDetail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>관리자 페이지</title>
</head>
<body class="body">
<div class="top-section">
    <div class="top-title">
        <h3>관리자 페이지</h3>
    </div>
</div>
<div class="admin-index-wrap" >
    <div class="admin-fragment">
        <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">
        </div>
    </div>

<main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>상품 상세</h4>
        </div>
    </div>
    <div class="admin-main-bcc" >
        <div class="admin-main-wrap" >
        
           <div class="goods-img-reg-section"  >
                <div class="goods-stan-info-title">
                    <h4 >상품 기본 정보</h4>
                    <div class="reg-btn" th:each="goods : ${detail}">
                        <button class="reg-submit-btn modify-btn" th:data-goodsid="${goods.id}">수정</button>
                        <button class="reg-submit-btn delete-btn" th:data-goodsid="${goods.id}">삭제</button>
                        <input type="hidden" th:value="${goods.id}" id="goodsId"/>

                    </div>
                </div>
                    
                    <div class="goods-info-container">
                        <table class="goods-info-table" border="1" cellspacing="0" th:each="goods : ${detail}" >
                            <tr>
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">카테고리</th>
                                <td>
                                    <select name="goodsCategory" id="goods-cate" disabled>
                                        <option th:selected="${goods.goodsCategory=='간식'}">간식</option>
                                        <option th:selected="${goods.goodsCategory=='영양제'}">영양제</option>
                                        <option th:selected="${goods.goodsCategory=='위생용품'}">위생용품</option>
                                        <option th:selected="${goods.goodsCategory=='이동장'}" >이동장</option>
                                        <option th:selected="${goods.goodsCategory=='장난감'}" >장난감</option>
                                        <option th:selected="${goods.goodsCategory=='산책용품'}" >산책용품</option>


                                    </select>
                                </td>
                                <th scope="row" rowspan="6">상품 설명</th>
                                <td rowspan="6" class="goods-detail-textarea" th:text="${goods.goodsDetailContent}" ></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">상품명</th>
                                <td><input type="text" name="goodsName" id="goods-name" maxlength="30" th:value="${goods.goodsName}" readonly /></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">상품 수량</th>
                                <td><input type="number" name="goodsQuantity" id="goods-quantity" min="0" th:value="${goods.goodsQuantity}" readonly/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">상품 가격</th>
                                <td><input type="number" name="goodsPrice" id="goods-price" min="0" th:value="${goods.goodsPrice}" readonly/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">제조국(원산지)</th>
                                <td><input type="text" name="goodsMade" id="goods-made-in" th:value="${goods.goodsMade}" readonly /></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">인증허가</th>
                                <td><input type="text" name="goodsCertify" id="goods-certify" th:value="${goods.goodsCertify}" readonly/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">최초 등록일</th>
                                <td><input type="text" name="goodsRegisterDate" id="goods-reg-date" th:value="${goods.goodsRegisterDate}" readonly/></td>
                                <th class="goods-table-column" scope="row">마지막 수정일</th>
                                <th:block th:if="${goods.goodsRegisterDate==goods.goodsModifyDate}">
                                <td><input type="text" name="goodsModifyDate" id="goods-last-modify-date"  value="" readonly/></td>
                                </th:block>
                                <th:block th:unless="${goods.goodsRegisterDate==goods.goodsModifyDate}" >
                                <td><input type="text" name="goodsModifyDate" id="goods-last-modify-date"  th:value="${goods.goodsModifyDate}" readonly/></td>
                                </th:block>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">판매량</th>
                                <td><input type="text" name="goods-sale-count" id="goods-sale-count" readonly/></td>
                                <th class="goods-table-column" scope="row">총 판매금액</th>
                                <td><input type="text" name="goods-total-sale" id="goods-total-sale" readonly/></td>
                            </tr>

                        </table>
                    </div>
                    <div class="goods-img-info-title">
                        <h4>상품 사진 정보</h4>
                    </div>
                    <div class="goods-imgs-wrap">
                        <!-- 상품 메인 및 설명 사진의 미리보기가 나오는 영역 -->
                        <div class="image-lists">
                            <ul class="image-lists-ul">
                                <li class="goods-main-img-p" th:each="goods : ${detail}" >
                                    <div class="img-title" >
                                        <img th:src="'/jpa_dw/goods/'+${goods.goodsMainImgPath}+'/'+${goods.goodsMainImgUuid}+'_'+${goods.goodsMainImgName}" alt="상품 메인사진"/>
                                        <div class="main-img-title">
                                            <span>상품 메인 사진</span>
                                        </div>
                                    </div>
                                </li>
                                <th:block  th:each="detail : ${detail}">
                                <li class="goods-detail-img-p" th:each="imgs, iterState : ${detail.goodsDetailImgs}">
                                    <div class="img-title">
                                        <img th:src="'/jpa_dw/goods/'+${imgs.goodsDetailImgPath}+'/'+${imgs.goodsDetailImgUuid}+'_'+${imgs.goodsDetailImgName}" alt="상품 상세사진"/>
                                        <div class="detail-img-title">
                                            <span th:text="'상품 상세 사진 -' + ${iterState.index+1}"></span>
                                        </div>
                                    </div>
                                </li>
                                </th:block>

                            </ul>
                        </div>
                    </div>
                    
           </div>
        </div>
        <div class="admin-main-wrap" style="margin-top: 20px;">
            <div class="goods-related-info-title">
                <h4>상품 관련 문의사항</h4>
                <span class="material-symbols-outlined showBtn rotated">
                    keyboard_arrow_down
                    </span>
            </div>

            <div class="goods-related-q-container">
                <div class="reply-state-search-section">
                    <input type="radio" name="reply-state" id="reply-state" value="" checked/>
                    <label for="reply-state">전체보기</label>

                    <input type="radio" name="reply-state" id="reply-done" value="1"/>
                    <label for="reply-done">답변완료</label>

                    <input type="radio" name="reply-state" id="reply-wait" value="0"/>
                    <label for="reply-wait">답변대기</label>
                </div>
                <table class="goods-related-q" >
                    <tbody class="goods-related-qna-column">
                    <tr>
                        <th>문의번호</th>
                        <th width="956">문의 내용</th>
                        <th>작성 일자</th>
                        <th> 답변 여부 </th>
                    </tr>
                    </tbody>
                    <tbody class="goods-related-qna-list">
<!--                        상품 관련 문의사항 리스트-->
                    </tbody>
                    
                </table>
                    <div class="pagination-container">
                        <ul class="pagination-ul goods-related-qna-pagination">

                        </ul>
                </div>
            </div>
        </div>
        <div class="admin-main-wrap" style="margin-top: 20px;">
            <div class="goods-related-review-title">
                <h4>상품 관련 리뷰</h4>
                <span class="material-symbols-outlined showBtn rotated">
                    keyboard_arrow_down
                    </span>
            </div>
            <div class="goods-related-review-container">
                <table class="goods-related-review" >
                    <tr>
                        <th>작성자</th>
                        <th width="956">문의 내용</th>
                        <th>작성 일자</th>
                        <th> 답변 여부 </th>
                    </tr>
                    <tr>
                        <td>bokbok1234</td>
                        <td class="q-content">이거 냠냠이가 먹어도 되나요?</td>
                        <td>2011-05-11</td>
                        <td id="reply-td"><button type="button" class="reply-complete reply-btn">답변완료</button></td>
                    </tr>

                    
                </table>
                    <div class="pagination-container">
                        <ul class="pagination-ul">
                            <li><a href="#">&lt;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                </div>
            </div>
        </div>

      
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminGoodsDetail.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>