<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminNoticeReg.css">
    <title>관리자 페이지</title>
</head>
    
<body class="body">
    <div class="top-section">
        <div class="top-title">
            <h3>관리자 페이지</h3>
        </div>
    </div>
    <div class="admin-index-wrap" >
        <div class="admin-fragment">
            <div class="admin-hidden-title">
                <h3>관리자 페이지</h3>
            </div>
            <aside class="aside">
                <ul class="side-menu">
                    <li class="user-manage admin-manage">회원 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul">
                                <li><a href="/admin/html/adminIndex.html">회원 현황</a></li>
                                <li><a href="/admin/html/adminUserList.html">회원 목록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="goods-manage admin-manage">상품 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul">
                                <li><a href="/admin/html/adminGoodsList.html">상품 목록</a></li>
                                <li><a href="/admin/html/adminGoodsQue.html">상품 문의</a></li>
                                <li><a href="/admin/html/adminGoodsReview.html">상품 리뷰</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="order-manage admin-manage">주문 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul">
                                <li><a href="/admin/html/adminOrderManage.html">주문 현황</a></li>
                                    <li><a href="/admin/html/adminOrderList.html">주문 목록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="notice-manage admin-manage">커뮤니티 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul"> 
                                <li><a href="/admin/html/adminNoticeList.html">공지 목록</a></li>
                                <li><a href="/admin/html/adminQnaList.html">QnA 목록</a></li>
                                <li><a href="/admin/html/adminFreeList.html">자유게시판글 목록</a></li>
                                <li><a href="/admin/html/adminWalkList.html">산책글 목록</a></li>

                            </ul>
                        </div>
                    </li>
              
                </ul>
            </aside>
         </div>
    
    <main class="main">
        <div class="admin-menu-title-container">
            <div class="admin-menu-title">
                <h4>Faq 등록</h4>
            </div>
        </div>
        <div class="admin-main-bcc">
            <div class="admin-main-wrap">
                <form action="" method="" id="notice-form">
                    <table class="notice-reg-table">
                        <tr>
                        <colgroup>
                            <col width='120' />
                            <col />
                        </colgroup>
                        </tr>
                        <tr class="notice-reg-tr">
                            <th>제목</th>
                            <td><input type="text" name="notice-title" id="notice-title"></td>
                        </tr>
                        <tr class="notice-reg-tr">
                            <th>내용</th>
                            <td><textarea name="notice-content" id="notice-content"></textarea></td>
                        </tr>
                    </table>
                    <div class="notice-btns">
                        <button class="notice-list-submit-btn btn">목록</button>
                        <button class="notice-reg-submit-btn btn">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminNoticeReg.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>
