<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminOrderManage.css">

    <title>관리자 페이지</title>
</head>
<body class="body">
    <div class="top-section">
        <div class="top-title">
            <h3>관리자 페이지</h3>
        </div>
    </div>
    <div class="admin-index-wrap" >
        <div class="admin-fragment">
            <div class="admin-hidden-title">
                <h3>관리자 페이지</h3>
            </div>
            <aside class="aside">
                <ul class="side-menu">
                    <li class="user-manage admin-manage">회원 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul">
                                <li><a href="/admin/html/adminIndex.html">회원 현황</a></li>
                                <li><a href="/admin/html/adminUserList.html">회원 목록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="goods-manage admin-manage">상품 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul">
                                <li><a href="/admin/html/adminGoodsList.html">상품 목록</a></li>
                                <li><a href="/admin/html/adminGoodsQue.html">상품 문의</a></li>
                                <li><a href="/admin/html/adminGoodsReview.html">상품 리뷰</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="order-manage admin-manage">주문 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul">
                                <li><a href="/admin/html/adminOrderManage.html">주문 현황</a></li>
                                    <li><a href="/admin/html/adminOrderList.html">주문 목록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="notice-manage admin-manage">커뮤니티 관리
                        <div class="sub-menu">
                            <ul class="sub-menu-ul"> 
                                <li><a href="/admin/html/adminNoticeList.html">공지 목록</a></li>
                                <li><a href="/admin/html/adminQnaList.html">QnA 목록</a></li>
                                <li><a href="/admin/html/adminFreeList.html">자유게시판글 목록</a></li>
                                <li><a href="/admin/html/adminWalkList.html">산책글 목록</a></li>
    
                            </ul>
                        </div>
                    </li>
              
                </ul>
            </aside>
         </div>
<main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>주문 현황</h4>
        </div>
    </div>
    <div class="admin-main-bcc">
        <div class="admin-main-wrap">
            <div class="order-chart">
                <div class="order-chart-title">
                    <h4>일별 주문 현황</h4>
                </div>
                <div class="chart-container" >
                    <canvas id="weekly-order-chart" class="order-user-chart" ></canvas>

                </div>
            </div>
            <div class="recent-order-user">
                <div class="recent-order-title">
                    <h4>최신 주문 현황</h4>
                </div>
                <div class="order-table-container">
                    <table class="order-user-table">
                        <tr>
                            <th width="190" height="27">상품명</th>
                            <th width="120">아이디</th>
                            <th>수량</th>
                            <th>주문 일자</th>
                            <th width="120">주문 금액</th>
                        </tr>
                        <tr>
                            <td class="order-goods-name">냠냠이가 좋아하는 젤리</td>
                            <td>bokbok1234</td>
                            <td>3</td>
                            <td>2023-12-25</td>
                            <td>49,000원</td>
                        </tr>
                        <tr>
                            <td class="order-goods-name">냠냠이가 좋아하는 젤리</td>
                            <td>bokbok1234</td>
                            <td>3</td>
                            <td>2023-12-25</td>
                            <td>49,000원</td>
                        </tr>
                        <tr>
                            <td class="order-goods-name">냠냠이가 좋아하는 젤리</td>
                            <td>bokbok1234</td>
                            <td>3</td>
                            <td>2023-12-25</td>
                            <td>49,000원</td>
                        </tr>
                        <tr>
                            <td class="order-goods-name">냠냠이가 좋아하는 젤리</td>
                            <td>bokbok1234</td>
                            <td>3</td>
                            <td>2023-12-25</td>
                            <td>49,000원</td>
                        </tr>
                    
                
                    </table>
                </div>
                <div class="order-status">
                    <ul class="order-status-ul">
                        <li>총 주문 건수
                            <div class="total-user admin-user-info" style="color:rgb(0, 157, 255)">
                                0
                            </div>
                        </li>
                        <li>당일 주문 건수
                            <div class="today-order-user admin-user-info" style="color:rgb(235, 153, 1)">
                                0
                            </div>
                        </li>
                        <li>당일 주문 취소 건수
                            <div class="delete-order admin-user-info" style="color:gray">
                                0
                            </div>
                        </li>
                        <li>총 주문 취소 건수
                            <div class="total-delete-order admin-user-info">
                                0
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="admin-main-wrap cate-wrap" style="margin-top: 50px;">
            <div class="chart">
                <div class="chart-title">
                    <h4>상품 카테고리별 주문 현황</h4>
                </div>
                <div class="chart-container pie-chart-container">
                    <canvas id="cate-sale-ratio" class="cate-chart"></canvas>
                    <div id="legend-div" class="legend-div"></div>
                </div>
            </div>
            <div class="best-order-user">
                <div class="best-order-title">
                    <h4>최다 주문 회원</h4>
                </div>
                <div class="best-order-table-container">
                    <table class="best-order-table">
                        <tr> 
                            <th width="40">랭킹</th>
                            <th width="110" height="27">아이디</th>
                            <th width="80">이름</th>
                            <th width="90">총 주문수</th>
                            <th>총 주문 금액</th>
                        </tr>
                        <tr class="best-order-content">
                            <td> 1</td>
                            <td >bokbok1234</td>
                            <td>복영헌</td>
                            <td>30</td>
                            <td>2,000,000원</td>
                        </tr>
                        <tr class="best-order-content">
                            <td> 1</td>
                            <td >bokbok1234</td>
                            <td>복영헌</td>
                            <td>30</td>
                            <td>2,000,000원</td>
                        </tr>
                        <tr class="best-order-content">
                            <td> 1</td>
                            <td >bokbok1234</td>
                            <td>복영헌</td>
                            <td>30</td>
                            <td>2,000,000원</td>
                        </tr>
                        <tr class="best-order-content">
                            <td> 1</td>
                            <td >bokbok1234</td>
                            <td>복영헌</td>
                            <td>30</td>
                            <td>2,000,000원</td>
                        </tr>
                        <tr class="best-order-content">
                            <td> 1</td>
                            <td >bokbok1234</td>
                            <td>복영헌</td>
                            <td>30</td>
                            <td>2,000,000원</td>
                        </tr>
                        <tr class="best-order-content">
                            <td> 1</td>
                            <td >bokbok1234</td>
                            <td>복영헌</td>
                            <td>30</td>
                            <td>2,000,000원</td>
                        </tr>
                        <tr class="best-order-content">
                            <td> 1</td>
                            <td >bokbok1234</td>
                            <td>복영헌</td>
                            <td>30</td>
                            <td>2,000,000원</td>
                        </tr>
                        
                       
                        
                
                    </table>
                </div>
            
            </div>
        </div>
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/admin/js/adminOrderManage.js"></script>
<script src="/fragment/js/adminSide.js"></script>

</body>
</html>