<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminNoticeReg.css">
    <title>관리자 페이지</title>
</head>
    
<body class="body">
    <div class="top-section">
        <div class="top-title">
            <h3>관리자 페이지</h3>
        </div>
    </div>
    <div class="admin-index-wrap" >
        <div class="admin-fragment">
            <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">
            </div>
        </div>
    
    <main class="main">
        <div class="admin-menu-title-container">
            <div class="admin-menu-title">
                <h4>Faq 등록</h4>
            </div>
        </div>
        <div class="admin-main-bcc">
            <div class="admin-main-wrap">
                <form th:action="@{/admin/faqWrite}" method="post" id="notice-form">
                    <table class="notice-reg-table">
                        <tr>
                        <colgroup>
                            <col width='120' />
                            <col />
                        </colgroup>
                        </tr>
                        <tr class="notice-reg-tr">
                            <th>제목</th>
                            <td><input type="text" name="faqBoardTitle" id="notice-title"></td>
                        </tr>
                        <tr class="notice-reg-tr">
                            <th>내용</th>
                            <td><textarea name="faqBoardContent" id="notice-content"></textarea></td>
                        </tr>
                    </table>
                    <div class="notice-btns">
                        <button class="notice-list-submit-btn btn">목록</button>
                        <button class="notice-reg-submit-btn btn">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminNoticeReg.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>
