<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminGoodsQueDetail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>관리자 페이지</title>
</head>
<body class="body">
<div class="top-section">
    <div class="top-title">
        <h3>관리자 페이지</h3>
    </div>
</div>
<div class="admin-index-wrap" >
    <div class="admin-fragment">
        <div class="admin-hidden-title">
            <h3>관리자 페이지</h3>
        </div>
        <aside class="aside">
            <ul class="side-menu">
                <li class="user-manage admin-manage">회원 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul">
                            <li><a href="/admin/html/adminIndex.html">회원 현황</a></li>
                            <li><a href="/admin/html/adminUserList.html">회원 목록</a></li>
                        </ul>
                    </div>
                </li>
                <li class="goods-manage admin-manage">상품 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul">
                            <li><a href="/admin/html/adminGoodsList.html">상품 목록</a></li>
                            <li><a href="/admin/html/adminGoodsQue.html">상품 문의</a></li>
                            <li><a href="/admin/html/adminGoodsReview.html">상품 리뷰</a></li>
                        </ul>
                    </div>
                </li>
                <li class="order-manage admin-manage">주문 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul">
                            <li><a href="/admin/html/adminOrderManage.html">주문 현황</a></li>
                                <li><a href="/admin/html/adminOrderList.html">주문 목록</a></li>
                        </ul>
                    </div>
                </li>
                <li class="notice-manage admin-manage">커뮤니티 관리
                    <div class="sub-menu">
                        <ul class="sub-menu-ul"> 
                            <li><a href="/admin/html/adminNoticeList.html">공지 목록</a></li>
                            <li><a href="/admin/html/adminQnaList.html">QnA 목록</a></li>
                            <li><a href="/admin/html/adminFreeList.html">자유게시판글 목록</a></li>
                            <li><a href="/admin/html/adminWalkList.html">산책글 목록</a></li>

                        </ul>
                    </div>
                </li>
          
            </ul>
        </aside>
     </div>

<main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>문의 상세</h4>
        </div>
    </div>
    <div class="admin-main-bcc">
        <div class="admin-main-wrap">
        
           <div class="goods-img-reg-section">
                <div class="goods-stan-info-title">
                    <h4>상품 기본 정보</h4>
                </div>
                    
                    <div class="goods-info-container">
                        
                        <table class="goods-info-table" border="1" cellspacing="0">
                            <tr>
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">카테고리</th>
                                <td>
                                    <select name="goods-cate" id="goods-cate" disabled >
                                        <option value="1">간식</option>
                                        <option value="2">영양제</option>
                                        <option value="3">장난감</option>
                                        <option value="4">간식</option>
                                        <option value="5">간식</option>
                                    </select>
                                </td>
                                <th scope="row" rowspan="6">상품 설명</th>
                                <td rowspan="6" class="goods-detail-textarea"><textarea id="goods-detail" name="goods-detail" rows="4" disabled></textarea></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">상품명</th>
                                <td><input type="text" name="goods-name" id="goods-name" maxlength="30" disabled/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">상품 수량</th>
                                <td><input type="number" name="goods-quantity" id="goods-quantity" min="0" disabled/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">상품 가격</th>
                                <td><input type="number" name="goods-price" id="goods-price" min="0" disabled/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">제조국(원산지)</th>
                                <td><input type="text" name="goods-made-in" id="goods-made-in" disabled/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">인증허가</th>
                                <td><input type="text" name="goods-certify" id="goods-certify" disabled/></td>
                            </tr>
                            <tr>
                                <th class="goods-table-column" scope="row">최초 등록일</th>
                                <td><input type="text" name="goods-reg-date" id="goods-reg-date" disabled/></td>
                                <th class="goods-table-column" scope="row">마지막 수정일</th>
                                <td><input type="text" name="goods-last-modify-date" id="goods-last-modify-date" disabled/></td>
                            </tr>
                           

                        </table>
                    </div>
                    <div class="goods-img-info-title">
                        <h4>상품 사진 정보</h4>
                    </div>
                    <div class="goods-imgs-wrap">
                        <div class="image-lists">
                            <ul class="image-lists-ul">
                                <li class="goods-main-img-p">
                                    <div class="img-title">
                                        <img src="" alt="goods-main-img">
                                        <span>상품 메인 사진</span>
                                    </div>
                                </li>
                                <li class="goods-q-content-container">
                                   <div class="goods-q-content">
                                        <h5>문의 내용</h5>
                                        <div class="content">
                                            <p>sdfsdfsdfsdfsdfsdfsdfㄴ아리ㅓㄴ이라ㅓㄴㅇ리ㅏㄴ어리낭러니아런이ㅏ런ㅇ리ㅏㄴ어리ㅏㄴㅇ러ㅣㅏㄴ아러ㅣㄴㅇ런이ㅏ런ㅇ리ㅏㄴ어리ㅏㄴㅇ러ㅣ나러니아러닝ㄹ</p>
                                        </div>
                                    </div>
                                   
                                    <div class="goods-q-reply-container">
                                        <h5>답변 내용</h5>
                                        <!-- 답변이 없으면 '등록된 답변이 없습니다.'라는 문구가 나옴 -->
                                            <div class="if-reply">
                                                <div class="q-reply">sdfsdfsdf</div>
                                                <div class="btns btn-none">
                                                    <button class="modify-reply-btn">수정</button>
                                                    <button class="delete-reply-btn">삭제</button>
                                                </div>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
           </div>
        </div>

        <!-- 답변이 없을 때만 나타남 -->
        <div class="admin-main-wrap" style="margin-top: 10px;">
            <div class="reply-section">
                <form action="" method="" id="reply-form">
                    <textarea name="reply-content" id="reply-content" ></textarea>
                    <div class="reply-btn">
                        <button class="reply-section-btn">답변제출</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminGoodsQueDetail.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>