<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminIndex.css">

    <title>관리자 페이지</title>
</head>
<body class="body">

    <main class="main">
        <form action="/admin/login" method="post">
        <input type="text" name="adminAccount" id="adminId" /> 아이디
        <input type="password" name="adminPassword" id="adminPassword"/>
            <button>로그인</button>
        </form>
    </main>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</body>
</html>