<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminNoticeList.css">
    <title>관리자 페이지</title>
</head>
<body class="body">
<div class="top-section">
    <div class="top-title">
        <h3>관리자 페이지</h3>
    </div>
</div>

<div class="admin-index-wrap" >
    <div class="admin-fragment">

        <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">

        </div>
    </div>

<main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>공지 목록</h4>
        </div>
    </div>
    <div class="admin-main-bcc">
        <div class="admin-main-wrap faq-section">
            <div class="notice-main-title">
                <h4>Faq 목록</h4>
            </div>
            <div class="admin-notice-search-container">
                <form action="" method="" id="search-faq-form">
                    <div class="select-form">
                        <select id="faq-search-cate" name="faqSearchCate">
                            <option value="faqTitle">제목</option>
                            <option value="faqContent">내용</option>
                        </select>
                    </div>
                    <div class="input-form">
                        <input type="text" name="faq-search-keyword" id="faq-search-keyword" />
                    </div>
                    <div class="result-btn">
                        <button type="button" class="result-faq-submit-btn">검색</button>
                    </div>
                </form>
                <div class="notice-reg">
                    <button class="notice-faq-btn">Faq 등록</button>
                </div>
            </div>
            <div class="admin-notice-list-container admin-faq-list-container">
                <div class="admin-notice-list admin-faq-list">
                    <div class="admin-notice-list-table">
                        <div class="notice-number-column column">게시번호</div>
                        <div class="notice-title-column column">FAQ 제목</div>
                        <div class="notice-reg-date-column column">게시일</div>
                        <div class="notice-modify-date-column column">수정일</div>
                        <div class="notice-view-count-column column">조회수</div>
                    </div>
                    <div class="faq-list lists">
                    <!--  Faq 내용-->

                    </div>

                </div>
            </div>
        </div>
        <div class="admin-main-wrap pagination-wrap" style="margin-top: 5px;">
            <div class="pagination-container">
                <ul class="pagination-ul faq-pagination-ul">
                <!--  페이징 섹션-->
                </ul>
            </div>
        </div>
    </div>
   
    <div class="admin-main-bcc">
        <div class="admin-main-wrap notice-section">
            <div class="notice-main-title">
                <h4>공지사항 목록</h4>
            </div>
            <div class="admin-notice-search-container">
                <form action="" method="" id="search-notice-form">
                    <div class="select-form">
                        <select id="notice-search-cate" name="notice-search-cate">
                            <option value="1">제목</option>
                            <option value="2">내용</option>
                        </select>
                    </div>
                    <div class="input-form">
                        <input type="text" name="notice-search-keyword" id="notice-search-keyword" />
                    </div>
                    <div class="result-btn">
                        <button type="button" class="result-notice-submit-btn">검색</button>
                    </div>
                </form>
                <div class="notice-reg">
                    <button class="notice-reg-btn">공지 등록</button>
                </div>
            </div>
            <div class="admin-notice-list-container">
                <div class="admin-notice-list">
                    <div class="admin-notice-list-table">
                        <div class="notice-number-column column">게시번호</div>
                        <div class="notice-title-column column">공지 제목</div>
                        <div class="notice-reg-date-column column">공지 게시일</div>
                        <div class="notice-modify-date-column column">공지 수정일</div>
                        <div class="notice-view-count-column column">조회수</div>
                    </div>
                    
                </div>
<!--                공지사항 리스트-->
                <div class="notice-list lists">

                </div>
                
            </div>
        </div>
        <div class="admin-main-wrap pagination-wrap" style="margin-top: 5px;">
            <div class="pagination-container">
                <ul class="pagination-ul notice-pagination-ul">
                <!--공지사항 페이징 영역-->
                </ul>
            </div>
        </div>
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminNoticeList.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>