<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/css/adminAside.css">
    <link rel="stylesheet" href="/admin/css/adminUserList.css">
    <title>관리자 페이지</title>
</head>
<body class="body">
<div class="top-section">
    <div class="top-title">
        <h3>관리자 페이지</h3>
    </div>
</div>

<div class="admin-index-wrap" >
    <div class="admin-fragment">

        <div class="admin-fragment-section"  th:replace="fragment/adminSide :: admin">

        </div>
    </div>

<main class="main">
    <div class="admin-menu-title-container">
        <div class="admin-menu-title">
            <h4>회원 목록</h4>
        </div>
    </div>
    <div class="admin-main-bcc">
        <div class="admin-main-wrap">
            <div class="user-info-search-container">
                <form action="" method="" id="search-form">
                    <div class="select-form">
                        <select id="search-cate" name="search-cate">
                            <option value="userAccount">아이디</option>
                            <option value="userName">이름</option>
                            <option value="userEmail">이메일</option>
                            <option value="userPhone">휴대전화</option>

                        </select>
                    </div>
                    <div class="input-form">
                        <input type="text" name="search-keyword" id="search-keyword" />
                    </div>
                    <div class="result-btn">
                        <button type="button" class="result-submit-btn">검색</button>
                    </div>
                    <div class="radio-btn">
                        <label for="current-user">
                        <input type="radio" id="current-user" name="userState" value="1" checked/> 현재회원</label>
                        <label for="delete-user">
                        <input type="radio" id="delete-user" name="userState" value="0"/> 탈퇴회원</label>
                    </div>
                </form>
            </div>
            <div class="user-info-list-container">
                <table class="user-info-table" border="1" cellspacing="0">
                    <tr class="table-column">
                        <th width="230">아이디</th>
                        <th width="120">이름</th>
                        <th width="260">이메일</th>
                        <th width="160">전화번호</th>
                        <th width="100">게시글수</th>
                        <th width="100">댓글수</th>
                        <th>비고</th>
                    </tr>
                    <tbody class="user-list">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="admin-main-wrap pagination-wrap" style="margin-top: 10px;">
            <div class="pagination-container">
                <ul class="pagination-ul">

                </ul>
            </div>
        </div>
    </div>
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/admin/js/adminUserList.js"></script>
<script src="/fragment/js/adminSide.js"></script>
</body>
</html>