<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/freeBoardDetail.css">
    <title>자유게시판 상세페이지</title>
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header">

</div>
<!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="cate-title">
                <div class="cate-title-text">자유게시판</div>
            </div>
            
            <!-- 글 시작 -->
            <div class="content-container" th:each="freeBoard : ${detail}">
               <input type="hidden" th:value="${freeBoard.id}" id="freeBoardId">
                <div class="content-box">
                    <div class="img-box">
                        <div class="imgs">
                            <ul class="slider">
                                <li><img src="/img/slideDog01.jfif" alt=""></li>
                                <li><img src="/img/slideDog02.png" alt=""></li>
                                <li><img src="/img/slideDog03.jfif" alt=""></li>
                                <li><img src="/img/slideDog04.jpg" alt=""></li>
                                <li><img src="/img/slideDog05.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="slide-btns">
                            <div class="prev">&lt;</div>
                            <div class="next">&gt;</div>
                        </div>
                    </div>
                    <div class="text-box">
                        <div class="text-title-box">
                            <div class="text-title" th:text="${freeBoard.freeBoardTitle}"></div>
                        </div>
                        <div class="info">
                            <div class="info-id">
                                <div class="info-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div th:text="${freeBoard.userAccount}"></div>
                            </div>
                            <div class="text-date" th:if="${freeBoard.freeBoardMd ne null}" th:text="${freeBoard.freeBoardMd}"></div>
                            <div class="text-date" th:unless="${freeBoard.freeBoardMd ne null}" th:text="${freeBoard.freeBoardRd}"></div>
                        </div>
                        <div class="content-text">
                            <p th:text="${freeBoard.freeBoardContent}">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
<!--                    좋아요, 싫어요 버튼 주석 -->
                    <div class="like-box">
<!--                        <div class="like-btns" id="like">-->
<!--                            <div class="like-btn-imgs"><img src="/img/like.png" alt=""></div>-->
<!--                            <div class="likes" name="freeBoardLike" >5</div>-->
<!--                        </div>-->
<!--                        <div class="like-btns" id="dislike">-->
<!--                            <div class="like-btn-imgs"><img src="/img/dislike.png" alt=""></div>-->
<!--                            <div class="likes" name="freeBoardLike">0</div>-->
<!--                        </div>-->
                    </div>
                    <div class="btns-box">
                        <button class="update-btn" th:data-freeBoardId="${freeBoard.id}">수정</button>
                        <button class="remove-btn" th:data-freeBoardId="${freeBoard.id}">삭제</button>
                        <button class="list-btn">목록</button>
                    </div>
                </div>
            </div>
            <!-- 글 끝 -->

            <!-- 댓글 시작 -->
            <div class="reply-container">
                <div class="reply-title">댓글</div>
                <div class="reply-input">
                    <textarea name="freeBoardContent" placeholder="댓글을 입력해주세요" id="reply-content"></textarea>
                    <button type="button" class="btn-reply">등록</button>
                </div>
                <!-- 댓글 리스트 시작 -->
                <div class="reply-list">
<!--                    <div class="reply">-->

<!--                    </div>-->
                </div>

            <!-- 댓글 입력 끝 -->
            <div class="ad-contaniner"></div>
        </div>
    </main>
    <!-- main 끝 -->

<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer">

</div>
<!--<input type="hidden" th:value="${freeBoard.freeBoardId}" class="freeBoard-num">-->
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/community/js/freeBoardDetail.js"></script>
<script th:inline="javascript"> // 타임리프 문법을 자바스크립트에서 사용하기 위한 설정
let loginNumber = [[${session.userId}]]; // 타임리프 문법은 [] 2개로 감싸줘야 한다.
</script>
</body>
</html>

