<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/freeBoardList.css">
    <link rel="stylesheet" href="/fragment/css/sideBanner.css">
    <title>자유게시판</title>
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header"></div>
<!-- header 끝 -->
<div class="side-banner" style="position: sticky; top: 130px">
    <div class="side-banner-fragment" th:replace="fragment/sideBanner :: side-banner-fragment">
    </div>
</div>
    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="main-content-contaniner">
            <div class="nav-container">
                <ul>

                    <li><a href="/qna/qnaLists">QnA</a></li>
                    <li class="menu-title"><a href="/community/freeBoardList">자유게시판</a></li>
                    <li><a href="/notice/noticeList">공지사항</a></li>
                </ul>
            </div>
            <div class="search-container">
                <div class="searchbox">
                <button type="button" class="search-btn" ><img src="/img/magnifier.png" alt=""></button>
                <input type="text" name="keyword" class="search-freeBoard" placeholder="찾으시는 게시글이 있으신가요?">
            </div>

            </div>

            <div class="best-container">
                <div class="best-container-title">인기글</div>
                <div class="best-container-contents" >

                    <!--인기글 리스트 시작-->
                    <a th:href="@{/community/freeBoardDetail/{freeBoardId}(freeBoardId=${freeBoard.id})}" class="best-container-content" th:each="freeBoard : ${rankList}">
                        <div class="best-content-title"><p th:text="${freeBoard.freeBoardTitle}"></p></div>
                        <div class="best-content-content"><p th:text="${freeBoard.freeBoardContent}"></p></div>
                        <div class="best-content-etc">
                            <div class="best-cotnent-reply">댓글<span th:text="${freeBoard.freeBoardViewCount}"></span></div>
                            <div class="info-date">
                                <div class="best-content-date" th:text="${freeBoard.freeBoardRd}"></div>
                            </div>

                        </div>
                    </a>
                    <!--인기글 리스트 끝-->

                </div>
            </div>

            <div class="list-container">
                <div class="order-n-writebtn">
                    <div class="list-order-box">
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" value="freeBoardRd" name="freeBoard_radio" class="input-radio" checked>
                                    <span>최신 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="commentCount" name="freeBoard_radio" class="input-radio">
                                    <span>댓글 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="freeBoardViewCount" name="freeBoard_radio" class="input-radio">
                                    <span>인기 순</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="write-btn-box" th:if="${session.userId == null}">
                        <a class="write-btn" href="/user/enterLogin">글쓰기</a>
                    </div>
                    <div class="write-btn-box" th:if="${session.userId != null}">
                        <a class="write-btn" href="/community/freeBoardWriting">글쓰기</a>
                    </div>
                </div>
                <div class="list-contents-box" >
                    <!--자유게시판 리스트-->
                </div>

            <div class="list-page-container">
                <div class="list-pages">
                    <ul class="pagination-ul">
                        <!--페이징-->
                    </ul>
                </div>
            </div>
            <div class="ad-container"></div>
        </div>
            </div>
        </div>
    </main>

<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer"></div>
<!-- footer 끝 -->
<input type="hidden" th:value="${session.userId}" id="userId">
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/community/js/freeBoardList.js"></script>
</body>
</html>