<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/freeBoardDetail.css">
    <link rel="stylesheet" href="/fragment/css/sideBanner.css">
    <title>자유게시판 상세페이지</title>
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header"></div>
<!-- header 끝 -->
<div class="side-banner" style="position: sticky; top: 130px">
    <div class="side-banner-fragment" th:replace="fragment/sideBanner :: side-banner-fragment">
    </div>
</div>
    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="main-content-contaniner">
            <div class="cate-title">
                <div class="cate-title-text">자유게시판</div>
            </div>
            
            <!-- 글 시작 -->
            <div class="content-container" th:each="freeBoard : ${detail}">
               <input type="hidden" th:value="${freeBoard.id}" id="freeBoardId">
                <div class="content-box">
                    <div class="img-box">
                        <div class="imgs">
                            <ul class="slider">
                                <th:block th:each="imgs:${freeBoard.freeBoardImgDtoList}">
                                    <li><img th:src="'/jpa_dw/freeBoard/'+${imgs.freeBoardImgRoute}+'/'+${imgs.freeBoardImgUuid}+'_'+${imgs.freeBoardImgName}" alt=""></li>
                                </th:block>
                            </ul>
                        </div>
                        <div class="slide-btns">
                            <div class="prev">&lt;</div>
                            <div class="next">&gt;</div>
                        </div>
                    </div>
                    <div class="text-box">
                        <div class="text-title-box">
                            <div class="text-title" th:text="${freeBoard.freeBoardTitle}"></div>
                        </div>
                        <div class="info">
                            <div class="info-id">
                                <div class="info-img" th:if="freeBoard.userFileId == 0"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="info-img" th:if="freeBoard.userFileId != 0"><img th:src="'/jpa_dw/userfile/'+${freeBoard.route}+'/'+${freeBoard.uuid}+'_'+${freeBoard.name}" alt=""></div>

                                <div th:if="${freeBoard.userNickName == null}" th:text="${freeBoard.userAccount}"></div>
                                <div th:if="${freeBoard.userNickName != null}" th:text="${freeBoard.userNickName}"></div>
                            </div>
                            <div class="info-date">
                                <div class="text-date" th:if="${freeBoard.freeBoardMd ne null}" th:text="${freeBoard.freeBoardMd}"></div>
                                <div class="text-date" th:unless="${freeBoard.freeBoardMd ne null}" th:text="${freeBoard.freeBoardRd}"></div>
                            </div>

                        </div>
                        <div class="content-text">
                            <p th:text="${freeBoard.freeBoardContent}">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <div class="like-box">
                    </div>
                    <div class="btns-box">

                        <div th:if="${session.userId != null}">
                        <button class="update-btn" th:data-freeBoardId="${freeBoard.id}">수정</button>
                        <button class="remove-btn" th:data-freeBoardId="${freeBoard.id}">삭제</button>
                        </div>

                        <div th:if="${session.userId == null}"></div>
                        <button class="list-btn">목록</button>
                    </div>
                </div>
            </div>
            <!-- 글 끝 -->

            <!-- 댓글 시작 -->
            <div class="reply-container">
                <div class="reply-title">댓글</div>
                <div class="reply-input">
                    <textarea name="freeBoardContent" placeholder="댓글을 입력해주세요" id="reply-content"></textarea>
                    <button type="button" class="btn-reply">등록</button>
                </div>
                <!-- 댓글 리스트 시작 -->
                <div class="reply-list">
<!--                    <div class="reply">-->

<!--                    </div>-->
                </div>

            <!-- 댓글 입력 끝 -->
            <div class="ad-contaniner"></div>
        </div>
    </div>
    </main>
    <!-- main 끝 -->

<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer">

</div>
<input type="hidden" th:value="${session.userId}" id="userId" />]
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/community/js/freeBoardDetail.js"></script>
</body>
</html>

