<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/freeBoardList.css">
    <title>자유게시판</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo"><a href=""><img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="/shopping/html/shop.html">쇼핑</a></li>
                        <li><a href="/community/html/freeBoardList.html">커뮤니티</a></li>
                        <li><a href="/walkingMate/html/walkingMateList.html">산책메이트</a></li>
                        <li><a href="/map/html/map.html">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="nav-container">
                <ul>
                    <li><a href="">QnA</a></li>
                    <li  class="menu-title"><a href="">자유게시판</a></li>
                    <li><a href="">공지사항</a></li>
                </ul>
            </div>
            <div class="search-container">
                <div class="searchbox">
                    <img src="/img/magnifier.png" alt=""><input type="text" placeholder="찾으시는 인기글이 있으신가요?">
                </div>
            </div>
            <div class="best-container">
                <div class="best-container-title">인기글</div>
                <div class="best-container-contents">
                    <div class="best-container-content">
                        <div class="best-content-title">쌀강냉이 보고가실래여?</div>
                        <div class="best-content-content">우리 애 쌀강냉이 구경하고 가셔요</div>
                        <div class="best-content-etc">
                            <div class="best-cotnent-reply">댓글<span>5</span></div>
                            <div class="best-content-date">2023-11-23</div>
                        </div>
                    </div>
                    <div class="best-container-content">
                        <div class="best-content-title">쌀강냉이 보고가실래여?</div>
                        <div class="best-content-content">우리 애 쌀강냉이 구경하고 가셔요</div>
                        <div class="best-content-etc">
                            <div class="best-cotnent-reply">댓글<span>5</span></div>
                            <div class="best-content-date">2023-11-23</div>
                        </div>
                    </div>
                    <div class="best-container-content">
                        <div class="best-content-title">쌀강냉이 보고가실래여?</div>
                        <div class="best-content-content">우리 애 쌀강냉이 구경하고 가셔요</div>
                        <div class="best-content-etc">
                            <div class="best-cotnent-reply">댓글<span>5</span></div>
                            <div class="best-content-date">2023-11-23</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="order-n-writebtn">
                    <div class="list-order-box">
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" value="recent">
                                    <span>최신 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="reply">
                                    <span>댓글 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="best">
                                    <span>인기 순</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="write-btn-box">
                        <div class="write-btn"><a href="">글쓰기</a></div>
                    </div>
                </div>
                <div class="list-contents-box">
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지 입김 웃기네요ㅋㅋ</div>
                            <div class="list-content-content">더운데도 힘들어서 숨이 찼는지 김서렸네요ㅋㅋ모든게 하찮아..</div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                                <div class="list-content-time">
                                    <span>13분 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-page-container">
                <div class="list-pages">
                    <ul>
                        <li><a href="">&lt;</a></li>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">&gt;</a></li>
                    </ul>
                </div>
            </div>
            <div class="ad-container"></div>
        </div>
    </main>

    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 끝 -->
</body>
</html>