<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/freeBoardList.css">
    <title>자유게시판</title>
</head>

<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header">

</div>
<!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="nav-container">
                <ul>
                    <li><a href="/qna/qnaLists">QnA</a></li>
                    <li  class="menu-title">
                        <a href="/community/freeBoardList">자유게시판</a>
                    </li>
                    <li><a href="">공지사항</a></li>
                </ul>
            </div>
            <div class="search-container">

                <div class="searchbox"  > <!--id="searchForm" -->
                <a href="" class="result-btn"><img src="/img/magnifier.png" alt=""></a>
                <input type="text" name="keyword" id="freeBoard-search-keyword"  placeholder="찾으시는 인기글이 있으신가요?">
                <button type="button" class="ddd" >버튼</button>

            </div>

            </div>
            <div class="best-container">
                <div class="best-container-title">인기글</div>
                <div class="best-container-contents">

                    <a href="" class="best-container-content">

                        <div class="best-content-title">쌀강냉이 보고가실래여?</div>
                        <div class="best-content-content">우리 애 쌀강냉이 구경하고 가셔요</div>
                        <div class="best-content-etc">
                            <div class="best-cotnent-reply">댓글<span>5</span></div>
                            <div class="best-content-date">2023-11-23</div>
                        </div>

                    </a>

                    <a href="" class="best-container-content">

                        <div class="best-content-title">쌀강냉이 보고가실래여?</div>
                        <div class="best-content-content">우리 애 쌀강냉이 구경하고 가셔요</div>
                        <div class="best-content-etc">
                            <div class="best-cotnent-reply">댓글<span>5</span></div>
                            <div class="best-content-date">2023-11-23</div>
                        </div>

                    </a>

                    <a href="" class="best-container-content">

                        <div class="best-content-title">쌀강냉이 보고가실래여?</div>
                        <div class="best-content-content">우리 애 쌀강냉이 구경하고 가셔요</div>
                        <div class="best-content-etc">
                            <div class="best-cotnent-reply">댓글<span>5</span></div>
                            <div class="best-content-date">2023-11-23</div>
                        </div>

                    </a>

                </div>
            </div>
            <div class="list-container">
                <div class="order-n-writebtn">
                    <div class="list-order-box">
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" value="recent" name="radio" class="input-radio">
                                    <span>최신 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="reply" name="radio" class="input-radio">
                                    <span>댓글 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="best" name="radio" class="input-radio">
                                    <span>인기 순</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="write-btn-box">
                        <a class="write-btn" href="/community/freeBoardWriting">글쓰기</a>
                    </div>
                </div>
                <div class="list-contents-box">
                    <div class="list-content">


    <!-- 리스트 시작 -->
<!--        <div class="content-text-box">-->
<!--            <div class="list-content-title" th:text="${freeBoardDto.freeBoardTitle}"></div>-->
<!--            <div class="list-content-content" th:text="${freeBoardDto.freeBoardContent}"></div>-->
<!--            <div class="list-content-etc">-->
<!--                <div class="list-content-id">-->
<!--                    <div class="list-content-id-img"><img src="/img/dogImg.jpg" alt=""></div>-->
<!--                    <span th:text="${freeBoardDto.users.id}"></span>-->
<!--                </div>-->
<!--                <div class="list-content-reply">-->
<!--                    <span>댓글</span>-->
<!--                    <span class="reply-count" th:text="${freeBoardDto.freeBoardViewCount}"></span>-->
<!--                </div>-->
<!--                <div class="list-content-time">-->
<!--                    <span th:text="${#temporals.format(freeBoardDto.freeBoardRd, 'yyyy-MM-dd HH:mm')}"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="content-img-box" th:if="${not #lists.isEmpty(freeBoardDto.freeBoardImg)}">-->
<!--            <div class="content-img">-->
<!--                <img th:src="${freeBoardDto.freeBoardImg[0].imageUrl}" alt="">-->
<!--            </div>-->
<!--        </div>-->
    <!-- 리스트 끝 -->



                </div>
            </div>
            <div class="list-page-container">
                <div class="list-pages">
                    <ul class="pagination-ul">
<!--                        <li><a href="">&lt;</a></li>-->
<!--                        <li><a href="">1</a></li>-->
<!--                        <li><a href="">2</a></li>-->
<!--                        <li><a href="">3</a></li>-->
<!--                        <li><a href="">4</a></li>-->
<!--                        <li><a href="">5</a></li>-->
<!--                        <li><a href="">&gt;</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="ad-container"></div>
        </div>
    </main>

<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer">

</div>
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/community/js/freeBoardList.js"></script>
</body>

</html>