<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/noticeList.css">
    <link rel="stylesheet" href="/fragment/css/sideBanner.css">
    <title>공지사항</title>
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header"></div>
<!-- header 끝 -->
<div class="side-banner" style="position: sticky; top: 130px">
    <div class="side-banner-fragment" th:replace="fragment/sideBanner :: side-banner-fragment">
    </div>
</div>
    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="main-content-contaniner">
            <div class="nav-container">
                <ul>
                    <li><a href="/qna/qnaLists">QnA</a></li>
                    <li><a href="/community/freeBoardList">자유게시판</a></li>
                    <li class="menu-title"><a href="/notice/noticeList">공지사항</a></li>
                </ul>
            </div>
            <div class="search-container">
                <div class="searchbox">
                    <button type="button" class="search-btn" ><img src="/img/magnifier.png" alt=""></button>
                    <input type="text" name="keyword" class="search-notice" placeholder="찾으시는 게시글이 있으신가요?">
                </div>
            </div>
            <div class="best-container">
                <div class="best-container-title">자주 찾는 공지</div>
                <div class="best-container-contents">
                    <!--공지사항 자주찾는글 시작-->
                    <a th:each="notice : ${rankList}" th:href="@{/notice/noticeDetail/{id}(id=${notice.id})}">
                        <div class="best-container-content">
                            <div class="best-content-title"><p th:text="${notice.noticeBoardTitle}"></p></div>
                            <div class="best-content-content"><p th:text="${notice.noticeBoardContent}"></p></div>
                            <div class="best-content-etc">
                                <div class="best-content-date"><p th:text="${notice.noticeBoardRd}"></p></div>
                            </div>
                        </div>
                    </a>
                    <!--공지사항 자주찾는글 끝-->
                </div>
            </div>
            <div class="list-container">
                <div class="list-title">공지사항</div>
                <div class="list-contents">
                    <table class="list-table">
                        <thead>
                            <tr>
                                <th class="fixed-number">번호</th>
                                <th class="fixed-title">제목</th>
                                <th class="fixed-writer">작성자</th>
                                <th class="fixed-date">날짜</th>
                                <th class="fixed-view">조회수</th>
                            </tr>
                        </thead>
            
                        <tbody class="notice-list">
                        <!--공지사항 리스트-->
<!--                            <tr class="body-columns">-->
<!--                                <td>1</td>-->
<!--                                <td><a href="">공지사항</a></td>-->
<!--                                <td>관리자</td>-->
<!--                                <td>2023-11-26</td>-->
<!--                                <td>123</td>-->
<!--                            </tr>-->

                        </tbody>

                    </table>
                </div>
            </div>
            <div class="list-page-container">
                <div class="list-pages">
                    <ul class="pagination-ul">
                        <!--게시판 리스트-->
                    </ul>
                </div>
            </div>
            <div class="ad-container"></div>
        </div>
        </div>
    </main>

<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer"></div>
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" src="/community/js/noticeList.js"></script>
</body>
</html>