<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/noticeDetail.css">
    <title>공지사항 상세페이지</title>
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header">

</div>
<!-- header 끝 -->
<!-- main 시작 -->
<main>
    <div class="main-container" th:each="notice : ${detail}">
        <div class="main-content-contaniner">
        <div class="cate-title">
            <div class="cate-title-text">공지사항</div>
        </div>
        <div class="title-container" >
            <div class="title-text" th:text="${notice.noticeBoardTitle}">공지사항입니다</div>
            <div class="info">

                <div class="writer-name-date">
                    <div class="writer-name">관리자</div>
                    <div class="info-date">
                        <div class="written-date" th:text="${notice.noticeBoardRd}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content-content">
                <p th:text="${notice.noticeBoardContent}"></p>

            </div>

        </div>

        <div class="info-container">


        </div>

        <div class="ad-contaniner"></div>
    </div>
    </div>
</main>
<!-- main 끝 -->

<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer">

</div>
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/community/js/noticeDetail.js"></script>
</body>
</html>