<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/qnaDetail.css">
    <title>QnA 상세페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header" th:replace="fragment/header :: header">

    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="cate-title">
                <div class="cate-title-text">QnA</div>
            </div>

            <!-- 글 시작 -->
            <div class="content-container" th:each="question : ${detail}">
                <div class="content-box" >
                    <div class="img-box">
                        <div class="imgs" >
                            <ul class="slider">
                                <th:block th:each="imgs:${question.questionDetailDtoList}">
                                <li><img th:src="'/jpa_dw/question/'+${imgs.questionImgRoute}+'/'+${imgs.questionImgUuid}+'_'+${imgs.questionImgName}" alt=""></li>
                                </th:block>
                            </ul>
                        </div>
                        <div class="slide-btns">
                            <div class="prev">&lt;</div>
                            <div class="next">&gt;</div>
                        </div>
                    </div>
                    <div class="text-box">
                        <div class="text-title-box">
                            <div class="text-title" th:text="${question.questionTitle}"></div>
                        </div>
                        <div class="info">
                            <div class="info-id">
                                <div class="info-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div th:text="${question.userName}"></div>
                            </div>
                            <div class="text-date" th:text="${question.questionRd}"></div>
                        </div>
                        <div class="content-text">
                            <p th:text="${question.questionContent}">

                            </p>
                        </div>
                    </div>
                </div>
                <div class="btn-box">


                    <div class="btns-box" th:if="${question.userId == session.userId}">
                        <button  class="modify-btn" th:data-questionid="${question.id}">수정</button>
                        <button  class="remove-btn" th:data-questionid="${question.id}">삭제</button>
                    </div>
                    <div class="btns-box" th:unless="${question.userId == session.userId}">

                    </div>
                </div>
            </div>
            <!-- 글 끝 -->

            <!-- 댓글 시작 -->
            <div class="reply-container">
                <div class="reply-title">댓글</div>
                <div class="reply-input">
                    <textarea name="" id="" placeholder="댓글을 입력해주세요"></textarea>
                    <button>등록</button>
                </div>
                <div class="reply-list">
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                으악 너무 귀엽겠어요. 저는 아이가 4살때 7개월아이를 데리고 왔었는데 너무 원래 있던 아이한테 마음의 준비를 안하고 데려온게 미안했었어요. 
                                어디서 본 글에 갑자기 아이가 들어오기 전에 몇번 계속 만나게 해주고 해야하는데 갑자기 집에 다른 아이가 덜렁 있으면 당황한다 하더라고요ㅠㅠ 
                                아이 성향이 입질이 있거나 하진 않으니 괜찮지 않을까요? 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-contaniner"></div>
        </div>
    </main>
    <!-- main 끝 -->

    <!-- footer 시작 -->
    <div class="footer" th:replace="fragment/footer :: footer">

    </div>
    <!-- footer 끝 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/community/js/qnaDetail.js"></script>
</body>
</html>