<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/qnaList.css">
    <title>QnA</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo"><a href=""><img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="/shopping/html/shop.html">쇼핑</a></li>
                        <li><a href="/community/html/freeBoardList.html">커뮤니티</a></li>
                        <li><a href="/walkingMate/html/walkingMateList.html">산책메이트</a></li>
                        <li><a href="/map/html/map.html">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="nav-container">
                <ul>
                    <li class="menu-title"><a href="">QnA</a></li>
                    <li><a href="">자유게시판</a></li>
                    <li><a href="">공지사항</a></li>
                </ul>
            </div>
            <div class="search-container">
                <div class="searchbox">
                    <img src="/img/magnifier.png" alt=""><input type="text" class="search-question" name="keyword" placeholder="찾으시는 질문이 있으신가요?">
                    <button type="button" class="sbtn search-btn" >버튼</button>
                </div>
            </div>
            <div class="best-container">
                <div class="best-container-title">자주 찾는 질문</div>
                <div class="best-container-contents">
                    <ul class="ul-list">
                        <li class="li-list">
                            <a href="">
                                <div class="best-container-content">
                                    <div class="best-content-title">강아지 눈물자국</div>
                                    <div class="best-content-content">간식도 대부분 사료랑 같은 단백질원으로..</div>
                                    <div class="best-content-etc">
                                        <div class="best-cotnent-reply">댓글<span>5</span></div>
                                        <div class="best-content-date">2023-11-23</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="li-list">
                            <a href="">
                                <div class="best-container-content">
                                    <div class="best-content-title">강아지 눈물자국</div>
                                    <div class="best-content-content">간식도 대부분 사료랑 같은 단백질원으로..</div>
                                    <div class="best-content-etc">
                                        <div class="best-cotnent-reply">댓글<span>5</span></div>
                                        <div class="best-content-date">2023-11-23</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="li-list">
                            <a href="">
                                <div class="best-container-content">
                                    <div class="best-content-title">강아지 눈물자국</div>
                                    <div class="best-content-content">간식도 대부분 사료랑 같은 단백질원으로..</div>
                                    <div class="best-content-etc">
                                        <div class="best-cotnent-reply">댓글<span>5</span></div>
                                        <div class="best-content-date">2023-11-23</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-container">
                <div class="order-n-writebtn">
                    <div class="list-order-box">
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" value="recent" name="radio-btn" class="radio-btn">
                                    <span>최신 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="reply" name="radio-btn" class="radio-btn">
                                    <span>댓글 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="best" name="radio-btn" class="radio-btn">
                                    <span>인기 순</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="write-btn-box">
                        <div class="write-btn"><a href="/qna/qnawrite">글쓰기</a></div>
                    </div>
                </div>
                <div class="list-contents-box">



                </div>
                <div class="list-page-container">
                    <div class="list-pages">
                        <ul class="list-pagestions">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 끝 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script type="module" src="/community/js/qnaList.js"></script>

</body>

</html>