<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/qnaList.css">
    <title>QnA</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header" th:replace="fragment/header :: header">

    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="nav-container">
                <ul>
                    <li class="menu-title"><a href="/qna/qnaLists">QnA</a></li>
                    <li><a href="/community/freeBoardList">자유게시판</a></li>
                    <li><a href="">공지사항</a></li>
                </ul>
            </div>
            <div class="search-container">
                <div class="searchbox">
                    <img src="/img/magnifier.png" alt=""><input type="text" class="search-question" name="keyword" placeholder="찾으시는 질문이 있으신가요?">
                    <button type="button" class="sbtn search-btn" >버튼</button>
                </div>
            </div>
            <div class="best-container">
                <div class="best-container-title">자주 찾는 질문</div>
                <div class="best-container-contents">
                    <ul class="ul-list" th:each="detail:${result}" >
                        <li class="li-list">
                            <a th:href="@{/qna/qnaDetail/{questionId}(questionId = ${detail.id})}">
                                <div class="best-container-content">
                                    <div class="best-content-title" th:text="${detail.questionTitle}"></div>
                                    <div class="best-content-content" >
                                        <div class="best-content" th:text="${detail.questionContent}"></div>
                                    </div>
                                    <div class="best-content-etc">
                                        <div class="best-cotnent-reply">댓글<span th:text="${detail.commentCount}"></span></div>
                                        <div class="best-content-date"  th:text="${#temporals.format(detail.questionMd, 'yyyy-MM-dd')}" ></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="list-container">
                <div class="order-n-writebtn">
                    <div class="list-order-box">
                        <ul>
                            <li>
                                <label>
                                    <input type="radio" value="questionRd" name="state" class="radio-btn" checked>
                                    <span>최신 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="commentCount" name="state" class="radio-btn">
                                    <span>댓글 순</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="questionViewCount" name="state" class="radio-btn">
                                    <span>인기 순</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="write-btn-box">
                            <div class="write-btn" th:if="${session.userId == null}">
                                <a href="/user/enterLogin">로그인</a>
                            </div>

                            <div class="write-btn" th:if="${session.userId != null}">
                                <a href="/qna/qnawrite">글쓰기</a>
                            </div>

                    </div>
                </div>
                <div class="list-contents-box">



                </div>
                <div class="list-page-container">
                    <div class="list-pages">
                        <ul class="list-pagestions">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer 시작 -->
    <div class="footer" th:replace="fragment/footer :: footer">

    </div>
    <!-- footer 끝 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script type="module" src="/community/js/qnaList.js"></script>

</body>

</html>