<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/sideBanner.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/walkingMateDetail.css">
    <title>산책메이트-상세페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header" th:replace="fragment/header :: header">

    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main class="main">
        <div class="main-container" >
            <div class="side-banner" style="position: sticky; width: 100%">
                <div class="side-banner-fragment" th:replace="fragment/sideBanner :: side-banner-fragment">

                </div>
            </div>
           <div class="walk-mate-detail-container" >
                <div class="walk-mate-top-info-section">
                    <ul class="walk-mate-top-info-ul">
                        <li class="walk-mate-writer detail-info">
                            <p th:if="${detail.userNickName==null}">작성자<span th:text="${detail.userAccount}"></span></p>
                            <p th:unless="${detail.userNickName==null}" >작성자<span th:text="${detail.userNickName}"></span></p>
                        </li>
                        <th:block th:if="${detail.registeredDate != detail.modifiedDate}">
                        <li class="walk-mate-modified-date detail-info">
                            <p>수정일<span th:text="${detail.modifiedDate}"></span></p>
                        </li>
                        </th:block>
                        <th:block th:if="${detail.registeredDate == detail.modifiedDate}">
                            <li class="walk-mate-modified-date detail-info">
                                <p></p>
                            </li>
                        </th:block>
                        <li class="walk-mate-registered-date detail-info">
                            <p>등록일 <span th:text="${detail.registeredDate}"></span></p>
                        </li>
                        <li class="walk-mate-view-count detail-info">
                            <p>조회수<span th:text="${detail.viewCount}"></span></p>
                        </li>
                    </ul>
                </div>

               <div class="walk-mate-etc-info-section">

                   <div class="title-content-wrap">
                       <div class="walk-mate-state">
                           <p>모집 현황</p>
                           <div th:text="${detail.currentPerson} +' / ' + ${detail.matePerson}" class="current-person"></div>
                       </div>
                        <div class="walk-mate-title-section">
                            <h4 th:text="${detail.title}"></h4>
                       </div>
                    <div class="walk-mate-content-section">
                        <textarea th:text="${detail.content}" class="walk-mate-textarea" readonly></textarea>
                    </div>
                   </div>
                   <div class="map-container">
                       <div class="writer-pet-section">
<!--                           <div class="writer-pet-title">-->
<!--                               <th:block th:if="${detail.userNickName == null}">-->
<!--                                   <h4><span th:text="${detail.userAccount}"></span>님의 펫에 관한 정보입니다.</h4>-->
<!--                               </th:block>-->
<!--                               <th:block th:if="${detail.userNickName != null}">-->
<!--                                   <h4><span th:text="${detail.userNickName}"></span>님의 펫에 관한 정보입니다.</h4>-->
<!--                               </th:block>-->
<!--                           </div>-->
                           <div class="writer-pet-info">
                               <ul class="writer-pet-info-ul">
                                   <li class="writer-pet-info-ul-li writer-pet-img">
                                       <img th:src="'/jpa_dw/petimg/' + ${detail.petImgPath} +'/' + ${detail.petImgUuid} +'_' + ${detail.petImgName} " alt="작성자 펫 정보">
                                   </li>
                                   <li class="writer-pet-info-ul-li writer-pet-detail">
                                       <div class="writer-pet-detail">
                                           <ul>
                                               <li>견종 : <span th:text="${detail.petCate}"></span></li>
                                               <li>이름 : <span th:text="${detail.petName}"></span></li>
                                               <li>무게 : <span th:text="${detail.petWeight} + kg"></span></li>
                                               <li>중성화 : <span th:text="${detail.neutering}"></span></li>
                                               <li>성별 : <span th:text="${detail.petGender}"></span></li>
                                           </ul>
                                       </div>
                                   </li>

                               </ul>
                           </div>
                       </div>
                       <div id="map" ></div>
                       <div class="mate-date-time-address">
                           <div class="mate-date-time">
                               <div class="mate-date" th:text="${detail.mateDate}"></div>
                               <div class="mate-time" th:text="${detail.mateTime}"></div>
                           </div>
                           <input type="text" th:value="${detail.fullAddress}" readonly id="fullsAddress">
                       </div>
                   </div>
               </div>
               <div class="btns-container">
                    <div class="writer-btns btns" th:if="${detail.userId == session.userId}">
                        <button class="list-btn btn" type="button" >목록</button>
                        <button class="modify-btn btn" type="button" th:data-walkboardid="${detail.id}">수정하기</button>
                        <button class="delete-btn btn" type="button" th:data-walkboardid="${detail.id}">삭제하기</button>
                    </div>
                   <div class="apply btns" th:if="${detail.userId != session.userId}">
                       <button class="list-btn btn">목록</button>
                       <button class="apply-btn btn" th:data-walkboardid="${detail.id}">신청하기</button>
                   </div>
               </div>
           </div>

            <!-- 글 끝 -->

<!--            <div class="writer-pet-section">-->
<!--                <div class="writer-pet-title">-->
<!--                    <th:block th:if="${detail.userNickName == null}">-->
<!--                    <h4><span th:text="${detail.userAccount}"></span>님의 펫에 관한 정보입니다.</h4>-->
<!--                    </th:block>-->
<!--                    <th:block th:if="${detail.userNickName != null}">-->
<!--                        <h4><span th:text="${detail.userNickName}"></span>님의 펫에 관한 정보입니다.</h4>-->
<!--                    </th:block>-->
<!--                </div>-->
<!--                <div class="writer-pet-info">-->
<!--                    <ul class="writer-pet-info-ul">-->
<!--                        <li class="writer-pet-info-ul-li writer-pet-img">-->
<!--                            <img th:src="'/jpa_dw/petimg/' + ${detail.petImgPath} +'/' + ${detail.petImgUuid} +'_' + ${detail.petImgName} " alt="작성자 펫 정보">-->
<!--                        </li>-->
<!--                        <li class="writer-pet-info-ul-li writer-pet-detail">-->
<!--                            <div class="writer-pet-detail">-->
<!--                                <ul>-->
<!--                                    <li>견종 : <span th:text="${detail.petCate}"></span></li>-->
<!--                                    <li>이름 : <span th:text="${detail.petName}"></span></li>-->
<!--                                    <li>무게 : <span th:text="${detail.petWeight} + kg"></span></li>-->
<!--                                    <li>중성화 : <span th:text="${detail.neutering}"></span></li>-->
<!--                                    <li>성별 : <span th:text="${detail.petGender}"></span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

            <!--            <div class="party">참가자 펫정보 영역</div>-->


<!--            <a th:href="@{/walk/modify/{id} (id=${detail.id})}">dddd</a>-->







            <!-- 댓글 시작 -->
            <th:block th:if="${session.userId != null}" >
            <div class="reply-container" >
                <div class="reply-title">댓글</div>
                <div class="reply-input">
                    <textarea name="walkBoardComment" id="walkBoardComment" placeholder="댓글을 입력해주세요"></textarea>
                    <div class="comment-length-Check"></div>
                    <button class="reply-submit">등록</button>
                </div>
                <div class="reply-list">
<!--                    댓글 영역-->
                </div>
            </div>
            </th:block>
            <th:block th:unless="${session.userId != null}">
                <div class="required-login-section">
                    <h5>댓글 기능을 이용하실려면 로그인과 산책메이트 작성자의 승인이 필요합니다.</h5>
                    <a href="/user/enterLogin"> 로그인 이동하기 </a>
                </div>
            </th:block>
        </div>
    </main>
    <input type="hidden" th:value="${detail.id}" id="walkBoardId" />
    <input type="hidden" th:value="${session.userId}" id="userId" />
    <!-- main 끝 -->

    <!-- footer 시작 -->
    <div class="footer" th:replace="fragment/footer :: footer">

    </div>
    <!-- footer 끝 -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d8cddce5e1cf36a90728390b847c19c&autoload=false&libraries=services"></script>
    <script type="module" src="/community/js/walkingMateDetail.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" ></script>

</body>
</html>