<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/walkingMateDetail.css">
    <title>산책메이트-상세페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header" th:replace="fragment/header :: header">

    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main class="main">
        <div class="main-container" >
           <div class="walk-mate-detail-container" >
                <div class="walk-mate-title-section">
                    <h4 th:text="${detail.title}"></h4>
                </div>
               <div class="walk-mate-etc-info-section">
                <div class="walk-mate-content-section">
                    <textarea th:text="${detail.content}"></textarea>
                </div>
               </div>

                <div class="map-container">
                    <div class="address">
                        <input type="text" th:value="${detail.fullAddress}" readonly id="fullsAddress">
                    </div>
                    <div id="map" style="height: 300px; width: 300px"></div>
                </div>
           </div>

            <!-- 글 끝 -->




            <div class="writer-pet-section">
                <div class="writer-pet-title">
                    <th:block th:if="${detail.userNickName == null}">
                    <h4><span th:text="${detail.userAccount}"></span>님의 펫에 관한 정보입니다.</h4>
                    </th:block>
                    <th:block th:if="${detail.userNickName != null}">
                        <h4><span th:text="${detail.userNickName}"></span>님의 펫에 관한 정보입니다.</h4>
                    </th:block>
                </div>
                <div class="writer-pet-info">
                    <ul class="writer-pet-info-ul">
                        <li class="writer-pet-info-ul-li">
                            <img th:src="'/jpa_dw/petimg/' + ${detail.petImgPath} +'/' + ${detail.petImgUuid} +'_' + ${detail.petImgName} " alt="작성자 펫 정보">
                        </li>
                        <li class="writer-pet-info-ul-li">
                            <div class="writer-pet-detail">
                                <ul>
                                    <li>견종 : <span th:text="${detail.petCate}"></span></li>
                                    <li>이름 : <span th:text="${detail.petName}"></span></li>
                                    <li>무게 : <span th:text="${detail.petWeight}"></span></li>
                                    <li>중성화 : <span th:text="${detail.neutering}"></span></li>
                                    <li>성별 : <span th:text="${detail.petGender}"></span></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            


            <a th:href="@{/walk/modify/{id} (id=${detail.id})}">dddd</a>







            <!-- 댓글 시작 -->
            <div class="reply-container">
                <div class="reply-title">댓글</div>
                <div class="reply-input">
                    <textarea name="" id="" placeholder="댓글을 입력해주세요"></textarea>
                    <button>등록</button>
                </div>
                <div class="reply-list">
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-contaniner"></div>
        </div>
    </main>
    <!-- main 끝 -->

    <!-- footer 시작 -->
    <div class="footer" th:replace="fragment/footer :: footer">

    </div>
    <!-- footer 끝 -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d8cddce5e1cf36a90728390b847c19c&autoload=false&libraries=services"></script>
    <script src="/community/js/walkingMateDetail.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" ></script>

</body>
</html>