<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/writingQna.css">
    <title>QnA글작성페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo"><a href=""><img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="/shopping/html/shop.html">쇼핑</a></li>
                        <li><a href="/community/html/freeBoardList.html">커뮤니티</a></li>
                        <li><a href="/walkingMate/html/walkingMateList.html">산책메이트</a></li>
                        <li><a href="/map/html/map.html">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="breed-input-box">
                <div class="input-title">견종 선택</div>
                <div class="input-content">
                    <select name="breed" id="">
                        <option value="golden" style="background-image: url(/img/qna_golden.png);">골든리트리버</option>
                        <option value="dachshund">닥스훈트</option>
                        <option value="labrador">라브라도리트리버</option>
                        <option value="maltese">말티즈</option>
                        <option value="collie">보더콜리</option>
                        <option value="bulldog">불독</option>
                        <option value="bichon">비숑프리제</option>
                        <option value="schnauzer">슈나우저</option>
                        <option value="spitz">스피츠</option>
                        <option value="shiba">시바견</option>
                        <option value="shihtzu">시츄</option>
                        <option value="yorkshire">요크셔테리어</option>
                        <option value="corgi">웰시코기</option>
                        <option value="greyhound">이탈리안그레이하운드</option>
                        <option value="chowchow">차우차우</option>
                        <option value="chihuahua">치와와</option>
                        <option value="cockerspaniel">코카스파니엘</option>
                        <option value="jindo ">진돗개</option>
                        <option value="pug">퍼그</option>
                        <option value="pomeranian">포메라니안</option>
                        <option value="poodle">푸들</option>
                        <option value="husky">시베리안허스키</option>
                        <option value="etc">기타</option>
                    </select>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title-box">
                    <div class="content-title">QnA 질문 작성</div>
                    <div class="content-title-input">
                        <input type="text" placeholder="제목을 입력해주세요">
                    </div>
                </div>
                <div class="content-content-box">
                    <textarea name="" id=""></textarea>
                </div>
            </div>
            <div class="file-box">
                <div class="file-box-title">사진 업로드</div>
                <div class="file-box-imgs">
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                </div>
                <div class="file-box-etc">
                    <div class="file-input-btn">
                        <label for="file">
                            <div class="btn-upload">
                                <img src="/img/addfile.png" alt="">
                            </div>
                          </label>
                          <input type="file" name="file" id="file">
                    </div>
                    <div class="file-input-text">개당 업로드 용량: 20MB, 최대 5개 업로드 가능합니다.</div>
                </div>
            </div>
            <div class="btn-box">
                <div class="add-content-btn">질문 등록</div>
            </div>
        </div>
    </main>

    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 끝 -->
</body>
</html>