<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/writingQna.css">
    <title>QnA글작성페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header" th:replace="fragment/header :: header">

    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <form th:action="@{/qna/qnawriteform}" method="post" class="" enctype="multipart/form-data">
                <div class="content-box">
                    <div class="content-title-box">
                        <div class="content-title">QnA 질문 작성</div>
                        <div class="content-title-input">
                            <input type="text" placeholder="제목을 입력해주세요" name="questionTitle">
                        </div>
                    </div>
                    <div class="content-content-box">
                        <textarea name="questionContent" id=""></textarea>
                    </div>
                </div>
                <div class="file-box">
                    <div class="file-box-title">사진 업로드</div>
                    <div class="file-box-imgs">
                        <div><img src="" alt=""></div>
                        <div><img src="" alt=""></div>
                        <div><img src="" alt=""></div>
                        <div><img src="" alt=""></div>
                        <div><img src="" alt=""></div>
                    </div>
                    <div class="file-box-etc">
                        <div class="file-input-btn">
                            <label for="file">
                                <div class="btn-upload">
                                    <img src="/img/addfile.png" alt="">
                                </div>
                              </label>
                              <input type="file" name="file" id="file">
                        </div>
                        <div class="file-input-text">개당 업로드 용량: 20MB, 최대 5개 업로드 가능합니다.</div>
                    </div>
                </div>
                <div class="btn-box">
                    <button type="submit" class="add-content-btn">질문 등록</button>
                </div>
            </form>
        </div>
    </main>

    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 끝 -->
</body>
</html>