<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/community/css/writingModifyQna.css">
    <title>QnA수정페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header" th:replace="fragment/header :: header">

    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container" th:each="modify :${question}">
            <form th:action="@{/qna/modify/{id}/edit (id=${modify.id})}" th:method="put" class="" enctype="multipart/form-data" >

                <div class="content-box">
                    <div class="content-title-box">
                        <div class="content-title">QnA 질문 작성</div>
                        <div class="content-title-input">
                            <input type="text"  name="questionTitle" th:value="${modify.questionTitle}"/>
                        </div>
                    </div>
                    <div class="content-content-box">
                        <textarea name="questionContent" th:value="${modify.questionContent}"></textarea>
                    </div>
                </div>
                <div class="file-box">
                    <div class="file-box-title">사진</div>
                    <div class="file-box-imgs">
                        <ul class="file-wrap">
                            <th:block th:each="imgs:${modify.questionDetailDtoList}">
                                <li class="img-list">
                                    <img class="addimg" th:src="'/jpa_dw/question/'+${imgs.questionImgRoute}+'/'+${imgs.questionImgUuid}+'_'+${imgs.questionImgName}">
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div class="update-img">
                    <div class="file-title">사진 업로드</div>
                    <div class="file-imgs">
                        <ul class="file-wraps">
                            <li class="imgs-list">
                            </li>
                            <li class="imgs-list">
                            </li>
                            <li class="imgs-list">
                            </li>
                            <li class="imgs-list">
                            </li>
                            <li class="imgs-list">
                            </li>

                        </ul>
                    </div>
                    <div class="file-box-etc">
                        <div class="file-input-btn">
                            <label for="files">
                                <div class="btn-upload">
                                    <img src="/img/addfile.png" alt="">
                                </div>
                            </label>
                              <input type="file" name="questionImg" id="files"  accept="image/*" multiple/>
                        </div>
                        <div class="file-input-text">개당 업로드 용량: 20MB, 최대 5개 업로드 가능합니다.</div>
                    </div>
                </div>

                <div class="btn-box">
                    <button type="submit" class="add-content-btn">질문 등록</button>
                </div>

            </form>
        </div>
    </main>

    <!-- footer 시작 -->
    <div class="footer" th:replace="fragment/footer :: footer">

    </div>
    <!-- footer 끝 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="/community/js/writingModifyQna.js"></script>
</body>
</html>