*{
    font-family: 'Pretendard-Regular';
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    color: black;
}
main{
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 1024px;
    min-width: 1024px;
    height: 100%;
    /* background-color: pink; */
}
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.menu-title a{
    text-decoration: underline #FCD11E;
    text-underline-offset: 5px;
}
.nav-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container ul li{
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
}
.nav-container ul li:hover a{
    text-decoration: underline #FCD11E;
    text-underline-offset: 5px;
}
.search-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.searchbox{
    width: 80%;
    height: 60%;
    border: 2px solid #FCD11E;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.searchbox input{
    width: 90%;
    height: 85%;
    border: none;
}
.searchbox input:focus{
    outline: none;
}
.best-container{
    width: 100%;
    height: 250px;
    /* background-color: aqua; */
}
.best-container-title{
    width: 100%;
    height: 25%;
    font-size: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    /* background-color: pink; */
}
.best-container-contents{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}
.best-container-content{
    width: 30%;
    height: 95%;
    margin: 0 15px;
    border-radius: 10px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,.15));
    /* box-shadow: 3px 3px 3px 3px rgb(234, 233, 233); */
    border: 0.5px solid rgb(234, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffdf4;
}
.best-content-title{
    width: 90%;
    height: 30%;
    font-size: 18px;
    display: flex;
    align-items: center;
    /* background-color: pink; */
}
.best-content-content{
    width: 90%;
    height: 30%;
    font-size: 14px;
    color: gray;
    display: flex;
    align-items: center;
    /* background-color: blanchedalmond; */
}
.best-content-etc{
    width: 90%;
    height: 30%;
    display: flex;
    font-size: 12.5px;
    color: rgb(71, 71, 71);
    /* background-color: yellow; */
}
.best-cotnent-reply{
    margin: 0 15px 0 0;
}
.list-container{
    width: 100%;
    height: 1600px;
    /* background-color: orange; */
}
.order-n-writebtn{
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 13.5px;
    box-sizing: border-box;
    padding: 15px 0;
    /* background-color: yellow; */
}
.list-order-box{
    width: 40%;
    height: 30px;

    /* background-color: blue; */
    
}
.list-order-box ul{
    margin: 0 10px;
}
.list-order-box ul li{
    display: inline-block;
    margin: 0 10px;
}
.write-btn-box{
    width: 130px;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    /* background-color: pink; */
}
.write-btn{
    width: 70px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    background-color: #FCD11E;
}
.write-btn a{
    color: #3b3b3b;
}
.list-contents-box{
    width: 100%;
    height: 1350px;
    /* background-color: gold; */
}
.list-content{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #E4E4E4;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: center;
    /* background-color: olivedrab; */
}
.content-text-box{
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
}
.list-content-title{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    font-size: 15px;
    font-weight: bolder;
    /* background-color: greenyellow; */
}
.list-content-content{
    width: 100%;
    height: 30%;
    display: flex;
    font-size: 13.5px;
    color: gray;
    align-items: center;
    /* background-color: papayawhip; */
}
.list-content-etc{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    font-size: 12.5px;
    /* background-color: paleturquoise; */
}
.list-content-id, .list-content-reply{
    display: flex;
    align-items: center; 
    box-sizing: border-box;
    padding: 8px 20px 8px 0; 
}
.list-content-id img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 70%;
}
.reply-count{
    margin: 0 3px;
}
.content-img-box{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}
.content-img{
    width: 95%;
    height: 95%;
    border-radius: 10px;
    background-color: #FCD11E;
}
.content-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.list-page-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
}
.list-pages{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.list-pages ul li{
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
}
.ad-container{
    width: 100%;
    height: 200px;
    /* background-color: blue; */
}
