*{
    font-family: 'Pretendard-Regular';
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    color: black;
}
main{
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 1024px;
    min-width: 1024px;
    height: 100%;
    /* background-color: pink; */
}
.cate-title{
    width: 100%;
    height: 50px;

    font-size: 16px;
    
    display: flex;
    align-items: end;
    /* justify-content: end; */

    box-sizing: border-box;
    padding: 0px 10px;
    /* background-color: red; */
}
.cate-title-text{
    width: 100px;
    height: 30px;

    /* font-weight: bold; */
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: #FCD11E;
}
.title-container{
    width: 100%;
    height: 60px;
    
    font-size: 22px;
    
    
    display: flex;
    /* align-items: end; */
    justify-content: space-between;
    
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #E4E4E4;
    /* background-color: aquamarine; */
}
.title-text{
    width: 870px;
    height: 100%;

    font-weight: bold;

    display: flex;
    align-items: end;

    font-family: 'TAEBAEKmilkyway';
    /* background-color: palevioletred; */

}
.info{
    width: 130px;
    height: 100%;
    display: flex;

    display: flex;
    justify-content: end;
    /* background-color: red; */
}
.writer-img{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.writer-img img{
    width: 30px;
    height: 30px;
    border-radius: 70%;
}
.writer-name-date{
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    box-sizing: border-box;
    padding: 0 5px;
    /* background-color: yellow; */
}
.writer-name{
    font-weight: bold;
}
.content-container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    /* background-color: bisque; */
}
.content-content{
    white-space: pre-wrap;
}
.content-content{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /* background-color: aqua; */
}
.content-img{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
}
.content-container img{
    width: 350px;
    height: 350px;
}
.like-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
}
.likes{
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}
.like, .dislike{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    border: 2px solid black;
    margin: 0 10px;
}
.like img, .dislike img{
    width: 20px;
    height: 20px;
}
.like-btn, .dislike-btn{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: aqua; */
}
.like-count, .dislike-count{
    width: 15px;
    height: 15px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    /* background-color: orange; */
}
.info-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding: 10px;
    align-items: end;
    border-bottom: 1px solid #E4E4E4;
    /* background-color: violet; */
}
.btn-container{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.update-btn, .delete-btn{
    width: 90px;
    height: 30px;
    margin:  0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-weight: bold; */
    border-radius: 10px;
    background-color: #FCD11E;
}
.reply-container{
    width: 100%;
    height: auto;
}
.reply-title{
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
    margin: 30px 0 15px 0;
    display: flex;
    align-items: end;
    /* background-color: yellow; */
}
.reply-input{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: pink; */
}
.reply-input textarea{
    width: 98%;
    height: 98%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #E4E4E4;
    resize: none;
}
.reply-input button{
    width: 70px;
    height: 25px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    border-radius: 15px;
    border: none;
    background-color: #FCD11E;
    color: white;
    cursor: pointer;
}
.reply-list{
    width: 100%;
    height: 1000px;
    margin: 30px 0;
    /* background-color: antiquewhite; */
}
.reply{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #E4E4E4;
    box-sizing: border-box;
    padding: 5px 10px;
    /* background-color: #FCD11E; */
}
.id-and-date{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
}
.reply-info{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.reply-img{
    width: 20px;
    height: 20px;
    border-radius: 70%;
}
.reply-img img{
    width: 100%;
    height: 100%;
    border-radius: 70%;
}
.reply-id{
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
}
.reply-date{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    /* background-color: palevioletred; */
    /* color: gray; */
}
.reply-content-n-btns{
    width: 100%;
    height: auto;

    display: flex;
    align-items: end;
    /* background-color: pink; */
}
.reply-content{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    /* background-color: salmon; */
}
.reply-btns{
    width: 10%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: end;

    font-size: 12px;

    /* background-color: yellow; */
}
.update-reply, .delete-reply{
    width: 45px;
    height: 20px;
    margin: 0 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: #f1efef;
    cursor: pointer;
}
.update-reply a, .delete-reply a{
    color: #898787;
}
.ad-contaniner{
    width: 100%;
    height: 200px;
}