.main {
    font-family: 'GmarketSansMedium';

    margin-top: 90px ;
}
.main-container{
    width: 1024px;
    min-width: 1024px;
    height: 760px;
    margin: 0 auto;
}
.cate-title-box{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: end;
    box-sizing: border-box;


}




.mate-title-box{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.title-input-wrap{
    width: 1024px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid gray;

}
.title-input-wrap input{
    width: 98%;
    height: 90%;

    border: none;
}
.title-input-wrap input:focus{
    outline: none;
}
.mate-content-box{
    width: 100%;
    height: 473px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-input-section {
    border:1px solid gray;
    box-sizing: border-box;
    padding:0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
}

.mate-content-box textarea{

    width: 692px;
    height: 450px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-right: 1px solid gray;
    resize: none;

}


.non-registered-pet p {
    background: white;
    display: flex;
    width: 100%;
    text-indent: 5px;
    font-size: 12px;
    height: 33px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: gray;
}

.non-registered-pet p a {
    color: black;
    font-size: 13px;
}

textarea:focus {
    outline: none;
}




.mate-select-box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding:10px 0px 10px 10px;

}


.mate-select-box-table {
    background-color:  #F8BE41;
    border-collapse: collapse;


}

.mate-th {
    border-radius: 10px;
    display: none;
    border-bottom: 1px solid gray;
    font-size: 12px;
    font-weight: 300;
}

.mate-select-box-table td {
    border-bottom: 1px solid gray;

}


.mate-date-td {
    position: relative;
}

#datepicker {
    text-indent: 10px;
    height: 30px;
    width: 300px;
    border: none;
}

.ui-datepicker-trigger{
    position: absolute;
    cursor: pointer;
    height: 30px;
    top: 0px;
    right: 0px;
    height: 28px;
    width: 28px;
}

#ui-datepicker-div {
    width: 294px ;
}


#walkingMateTime, #walkingMatePerson {
    text-indent: 5px;
    width: 300px;
    height: 33px;
    border: none;
}

.search-box {
    position: relative;
}

#addr {
    text-indent: 5px;
    height: 30px;
    border: none;
    width: 300px;
}

#petName {
    width: 100%;
    height: 33px;
    border: none;
}

#search-btn {
    width: 20px;
    height: 20px;
    right: 0;
    position: absolute;
    top: 6px;
    cursor: pointer;
}

#map{

    width: 300px;
    height: 289px;
}



.mate-btn-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding: 10px;
}

.btns {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    width: 100px;
    height: 29px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.btns:after{
    content: "";
    top: 0;
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #F8BE41;
}
.btns:hover:after {
    width: 100%;
    z-index: -1;
}
.list-btn {
    margin-right: 10px;
}


.banner-section {
    width: 1024px;
    height: 250px;
    margin: 0 auto 50px auto;
}

.banner-section img {
    width: 100%;
    height: 100%;
}