<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/walkingMate/css/walkingMateWrite.css">
    <title>산책메이트 글 작성</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo"><a href=""><img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="/shopping/html/shop.html">쇼핑</a></li>
                        <li><a href="/community/html/freeBoardList.html">커뮤니티</a></li>
                        <li><a href="/walkingMate/html/walkingMateList.html">산책메이트</a></li>
                        <li><a href="/map/html/map.html">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="cate-title-box">산책메이트</div>
            <div class="mate-title-box">
                <div class="title-input-wrap">
                    <input type="text" placeholder="제목을 입력해주새요">
                </div>
            </div>
            <div class="mate-content-box">
                <textarea name="" placeholder="내용을 입력해주세요"></textarea>
            </div>
            <div class="mate-select-box">
                <div class="select-time">
                    <div class="select-time-title">약속 시간</div>
                    <div class="selct-one-time">
                        <select name="" id="">
                            <option value="">10:00</option>
                            <option value="">11:00</option>
                            <option value="">12:00</option>
                            <option value="">13:00</option>
                            <option value="">14:00</option>
                            <option value="">15:00</option>
                            <option value="">16:00</option>
                            <option value="">17:00</option>
                            <option value="">18:00</option>
                            <option value="">19:00</option>
                            <option value="">20:00</option>
                        </select>
                    </div>


                </div>

                <div class="select-member">
                    <div class="select-member-title">산책 인원</div>
                    <div class="selct-one-member">
                        <select name="" id="">
                            <option value="">2 명</option>
                            <option value="">3 명</option>
                            <option value="">4 명</option>

                        </select>
                    </div>
                </div>



                <div class="select-pet">
                    <div class="select-pet-title">산책할 애완견</div>
                    <div class="select-one-pet">
                        <div class="select-pet-btn">후추</div>
                        <div class="select-pet-btn">라떼</div>
                        <div class="select-pet-btn">휴지</div>
                        <div class="select-pet-btn">쏭</div>
                        <div class="select-pet-btn">땅콩</div>
                    </div>
                </div>
            </div>
            <div class="mate-date-n-region-box">
                <div class="select-date">
                    <div class="title-n-date">
                        <div class="select-date-title">약속 날짜</div>
                        <div class="selected-date-wrap">
                            <div class="selected-date">2023-11-28</div>
                            <img src="/img/magnifier.png" alt="">
                        </div>
                    </div>
                    <div class="calender-wrap">
                        <div class="calender"></div>
                    </div>
                </div>
                <div class="select-region">
                    <div class="select-region-title-n-search">
                        <div class="select-region-title">약속 장소</div>
                        <div class="searchbox">
                            <input type="text">
                            <img src="/img/magnifier.png" alt="">
                        </div>
                    </div>
                    <div class="map-wrap">
                        <div class="map"></div>
                    </div>
                </div>
            </div>
            <div class="mate-btn-box">
                <div class="mate-btn">글 등록</div>
            </div>
        </div>
    </main>

    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 끝 -->
</body>
</html>