<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/walkingMate/css/walkingMateDetail.css">
    <title>산책메이트-상세페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo"><a href=""><img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="/shopping/html/shop.html">쇼핑</a></li>
                        <li><a href="/community/html/freeBoardList.html">커뮤니티</a></li>
                        <li><a href="/walkingMate/html/walkingMateList.html">산책메이트</a></li>
                        <li><a href="/map/html/map.html">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header 끝 -->

    <!-- main 시작 -->
    <main>
        <div class="main-container">
            <div class="cate-title">
                <div class="cate-title-text">산책메이트</div>
            </div>
            <div class="title-box">
                <div class="text-title-box">
                    <div class="text-title">강아지와 고양이, 함께 키우는 것이 가능할까? 정답은 가능합니다</div>    
                </div>
                <div class="info">
                    <div class="info-id">
                        <div class="info-img"><img src="/img/dogImg02.jpg" alt=""></div>
                        <div>쌀강냉이</div>
                    </div>
                    <div class="text-date">2023-11-25</div>
                </div>
            </div>
            <!-- 글 시작 -->
            <div class="content-container">
                <div class="content-box">
                    <div class="img-box">
                        <div class="imgs">
                            <img src="/img/test01.png" alt="">
                        </div>

                    </div>

                    <div class="img-box">

                        <div class="imgs">
                            <img src="/img/test02.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="text-box">
                    <p>중량천 산책 같이 하실분 구해요 너무 대왕견은 좀 힘들어요 ㅠㅠ</p>
                </div>

                <div class="btn-box">

                    <div class="btns-box">
                        <div class="update-btn">수정</div>
                        <div class="remove-btn">삭제</div>
                        <div class="list-btn">목록</div>
                    </div>
                </div>
            </div>
            <!-- 글 끝 -->

            <hr>
            <div class="middle-title">같이 산책할 대표 동물</div>
            <div class="middle-box">
                <div class="middle-img-box">
                    <div class="middle-imgs">
                        <img src="/img/test01.png" alt="">
                    </div>

                </div>
                <div class="middle-img-box">
                    <div class="middle-imgs">
                        <img src="/img/test01.png" alt="">
                    </div>

                </div>
            </div>
            <div class="middle-box">
                <div class="middle-img-box">
                    <div class="middle-imgs">
                        <img src="/img/test01.png" alt="">
                    </div>

                </div>
                <div class="middle-img-box">
                    <div class="middle-imgs">
                        <img src="/img/test01.png" alt="">
                    </div>

                </div>
            </div>
            
            

            <!-- 댓글 시작 -->
            <div class="reply-container">
                <div class="reply-title">댓글</div>
                <div class="reply-input">
                    <textarea name="" id="" placeholder="댓글을 입력해주세요"></textarea>
                    <button>등록</button>
                </div>
                <div class="reply-list">
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="id-and-date">
                            <div class="reply-info">
                                <div class="reply-img"><img src="/img/dogImg02.jpg" alt=""></div>
                                <div class="reply-id">콩콩콩이</div>
                            </div>
                            <div class="reply-date">2023-11-24</div>
                        </div>
                        <div class="reply-content-n-btns">
                            <div class="reply-content">
                                역시 합사에는 시간이 필요하군요 ㅎㅎㅎ 근데 애들 저렇게 있으니까 너무 보기 좋아요 
                            </div>
                            <div class="reply-btns">
                                <div class="update-reply"><a href="">수정</a></div>
                                <div class="delete-reply"><a href="">삭제</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-contaniner"></div>
        </div>
    </main>
    <!-- main 끝 -->

    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 끝 -->
<script src="/community/js/freeBoardDetail.js"></script>
</body>
</html>