

.img-container {
    width: 100%;
    height: 200px;
    min-width: 900px;
    text-align: center;
    margin: 120px 0px 70px 0px;
    position: relative;
}
.title-logo {
    width: 300px;
    margin: 0 auto;
    position: relative;

}

.title-logo a {
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.puppy-img {
    width: 150px;
    height: 180px;
}
.title-img {
 position: relative;
   
}



.login-page-wrap {
    width: 900px;
    height: 230px;
    margin: 0 auto;
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: space-around;
    position: relative;
}

.login-title {
  
    padding: 2px 6px 6px 3px;
}
.login-title span {
    font-size: 14px;
    color: gray;
}

.login-input {
    display: flex;
    flex-direction: column;
    width: 430px;
    margin: 0 auto;
    position: relative;

}
.login-id-input, .login-pw-input {
    height: 50px;
}
.login-pw-input {
    padding-bottom: 10px;
}
.userId-img, .userPw-img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    
 
}
.userId-img {
    top: 8px;
}
.userPw-img {
    top: 57px;
}

#userId, #userPassword {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 18px 0px 18px 0px;
    width: 430px;
    height: 30px;
    box-sizing: border-box;
    text-indent: 40px;
}


.message-output {
    position: relative;
}
.id-input-ch, .pw-input-ch,.login-error {
    position:absolute;
    display: none;
    color: red;
    font-size: 13px;
    top: -20px;
}

.login-btn {
    margin-top: 15px;
    height: 30px;
}
.login-submit-btn {
    font-family: 'GmarketSansMedium';
    border: none;
    background-color: #F8BE41;
    width: 100%;
    height: 28px;
    cursor: pointer;
    
}


.find-join-section {
    height: 30px;
    width: 350px;
    margin: 7px auto;
}

.move-to-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.move-to-section a {
    font-size: 13px;
    color: black;
}



.blank-line {
    border: 1px solid rgba(128, 128, 128, 0.173);
}


.adv-section {
    /* position: relative; */
    /* width: 100%;
    overflow: hidden; */
    height: 240px;
}

.adv-img-container {
    /* position: absolute; */
    display: flex;
    width: 430px;
    height: 240px;
}

.login-img, .login-img2 {
    width: 100%;
    height: 100%;
}






.join-section {
    min-width: 900px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'GmarketSansMedium';
}

.move-to-join {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 900px;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 7px 15px 7px 15px;
    border-left: none;
    border-right: none;
}
.move-to-join p {
    width: 710px;
}

.move-to-join span {
    font-weight: bold;
}
.join-btn {
    border: 2px solid #F8BE41;
    background-color: white;
    font-family: 'GmarketSansMedium';
    cursor: pointer;
    padding: 5px;
    width: 200px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.join-btn:after {
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #F8BE41;
}

.join-btn:hover{
    color: black;
}

.join-btn:hover::after{
    width: 100%;
    z-index: -1;
}



.copyright-section {
    width: 900px;
    margin: 0 auto;
}


.copyright {
    box-sizing: border-box;
    padding-right: 10px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: end;
}
