<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="../css/mateapplication.css">
    <title>내가 신청한 메이트 글</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo"><a href=""><img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="">쇼핑</a></li>
                        <li><a href="">커뮤니티</a></li>
                        <li><a href="">산책메이트</a></li>
                        <li><a href="">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="menu-area">
                <nav class="menu-choice-area">
                    <ul class="menu-choice">
                        <li class="choice-p">
                            <a href="/mypg/html/mypgmain.html" class="pro"> 프로필</a>
                        </li>
                        <li class="choice-w">
                            <a href="/mypg/html/mywrite.html" class="mywrite">내가 작성한 글</a>
                        </li>
                        <li>
                            <a href="/mypg/html/buylist.html" class="mybuy">주문내역</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="detail-mywrite-choice">
                <ul class="detail-choice">
                    <li class="my-QnA">
                        <a href="/mypg/html/mywrite.html" class="my-QnA-detail">QnA</a>
                    </li>
                    <li class="my-freeboard">
                        <a href="/mypg/html/myfreeboard.html" class="my-freeboard-detail">자유게시판</a>
                    </li>
                    <li class="my-walk">
                        <a href="/mypg/html/walkmate.html" class="my-walk-detail">나의 산책 메이트 글</a>
                    </li>
                    <li class="my-walkapplication">
                        <a href="/mypg/html/mateapplication.html" class="my-walkapplication-detail">나의 산책 메이트 신청</a>
                    </li>
                    <li class="my-review">
                        <a href="/mypg/html/productreviewlist.html" class="my-review-detail">리뷰 내역</a>
                    </li>
                </ul>
            </div>
            <div class="mateapplicationmain">
                <div class="walkmateapplication">
                    <div class="walkchoiceapplication-form">   
                        <div class="walkchoiceapplication-form-box">          
                            <label for="recruitapplication">
                                <input type="radio" name="recruitradio" id="recruitapplication" checked/> 
                            전체보기
                            </label>
                            <label for="recruitapplication-y">
                                <input type="radio" name="recruitradio" id="recruitapplication-y"/>
                            신청 완료
                            </label>
                            <label for="recruitapplication-n">
                                <input type="radio" name="recruitradio" id="recruitapplication-n"/> 
                            신청 중 
                            </label>
                        </div>
                    </div>

                    <div class="walkapplication-list">
                        <div class="list-content">
                            <div class="content-text-box">
                                <div class="list-content-title">산책 메이트를 찾아요~</div>
                                <div class="list-content-content">
                                    <div class="list-content-content-detail">
                                        노원구 근처 공원에서 저희 집 댕댕이와 산책할 매너있는 메이트를 찾습니다.
                                        산책을 희망하시면 댓글남겨주세요~~
                                    </div> 
                                </div>
                                <div class="list-content-etc">
                                    <div class="list-content-address">
                                        <span>서울시 노원구</span>
                                    </div>
                                    <div class="list-content-recruit">
                                        <span>모집인원</span>
                                        <span class="recruit-count">1/5</span>
                                    </div>
                                    <div class="recruit-btn-box">
                                        <span>모집 중</span>
                                    </div>

                                </div>
                            </div>
                            <div class="content-img-box">
                                <div class="content-img">
                                    <img src="/mypg/img/강아지.png" alt="">
                                </div>
                            </div>
                          
                        </div>

                        <div class="list-content">
                            <div class="content-text-box">
                                <div class="list-content-title">산책 메이트를 찾아요~</div>
                                <div class="list-content-content">
                                    <div class="list-content-content-detail">
                                        노원구 근처 공원에서 저희 집 댕댕이와 산책할 매너있는 메이트를 찾습니다.
                                        산책을 희망하시면 댓글남겨주세요~~
                                    </div> 
                                </div>
                                <div class="list-content-etc">
                                    <div class="list-content-address">
                                        <span>서울시 노원구</span>
                                    </div>
                                    <div class="list-content-recruit">
                                        <span>모집인원</span>
                                        <span class="recruit-count">1/5</span>
                                    </div>
                                    <div class="recruit-box">
                                        <span>모집 완료</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="content-img-box">
                                <div class="content-img">
                                    <img src="/mypg/img/강아지.png" alt="">
                                </div>
                            </div>
                          
                        </div>

                        <div class="list-content">
                            <div class="content-text-box">
                                <div class="list-content-title">산책 메이트를 찾아요~</div>
                                <div class="list-content-content">
                                    <div class="list-content-content-detail">
                                        노원구 근처 공원에서 저희 집 댕댕이와 산책할 매너있는 메이트를 찾습니다.
                                        산책을 희망하시면 댓글남겨주세요~~
                                    </div> 
                                </div>
                                <div class="list-content-etc">
                                    <div class="list-content-address">
                                        <span>서울시 노원구</span>
                                    </div>
                                    <div class="list-content-recruit">
                                        <span>모집인원</span>
                                        <span class="recruit-count">1/5</span>
                                    </div>
                                    <div class="recruit-box">
                                        <span>모집 완료</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="content-img-box">
                                <div class="content-img">
                                    <img src="/mypg/img/강아지.png" alt="">
                                </div>
                            </div>
                          
                        </div>

                        <div class="list-content">
                            <div class="content-text-box">
                                <div class="list-content-title">산책 메이트를 찾아요~</div>
                                <div class="list-content-content">
                                    <div class="list-content-content-detail">
                                        노원구 근처 공원에서 저희 집 댕댕이와 산책할 매너있는 메이트를 찾습니다.
                                        산책을 희망하시면 댓글남겨주세요~~
                                    </div> 
                                </div>
                                <div class="list-content-etc">
                                    <div class="list-content-address">
                                        <span>서울시 노원구</span>
                                    </div>
                                    <div class="list-content-recruit">
                                        <span>모집인원</span>
                                        <span class="recruit-count">1/5</span>
                                    </div>
                                    <div class="recruit-box">
                                        <span>모집 완료</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="content-img-box">
                                <div class="content-img">
                                    <img src="/mypg/img/강아지.png" alt="">
                                </div>
                            </div>
                          
                        </div>


                        <div class="list-page-container">
                            <div class="list-pages">
                                <ul>
                                    <li><a href="">&lt;</a></li>
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a href="">&gt;</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                
                </div>
            </div>
            </div>      
        </div>    

    </main>
    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--footer 끝-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="../js/mateappliction.js"></script>
</body>
</html>      