<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/mypg/css/myapplication.css">
    <title>내가 신청한 메이트 글</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header" th:replace="fragment/header :: header">

       </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="menu-area">
                <nav class="menu-choice-area">
                    <ul class="menu-choice">
                        <li class="choice-p">
                            <a th:href="@{/mypg/main/{userid}(userid = ${session.userId})}" class="pro"> 프로필</a>
                        </li>
                        <li class="choice-w">
                            <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="mywrite">내가 작성한 글</a>
                        </li>
                        <li>
                            <a th:href="@{/mypg/orderpage/{userid}(userid = ${session.userId})}" class="mybuy">주문내역</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="detail-mywrite-choice">
                <ul class="detail-choice">
                    <li class="my-QnA">
                        <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="my-QnA-detail">QnA</a>
                    </li>
                    <li class="my-freeboard">
                        <a th:href="@{/mypg/myfreeboard/{userid}(userid =${session.userId})}" class="my-freeboard-detail">자유게시판</a>
                    </li>
                    <li class="my-walk">
                        <a th:href="@{/mypg/mywalking/{userid}(userid =${session.userId})}"  class="my-walk-detail">나의 산책 메이트 글</a>
                    </li>
                    <li class="my-walkapplication">
                        <a th:href="@{/mypg/myapplicationwalk/{userid}(userid =${session.userId})}"  class="my-walkapplication-detail">나의 산책 메이트 신청</a>
                    </li>
                    <li class="my-review">
                        <a th:href="@{/mypg/myreviewpage/{userid}(userid =${session.userId})}"  class="my-review-detail">리뷰 내역</a>
                    </li>
                </ul>
            </div>
            <div class="mateapplicationmain"   th:data-userid="${session.userId}">
                <div class="walkmateapplication">
                    <div class="walkchoiceapplication-form">   
                        <div class="walkchoiceapplication-form-box">          
                            <label for="recruitapplication">
                                <input type="radio" name="state" id="recruitapplication" value="" checked/>
                            전체보기
                            </label>
                            <label for="recruitapplication-n">
                                <input type="radio" name="state" id="recruitapplication-n" value="0"/>
                                모집대기
                            </label>
                            <label for="recruitapplication-y">
                                <input type="radio" name="state" id="recruitapplication-y" value="1"/>
                                모집 완료
                            </label>
                        </div>
                    </div>

                    <div class="walkapplication-list" >
                        <div class="list-content">
                            <div class="content-text-box">
                                <div class="list-content-title">산책 메이트를 찾아요~</div>
                                <div class="list-content-content">
                                    <div class="list-content-content-detail">
                                        노원구 근처 공원에서 저희 집 댕댕이와 산책할 매너있는 메이트를 찾습니다.
                                        산책을 희망하시면 댓글남겨주세요~~
                                    </div>
                                </div>
                                <div class="list-content-etc">
                                    <div class="list-content-address">
                                        <span>서울시 노원구</span>
                                    </div>
                                    <div class="list-content-recruit">
                                        <span>모집인원</span>
                                        <span class="recruit-count">1/5</span>
                                    </div>
                                    <div class="recruit-btn-box">
                                        <span>모집 중</span>
                                    </div>

                                </div>
                            </div>
                            <div class="content-img-box">
                                <div class="content-img">
                                    <img src="/mypg/img/강아지.png" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="list-page-container">
                        <div class="list-pages">
                            <ul class="pagination-ul">

                            </ul>
                        </div>
                    </div>
                
                </div>

            </div>      
        </div>    

    </main>
    <!-- footer 시작 -->
       <div class="footer" th:replace="fragment/footer :: footer">

       </div>
    <!--footer 끝-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="module" src="../js/myapplication.js"></script>
</body>
</html>      