<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="../css/myfreeboard.css">
    <title>내가 작성한 글 메인</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header" th:replace="fragment/header :: header">

       </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="menu-area">
                <nav class="menu-choice-area">
                    <ul class="menu-choice">
                        <li class="choice-p">
                            <a th:href="@{/mypg/main/{userid}(userid = ${session.userId})}" class="pro"> 프로필</a>
                        </li>
                        <li class="choice-w">
                            <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="mywrite">내가 작성한 글</a>
                        </li>
                        <li>
                            <a th:href="@{/mypg/orderpage/{userid}(userid = ${session.userId})}" class="mybuy">주문내역</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="detail-mywrite-choice">
                <ul class="detail-choice">
                    <li class="my-QnA">
                        <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="my-QnA-detail">QnA</a>
                    </li>
                    <li class="my-freeboard">
                        <a th:href="@{/mypg/myfreeboard/{userid}(userid =${session.userId})}" class="my-freeboard-detail">자유게시판</a>
                    </li>
                    <li class="my-walk">
                        <a th:href="@{/mypg/mywalking/{userid}(userid =${session.userId})}"  class="my-walk-detail">나의 산책 메이트 글</a>
                    </li>
                    <li class="my-walkapplication">
                        <a th:href="@{/mypg/myapplicationwalk/{userid}(userid =${session.userId})}"  class="my-walkapplication-detail">나의 산책 메이트 신청</a>
                    </li>
                    <li class="my-review">
                        <a th:href="@{/mypg/myreviewpage/{userid}(userid =${session.userId})}"  class="my-review-detail">리뷰 내역</a>
                    </li>
                </ul>
            </div>
            <div class="myfreeboardmain">
                <div class="list-contents-box">
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지가 깨물어요</div>
                            <div class="list-content-content">
                                <div class="list-content-content-detail">
                                    너무 쎄게 물어서 어쩔때는 손등에 자국이 남는데 이 버릇을 고칠수가 없을까요? 
                                    답을아시는 분은 댓글달아주세요 ㅠ.ㅠ
                                </div> 
                            </div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/mypg/img/b556fdf429d8de25c3acf62f8186ddb9.png" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                              
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img">
                                <img src="/mypg/img/강아지.png" alt="">
                            </div>
                        </div>
                      
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지가 깨물어요</div>
                            <div class="list-content-content">
                                <div class="list-content-content-detail">
                                    너무 쎄게 물어서 어쩔때는 손등에 자국이 남는데 이 버릇을 고칠수가 없을까요? 
                                    답을아시는 분은 댓글달아주세요 ㅠ.ㅠ
                                </div> 
                            </div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/mypg/img/b556fdf429d8de25c3acf62f8186ddb9.png" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                              
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img">
                                <img src="/mypg/img/강아지.png" alt="">
                            </div>
                        </div>
                      
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지가 깨물어요</div>
                            <div class="list-content-content">
                                <div class="list-content-content-detail">
                                    너무 쎄게 물어서 어쩔때는 손등에 자국이 남는데 이 버릇을 고칠수가 없을까요? 
                                    답을아시는 분은 댓글달아주세요 ㅠ.ㅠ
                                </div> 
                            </div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/mypg/img/b556fdf429d8de25c3acf62f8186ddb9.png" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                              
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img">
                                <img src="/mypg/img/강아지.png" alt="">
                            </div>
                        </div>
                      
                    </div>
                    <div class="list-content">
                        <div class="content-text-box">
                            <div class="list-content-title">강아지가 깨물어요</div>
                            <div class="list-content-content">
                                <div class="list-content-content-detail">
                                    너무 쎄게 물어서 어쩔때는 손등에 자국이 남는데 이 버릇을 고칠수가 없을까요? 
                                    답을아시는 분은 댓글달아주세요 ㅠ.ㅠ
                                </div> 
                            </div>
                            <div class="list-content-etc">
                                <div class="list-content-id">
                                    <div class="list-content-id-img"><img src="/mypg/img/b556fdf429d8de25c3acf62f8186ddb9.png" alt=""></div>
                                    <span>안참아말티쥬</span>
                                </div>
                                <div class="list-content-reply">
                                    <span>댓글</span>
                                    <span class="reply-count">5</span>
                                </div>
                              
                            </div>
                        </div>
                        <div class="content-img-box">
                            <div class="content-img">
                                <img src="/mypg/img/강아지.png" alt="">
                            </div>
                        </div>
                      
                    </div>
                    <!--페이징 처리-->   
                    <div class="list-page-container">
                        <div class="list-pages">
                            <ul>
                                <li><a href="">&lt;</a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                  
                </div>
               
            </div> 
            <div class="nonepage">
                <div class="none-img-area">
                    <div class="none-img">
                        <img src="../img/b556fdf429d8de25c3acf62f8186ddb9.png"/>
                    </div>
                </div>
                <div class="nonetext-area">
                    <p>등록된 내용이 없습니다.</p>
                </div>
            </div> 
        </div>    

    </main>
    <!-- footer 시작 -->
       <div class="footer" th:replace="fragment/footer :: footer">

       </div>
    <!--footer 끝-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="../js/myfreeboard.js"></script>
</body>
</html>  