<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/mypg/css/mypgmain.css">
    <title>마이페이지 메인</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header" th:replace="fragment/header :: header">

       </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="contain" th:each="userdetail : ${userDetail}" >
                <input type="hidden" th:value="${userdetail.id}">
                <div class="menu-area">
                    <nav class="menu-choice-area">
                        <ul class="menu-choice">
                            <li class="choice-p">
                                <a th:href="@{/mypg/main/{userid}(userid = ${session.userId})}" class="pro"> 프로필</a>
                            </li>
                            <li class="choice-w">
                                <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="mywrite">내가 작성한 글</a>
                            </li>
                            <li>
                                <a th:href="@{/mypg/orderpage/{userid}(userid = ${session.userId})}" class="mybuy">주문내역</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="detail-pro-choice">
                    <ul class="detail-choice">
                        <li class="my-pro">
                            <a th:href="@{/mypg/main/{userid}(userid = ${userdetail.id})}" class="my-pro-detail">내프로필</a>
                        </li>
                        <li class="my-pet">
                            <a th:href="@{/mypg/mypet/{userid}(userid = ${userdetail.id})}"  class="my-pet-detail">반려동물 프로필</a>
                        </li>
                    </ul>
                </div>
                <div class="pro-main" >
                    <div class="my-img-area" th:if="${#lists.size(userdetail.userFileDtoList) == 0}">
                        <div class="img-area">
                            <!--디폴트 이미지-->
                            <img src="https://bemypet.kr/image/image_not_found_new.png" class="myimg">
                        </div>
                    </div>
                    <div class="my-img-area" th:if="${#lists.size(userdetail.userFileDtoList) > 0}">
                        <div class="img-area">

                            <img th:src="'/jpa_dw/userfile/'+${userdetail.userFileDtoList[0].route}+'/'+ ${userdetail.userFileDtoList[0].uuid}+ '_'+ ${userdetail.userFileDtoList[0].name}" class="myimg">
                        </div>
                    </div>

                    <div class="my-detail-info">
                        <ul class="info-area">
                            <li class="myname-info">

                                <div class="myname-area" th:if="${userdetail.userNickName == null}">
                                    <span class="nickname">이름</span>
                                    <span class="myname" th:text="${userdetail.userName}"></span>
                                </div>
                                <div class="myname-area" th:if="${userdetail.userNickName != null}">
                                    <span class="nickname">닉네임</span>
                                    <span class="myname" th:text="${userdetail.userNickName}"></span>
                                </div>
                            </li>
                            <li class="myemail">    
                                <div class="my-email-area">
                                    <span th:text="${userdetail.userEmail}"></span>
                                </div>
                            </li>
                            <li class="updata">    
                                <div class="update-button">
                                    <div class="ubtn">

                                        <a th:href="@{/mypg/modify/{userid}(userid = ${userdetail.id})}" class="updata-move">회원 정보 수정</a>
                                    </div>
                                </div>
                            </li>
                         
                        </ul>    
                    </div>
                    <div class="pro-footer">
                        <div class="defultimg-footer">
                            <img src="/mypg/img/b556fdf429d8de25c3acf62f8186ddb9.png" class="defultimg">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <!-- footer 시작 -->
       <div class="footer" th:replace="fragment/footer :: footer">

       </div>
    <!--footer 끝-->
</body>
</html>