<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="../css/mypgmain.css">
    <title>마이페이지 메인</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo"><a href=""><img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="">쇼핑</a></li>
                        <li><a href="">커뮤니티</a></li>
                        <li><a href="">산책메이트</a></li>
                        <li><a href="">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="contain">
                <div class="menu-area">
                    <nav class="menu-choice-area">
                        <ul class="menu-choice">
                            <li class="choice-p">
                                <a href="/mypg/html/mypgmain.html" class="pro"> 프로필</a>
                            </li>
                            <li class="choice-w">
                                <a href="/mypg/html/mywrite.html" class="mywrite">내가 작성한 글</a>
                            </li>
                            <li>
                                <a href="/mypg/html/buylist.html" class="mybuy">주문내역</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="detail-pro-choice">
                    <ul class="detail-choice">
                        <li class="my-pro">
                            <a href="../html/mypgmain.html" class="my-pro-detail">내프로필</a>
                        </li>
                        <li class="my-pet">
                            <a href="../html/mypgpet.html" class="my-pet-detail">반려동물 프로필</a>
                        </li>
                    </ul>
                </div>
                <div class="pro-main">
                    <div class="my-img-area">
                        <div class="img-area">
                            <!--디폴트 이미지-->
                            <img src="https://bemypet.kr/image/image_not_found_new.png" class="myimg">
                        </div>
                    </div>
                    <div class="my-detail-info">
                        <ul class="info-area">
                            <li class="myname-info">
                                <div class="myname-area">
                                    <span class="nickname">닉네임</span>
                                    <span class="myname">노의진</span>
                                </div>
                            </li>
                            <li class="myemail">    
                                <div class="my-email-area">
                                    <span>000006064@naver.com</span>
                                </div>
                            </li>
                            <li class="updata">    
                                <div class="update-button">
                                    <div class="ubtn">
                                        <!--회원정보 수정 페이지 이동-->
                                        <a href="/mypg/html/userupdate.html" class="updata-move">회원 정보 수정</a>
                                    </div>
                                </div>
                            </li>
                         
                        </ul>    
                    </div>
                    <div class="pro-footer">
                        <div class="defultimg-footer">
                            <img src="../img/b556fdf429d8de25c3acf62f8186ddb9.png" class="defultimg">
                        </div>
                    </div>
                </div>

            </div>

    </main>
    <!-- footer 시작 -->
    <div class="footer">
        <div class="footer-container01">
            <div class="footer-containerbox01">
                <div class="footer-container01-nav">
                    <ul>
                        <li>(주)산책갈개</li>
                        <li>복영헌 임형준 노의진 이지윤</li>
                        <li>서울특별시 노원구 상계로1길 34 세일학원 5층</li>
                        <li>02-933-5890</li>
                    </ul>
                </div>
                <div class="footer-container01-img">
                    <img src="/img/dog02.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-container02">
            <div class="footer-containerbox02">
                <div>Copyright ©SCGG All Rights Reserved.</div>
                <div class="footer-container02-nav">
                    <ul>
                        <li><a href="">이용약관</a></li>
                        <li><a href="">개인정보처리방침</a></li>
                        <li><a href="">사업자정보확인</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--footer 끝-->
</body>
</html>