<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/mypg/css/mywrite.css">
    <title>QnA</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header" th:replace="fragment/header :: header">

       </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="menu-area">
                <nav class="menu-choice-area">
                    <ul class="menu-choice">
                        <li class="choice-p">
                            <a href="/mypg/html/mypgmain.html" class="pro"> 프로필</a>
                        </li>
                        <li class="choice-w">
                            <a href="/mypg/html/mywrite.html" class="mywrite">내가 작성한 글</a>
                        </li>
                        <li>
                            <a href="/mypg/html/buylist.html" class="mybuy">주문내역</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="detail-mywrite-choice">
                <ul class="detail-choice">
                    <li class="my-QnA">
                        <a href="/mypg/html/mywrite.html" class="my-QnA-detail">QnA</a>
                    </li>
                    <li class="my-freeboard">
                        <a th:href="@{/mypg/myfreeboard/{userid}(userid =${session.userId})}" class="my-freeboard-detail">자유게시판</a>
                    </li>
                    <li class="my-walk">
                        <a href="/mypg/html/walkmate.html" class="my-walk-detail">나의 산책 메이트 글</a>
                    </li>
                    <li class="my-walkapplication">
                        <a href="/mypg/html/mateapplication.html" class="my-walkapplication-detail">나의 산책 메이트 신청</a>
                    </li>
                    <li class="my-review">
                        <a href="/mypg/html/productreviewlist.html" class="my-review-detail">리뷰 내역</a>
                    </li>
                </ul>
            </div>
            <div class="qnamain" th:data-userid = "${session.userId}">
                <div class="list-contents-box">



                    <!--페이징 처리-->   

                </div>
                <div class="list-page-container">
                    <div class="list-pages">
                        <ul class="list-pagestion">

                        </ul>
                    </div>
                </div>
            </div>  
        </div>

    </main>
    <!-- footer 시작 -->
       <div class="footer" th:replace="fragment/footer :: footer">

       </div>
    <!--footer 끝-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="module" src="../js/mywrite.js"></script>
</body>
</html>            