<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="../css/productreviewlist.css">
    <title>주문 리뷰 리스트</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header" th:replace="fragment/header :: header">

       </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="menu-area">
                <nav class="menu-choice-area">
                    <ul class="menu-choice">
                        <li class="choice-p">
                            <a th:href="@{/mypg/main/{userid}(userid = ${session.userId})}" class="pro"> 프로필</a>
                        </li>
                        <li class="choice-w">
                            <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="mywrite">내가 작성한 글</a>
                        </li>
                        <li>
                            <a th:href="@{/mypg/orderpage/{userid}(userid = ${session.userId})}" class="mybuy">주문내역</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="detail-mywrite-choice">
                <ul class="detail-choice">
                    <li class="my-QnA">
                        <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="my-QnA-detail">QnA</a>
                    </li>
                    <li class="my-freeboard">
                        <a th:href="@{/mypg/myfreeboard/{userid}(userid =${session.userId})}" class="my-freeboard-detail">자유게시판</a>
                    </li>
                    <li class="my-walk">
                        <a th:href="@{/mypg/mywalking/{userid}(userid =${session.userId})}"  class="my-walk-detail">나의 산책 메이트 글</a>
                    </li>
                    <li class="my-walkapplication">
                        <a th:href="@{/mypg/myapplicationwalk/{userid}(userid =${session.userId})}"  class="my-walkapplication-detail">나의 산책 메이트 신청</a>
                    </li>
                    <li class="my-review">
                        <a th:href="@{/mypg/myreviewpage/{userid}(userid =${session.userId})}"  class="my-review-detail">리뷰 내역</a>
                    </li>
                </ul>
            </div>
            <div class="reviewlistmain" th:data-userid="${session.userId}">
                <div class="list-contents-box">

                    <div class="list-content" data-id="">
                        <div class="list-content-title">
                            <span class="reviewTitle">건강식이 너무 좋아요</span>
                            <span class="reviewRd">2024.01.01</span>
                        </div>
                        <div class="orderproduct">쫀득쫀득 닭가슴살 10g</div>
                        <div class="list-content-content">
                            <div  class="list-content-content-detail">
                              상품을 사용하였는데 저희 반려동물이 너무너무 좋아하고, 이거 없이는 산책을 가지 않으려고 합니다.
                              상품 완전 추천드려요!!
                            </div>
                        </div>    
                        <div class="list-content-etc">
                        
                            <div class="list-content-rating">
                                <span>평점</span>
                                <span class="rating-count">★★★★★</span>
                            </div>
                            <div class="list-remove">
                                <div class="list-rmove-btn">
                                    <button class="rebtn">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-content-title">건강식이 너무 좋아요</div>
                        <div class="list-content-content">
                            <div  class="list-content-content-detail">
                              상품을 사용하였는데 저희 반려동물이 너무너무 좋아하고, 이거 없이는 산책을 가지 않으려고 합니다.
                              상품 완전 추천드려요!!
                            </div>
                        </div>    
                        <div class="list-content-etc">
                        
                            <div class="list-content-rating">
                                <span>평점</span>
                                <span class="rating-count">★★★★★</span>
                            </div>
                            <div class="list-remove">
                                <div class="list-rmove-btn">
                                    <button class="rebtn">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-content-title">건강식이 너무 좋아요</div>
                        <div class="list-content-content">
                            <div  class="list-content-content-detail">
                              상품을 사용하였는데 저희 반려동물이 너무너무 좋아하고, 이거 없이는 산책을 가지 않으려고 합니다.
                              상품 완전 추천드려요!!
                            </div>
                        </div>    
                        <div class="list-content-etc">
                        
                            <div class="list-content-rating">
                                <span>평점</span>
                                <span class="rating-count">★★★★★</span>
                            </div>
                            <div class="list-remove">
                                <div class="list-rmove-btn">
                                    <button class="rebtn">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-content-title">건강식이 너무 좋아요</div>
                        <div class="list-content-content">
                            <div  class="list-content-content-detail">
                              상품을 사용하였는데 저희 반려동물이 너무너무 좋아하고, 이거 없이는 산책을 가지 않으려고 합니다.
                              상품 완전 추천드려요!!
                            </div>
                        </div>    
                        <div class="list-content-etc">
                        
                            <div class="list-content-rating">
                                <span>평점</span>
                                <span class="rating-count">★★★★★</span>
                            </div>
                            <div class="list-remove">
                                <div class="list-rmove-btn">
                                    <button class="rebtn">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--페이징 처리-->
                <div class="list-page-container">
                    <div class="list-pages">
                        <ul class="pagination-ul">

                        </ul>
                    </div>
                </div>
                <div class="nonepage">
                    <div class="none-img-area">
                        <div class="none-img">
                            <img src="../img/b556fdf429d8de25c3acf62f8186ddb9.png"/>
                        </div>
                    </div>
                    <div class="nonetext-area">
                        <p>등록된 내용이 없습니다.</p>
                    </div>
                </div>
            </div>  
        </div>

    </main>
    <!-- footer 시작 -->
       <div class="footer" th:replace="fragment/footer :: footer">

       </div>
    <!--footer 끝-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="module" src="../js/productreviewlist.js"></script>
</body>
</html>            