<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="../css/productreview.css">
    <title>상품 리뷰 페이지</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header" th:replace="fragment/header :: header">

       </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="page-view">
              
                <div class="review-container">
                  <form class="new-post-form" action="" method="" enctype="multipart/form-data" >
                      <th:block th:value="${result.id}" name="orderItemId"></th:block>
                      <th:block th:value="${session.userId}" name="userId"></th:block>
                    <div class="form-group">
                      <label for="post-title"  class="title">제목
                      </label>
                
                      <input type="text" id="post-title" name="title" readonly />
                    </div>
                    <div class="form-group">
                      <label for="post-content">내용</label>
                      <textarea id="post-content" name="content" rows="10" required></textarea>
                      <div class="grade-group">
                        <fieldset class="grade" required>
                          <legend>
                          <!-- <span class="text-bold">평점</span> -->
                          <input type="radio" name="rating" value="5" id="rate1"><label
                                for="rate1">★</label>
                          <input type="radio" name="rating" value="4" id="rate2"><label
                                for="rate2">★</label>
                          <input type="radio" name="rating" value="3" id="rate3"><label
                                for="rate3">★</label>
                          <input type="radio" name="rating" value="2" id="rate4"><label
                                for="rate4">★</label>
                          <input type="radio" name="rating" value="1" id="rate5" required>
                          <label for="rate5">★</label>
          
                          <span class="text-bold">평점</span>
                          </legend>
                        </fieldset>
                      </div>
                    </div>
                    <div class="file-group">
                      <ul class="file-wrap">
                        <li>
                          <input type="file" id="post-image" name="reviewImg" accept="image/*" multiple/>
                        </li>
                        <li class="img-list"></li>
                        <li class="img-list"></li>
                        <li class="img-list"></li>
          
                      </ul>
                    </div>
                    <button type="submit" class="submit-btn">게시물 작성</button>
                  </form>
                </div>
            </div>
        </div>
    </main>
       <div class="footer" th:replace="fragment/footer :: footer">

       </div>
    <!--footer 끝-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="../js/productreview.js"></script>
</body>
</html>            
