<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="../css/walkmate.css">
    <title>내가 올린 메이트 글</title>
</head>
<body>
       <!-- header 시작 -->
       <div class="header" th:replace="fragment/header :: header">

       </div>
    <!-- header 끝 -->
    <main>
        <div class="main-container">
            <div class="menu-area">
                <nav class="menu-choice-area">
                    <ul class="menu-choice">
                        <li class="choice-p">
                            <a th:href="@{/mypg/main/{userid}(userid = ${session.userId})}" class="pro"> 프로필</a>
                        </li>
                        <li class="choice-w">
                            <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="mywrite">내가 작성한 글</a>
                        </li>
                        <li>
                            <a th:href="@{/mypg/orderpage/{userid}(userid = ${session.userId})}" class="mybuy">주문내역</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="detail-mywrite-choice">
                <ul class="detail-choice">
                    <li class="my-QnA">
                        <a th:href="@{/mypg/writepage/{userid}(userid = ${session.userId})}" class="my-QnA-detail">QnA</a>
                    </li>
                    <li class="my-freeboard">
                        <a th:href="@{/mypg/myfreeboard/{userid}(userid =${session.userId})}" class="my-freeboard-detail">자유게시판</a>
                    </li>
                    <li class="my-walk">
                        <a th:href="@{/mypg/mywalking/{userid}(userid =${session.userId})}"  class="my-walk-detail">나의 산책 메이트 글</a>
                    </li>
                    <li class="my-walkapplication">
                        <a th:href="@{/mypg/myapplicationwalk/{userid}(userid =${session.userId})}"  class="my-walkapplication-detail">나의 산책 메이트 신청</a>
                    </li>
                    <li class="my-review">
                        <a th:href="@{/mypg/myreview/{userid}(userid =${session.userId})}"  class="my-review-detail">리뷰 내역</a>
                    </li>
                </ul>
            </div>
            <div class="matemain">
                <div class="walkmate" th:data-userid="${session.userId}">
                    <div class="walkchoice-form">   
                        <div class="walkchoice-form-box">          
                            <label for="recruit">
                                <input type="radio" name="state" id="recruit" checked value=""/>
                            전체보기
                            </label>
                            <label for="recruit-y">
                                <input type="radio" name="state" id="recruit-y" value="0"/>
                            모집 대기
                            </label>
                            <label for="recruit-n">
                                <input type="radio" name="state" id="recruit-n" value="1"/>
                                모집 완료
                            </label>
                        </div>
                    </div>

                    <div class="walk-list">
                        <div class="list-content">
                            <div class="content-text-box">


                                <td class="permit-area" style="display: none">
                                    <div class="y-y">
                                        <div class="y">
                                            <span class="y-click" data-number="${e.id}" >승인</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="permit-area" style="display: none">
                                    <div class="n">
                                        <div class="n-area">
                                            <div class="y-a">
                                                <span class="succes">완료</span>
                                            </div>

                                            <div class="cencel-area" >
                                                <span class="cencel" data-numbers="${e.id}">취소</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="list-page-container">
                    <div class="list-pages">
                        <ul class="pagination-ul">

                        </ul>
                    </div>
                </div>
            </div>
        </div>    

    </main>
    <!-- footer 시작 -->
       <div class="footer" th:replace="fragment/footer :: footer">

       </div>
    <!--footer 끝-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="module"  src="../js/walkmate.js"></script>
</body>
</html>      