<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/fragment/css/header.css">
    <link rel="stylesheet" href="/fragment/css/footer.css">
    <link rel="stylesheet" href="/index/css/index.css">
    <link rel="stylesheet" href="/fragment/css/sideBanner.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>메인페이지</title>
</head>
<body>
    <!-- header 시작 -->
    <div class="header" th:replace="fragment/header :: header">

    </div>
    <!-- header 끝 -->
    <div class="side-banner" style="position: sticky; top: 130px">
        <div class="side-banner-fragment" th:replace="fragment/sideBanner :: side-banner-fragment">

        </div>
    </div>
    
    <!-- main 시작 -->
    <main class="main">


        <div class="main-container">
<!--            <div class="main-title">-->
<!--                <span>"</span>-->
<!--                <h4>우리, 오늘..-->
<!--                <br>산책메이트를 구해볼까요?</h4>-->
<!--                <span class="right">"</span>-->
<!--            </div>-->
<!--            <div class="main-banner">-->
<!--                <img src="/img/indeximg.png" alt="메인배너"/>-->
<!--            </div>-->

            <!--산책메이트 글-->
            <div class="main-container02">
                <div class="main-container02-box">
<!--                    <div class="main-container02-title">-->
<!--                        <div class="mate-container-title"><h4>같이 산책가요!</h4></div>-->
<!--                    </div>-->
                    <div class="index-walk-mate-section">
                        <div class="walk-mate-index-img">
                            <img src="/img/IndexWalk.jpg" alt="메인 산책글 이미지"/>
                        </div>
                        <div class="walk-mate-more">
                            <button class="walk-mate-more-btn">산책글 전체보기</button>
                        </div>
                        <div class="walk-mate-index-list">
                            <ul class="walk-mate-index-list-ul">
                                <li th:each="indexWalkList : ${indexWalkList}">
                                    <a th:href="@{/walk/detail/{walkMateId}/{userId} (walkMateId=${indexWalkList.walkMateId}, userId=${indexWalkList.userId})}">
                                        <div class="walk-mate-list-wrap">
                                            <div class="walk-mate-pet-img">
                                                <img th:src="'/jpa_dw/petimg/' + ${indexWalkList.writerPetImgPath} + '/' + ${indexWalkList.writerPetImgUuid} + '_' + ${indexWalkList.writerPetImgName}" alt="메인 산책글 사진"/>
                                            </div>
                                            <div class="walk-mate-wrap">
                                                <div class="walk-mate-location" th:text="${indexWalkList.walkCity + ' ' + indexWalkList.walkCounty}">서울 성북구</div>
                                                <div class="blank-line"> | </div>
                                                <div class="walk-mate-content" th:text="${indexWalkList.walkMateTitle}">산책하실분 찾아요!!</div>
                                            </div>
                                            <div class="walk-mate-state" th:if="${indexWalkList.walkMateState==0}">
                                                <img src="/img/001.png" alt="모집중"/>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>


<!--            커뮤별 주간 인기글 / 공지사항-->
            <div class="community-notice-section">
                <ul class="community-notice community-ul">
                    <li class="qna-community community-li">
                        <div class="title-section">
                        <h5>주간 QnA 인기글</h5>
                            <p><a href="/qna/qnaLists">더 보기</a></p>
                        </div>
                        <div class="weekly-qna weekly-div">
                            <ul class="weekly-qna-ul weekly-ul">
                                <li class="weekly-qna-li weekly-li" th:each="weeklyQnaBest, iterState : ${weeklyQnaBest}">
                                    <a th:href="@{/qna/qnaDetail/{id} (id=${weeklyQnaBest.qnaBoardId})}">
                                        <th:block>
                                        <img  th:each="weeklyImg : ${weeklyQnaBest.weeklyQnaListImg}" th:src="'/jpa_dw/question/' + ${weeklyImg.questionImgRoute} + '/' + ${weeklyImg.questionImgUuid} + '_' + ${weeklyImg.questionImgName}" alt="qna인기글 사진"/>
                                        </th:block>
                                        <div class="qna-detail detail">
                                            <div class="qna-writer writer" th:text="${weeklyQnaBest.writerUserAccount}"></div>
                                            <div class="qna-title title" th:text="${weeklyQnaBest.qnaBoardTitle}">이건 머에용?</div>
                                            <div class="qna-rank" th:text="${iterState.index+1 +'위'}"></div>
                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="free-community">
                        <div class="title-section">
                        <h5>주간 자유게시판 인기글</h5>
                            <p><a href="/community/freeBoardList">더 보기</a></p>
                        </div>
                        <div class="weekly-free weekly-div">
                            <ul class="weekly-free-ul weekly-ul">
                                <li class="weekly-free-li weekly-li" th:each="weeklyFreeBest, iterState : ${weeklyFreeBoardBest}">
                                    <a th:href="@{/community/freeBoardDetail/{id} (id=${weeklyFreeBest.freeBoardId})}">
                                        <div class="free-detail detail">
                                            <div class="free-rank rank" th:text="${iterState.index+1 + '위'}"></div>
                                            <div class="free-title title" th:text="${weeklyFreeBest.freeBoardTitle}"></div>
                                            <div class="free-view-count count" th:text="${weeklyFreeBest.viewCount}"></div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>


            <!-- 쇼핑 -->
            <div class="index-shop-section">
                <div class="walk-mate-index-shop-banner">
                    <h3>오늘은 <span>쇼핑할개!</span></h3>
                </div>
                <div class="index-shop-title">
                    <h4>HOT! 카테고리별 추천 상품</h4>

                </div>
                <div class="index-shop-items">
                    <div class="shop-item-category">
                        <ul class="shop-item-category">
                            <li class="active-cate">간식</li>
                            <li>영양제</li>
                            <li>위생용품</li>
                            <li>이동장</li>
                            <li>장난감</li>
                            <li>산책용품</li>
                        </ul>
                    </div>
                    <div class="shop-lists">




                        </div>
                    <div class="container">
                        <div class="shop-item-list-wrap">


                        </div>
                    </div>
                </div>
            </div>
            <div class="recent-view-goods">
                <div class="recent-view-goods-title">
                    <h4>최근 본 상품</h4>
                </div>
                <div class="recent-view-goods-list">
                    <ul class="recent-view-goods-list-ul">
                        <li th:if="${recentGoods != null && recentGoods.size() > 0}" th:each="recent : ${recentGoods}">
                            <input type="hidden" th:value="${recent.goodsPrice}" class="goodsPrice"/>
                            <a th:href="@{/shop/shopDetail/{id} (id=${recent.goodsId})}">

                            <div class="recent-view-goods">
                                <dl class="recent-view-goods-dl">
                                    <dt>

                                        <img th:src="'/jpa_dw/goods/' + ${recent.goodsImgPath} +'/' + ${recent.goodsImgUuid} + '_' + ${recent.goodsImgName}" alt="최근 본 상품"/>
                                    </dt>
                                    <dd class="recent-goods-name" th:text="${recent.goodsName}"></dd>
                                    <dd class="recent-goods-price"></dd>
                                </dl>
                            </div>
                            </a>

                        </li>
                        <li class="non-recent-goods" th:if="${recentGoods == null || recentGoods.size() == 0}">최근 본 상품이 없습니다.</li>
                    </ul>
                </div>
            </div>












            <!--

                         하단광고 -->
<!--            <div class="main-container04">-->
<!--                <div class="ad-bottom-container">-->
<!--                    <a href=""><img src="/img/ad_bottom.png" alt=""></a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </main>
    <!-- main 끝 -->

    <!-- footer 시작 -->
    <div class="footer" th:replace="fragment/footer :: footer">

    </div>
    <!-- footer 끝 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="/index/js/index.js"></script>
</body>
</html>