*{
    font-family: 'Pretendard-Regular';
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    color: black;
}
main{
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 1024px;
    min-width: 1024px;
    height: auto;
    /* background-color: pink; */
}
.cate-title-box{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding: 0 15px;

    /* background-color: pink; */
}
.mate-title-box{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
}
.title-input-wrap{
    width: 1000px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid gray;

    /* background-color: aqua; */
}
.title-input-wrap input{
    width: 98%;
    height: 90%;

    border: none;
}
.title-input-wrap input:focus{
    outline: none;
}
.mate-content-box{
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: blueviolet; */
}
.mate-content-box textarea{
    width: 1000px;
    height: 480px;

    box-sizing: border-box;
    padding: 10px;
    resize: none;

    border-radius: 10px;
}
.mate-select-box{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    /* background-color: greenyellow; */
}

/* 약속시간 선택 */
.select-time{
    width: 25%;
    height: 100%;

    box-sizing: border-box;
    padding: 15px;

    /* background-color: aquamarine; */
}
.select-time-title{
    width: 100px;
    height: 25px;

    /* background-color: firebrick; */
}
.selct-one-time{
    width: 100px;
    height: 25px;

    /* background-color: yellow; */
}
.selct-one-time select{
    width: 100%;
    height: 100%;

    text-indent: 10px;

    cursor: pointer;
}
/* 약속시간 선택 끝 */

.select-member{
    width: 25%;
    height: 100%;

    box-sizing: border-box;
    padding: 15px;
}
.select-member-title{
    width: 100px;
    height: 25px;

    /* background-color: firebrick; */
}
.selct-one-member{
    width: 100px;
    height: 25px;

    /* background-color: yellow; */
}
.selct-one-member select{
    width: 100%;
    height: 100%;

    text-indent: 10px;

    cursor: pointer;
}



.select-pet{
    width: 50%;
    height: 100%;

    box-sizing: border-box;
    padding: 15px;

    /* background-color: pink; */
}
.select-pet-title{
    width: 100px;
    height: 25px;

    /* background-color: firebrick; */
}
.select-one-pet{
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;

    /* background-color: green; */
}
.select-pet-btn{
    width: 100px;
    height: 25px;

    margin: 0 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    background-color: #FCD11E;

    cursor: pointer;
}
.mate-date-n-region-box{
    width: 100%;
    height: 300px;
    display: flex;

    /* background-color: hotpink; */
}
.select-date{
    width: 50%;
    height: 300px;

    /* background-color: pink; */
}
.title-n-date{
    width: 100%;
    height: 20%;

    box-sizing: border-box;
    padding: 0 15px;

    /* display: flex; */
    /* background-color: plum; */

    margin: 35px auto;
}
.select-date-title{
    width: 50%;
    height: 50%;

    display: flex;
    align-content: center;
    /* box-sizing: border-box; */
    /* padding: 0 15px; */

    /* background-color: bisque; */
}
.selected-date-wrap img{
    width: 20px;
    height: 20px;
    margin: 0 10px;

    cursor: pointer;
}
.selected-date-wrap{
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
}
.selected-date{
    width: 50%;
    height: 90%;

    border-radius: 5px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: gold; */
}
.calender-wrap{
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}
.calender{
    width: 92%;
    height: 95%;

    border: 1px solid black;
}
.select-region{
    width: 50%;
    height: 100%;

    /* background-color: tan; */
}
.select-region-title-n-search{
    width: 100%;
    height: 20%;

    box-sizing: border-box;
    padding: 0 15px;

    /* background-color: teal; */

    margin: 35px auto;
}
.select-region-title{
    width: 100%;
    height: 50%;

    display: flex;
    align-content: center;
    
}
.searchbox{
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
}
.searchbox input{
    width: 50%;
    height: 90%;

    border-radius: 5px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: gold; */
}
.searchbox img{
    width: 20px;
    height: 20px;
    margin: 0 10px;

    cursor: pointer;
}
.map-wrap{
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: navy; */
}
.map{
    width: 92%;
    height: 95%;

    border: 1px solid black;
}
.mate-btn-box{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: khaki; */

    cursor: pointer;

    margin: 80px auto;
}
.mate-btn{
    width: 100px;
    height: 30px;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FCD11E;

    color: white;
}