<div class="admin-hidden-title">
    <h3>관리자 페이지</h3>
</div>
<aside class="aside">
    <ul class="side-menu">
        <li class="user-manage admin-manage">회원 관리
            <div class="sub-menu">
                <ul class="sub-menu-ul">
                    <li><a href="/admin/html/adminIndex.html">회원 현황</a></li>
                    <li><a href="/admin/html/adminUserList.html">회원 목록</a></li>
                </ul>
            </div>
        </li>
        <li class="goods-manage admin-manage">상품 관리
            <div class="sub-menu">
                <ul class="sub-menu-ul">
                    <li><a href="/admin/html/adminGoodsList.html">상품 목록</a></li>
                    <li><a href="/admin/html/adminGoodsReg.html">상품 등록</a></li>
                </ul>
            </div>
        </li>
        <li class="order-manage admin-manage">주문 관리
            <div class="sub-menu">
                <ul class="sub-menu-ul">
                    <li><a href="#">주문 현황</a></li>
                    <li><a href="#">주문 목록</a></li>
                </ul>
            </div>
        </li>
        <li class="notice-manage admin-manage">공지사항 관리
            <div class="sub-menu">
                <ul class="sub-menu-ul"> 
                    <li><a href="#">공지사항 목록</a></li>
                    <li><a href="#">공지사항 등록</a></li>
                </ul>
            </div>
        </li>
        <li class="question-manage admin-manage">문의사항 관리
            <div class="sub-menu">
                <ul class="sub-menu-ul">
                    <li><a href="#">상품 문의</a></li>
                    <li><a href="#">QnA 문의</a></li>
                </ul>
            </div>
        </li>
    </ul>
</aside>