<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
  <title>header</title>
</head>
<body>
      <!-- header 시작 -->
      <div class="header" th:fragment="header">
        <div class="header-section01">
            <div class="header-section01-nav">
                <ul  th:if="${session.userId == null}">
                    <li><a href="/user/enterLogin">
                        <div class="top-section">
                            <p>로그인</p>
                        </div>
                        </a>
                    </li>
                    <li><a href="/user/join">
                        <div class="top-section">
                            <p>회원가입</p>
                        </div>
                    </a>
                    </li>
                    <li><a href="">
                        <div class="top-section">
                            <p>장바구니</p>
                        </div>
                    </a>
                    </li>
                </ul>
                <ul  th:if="${session.userId != null}">
                    <li><a href="/user/logout">
                        <div class="top-section">
                            <p>로그아웃</p>
                        </div>
                    </a>
                    </li>
                    <li><a th:href="@{'/mypg/main/' + ${session.userId}}">
                        <div class="top-section">
                            <p>마이페이지</p>
                        </div>
                    </a>
                    </li>
                    <li><a href="">
                        <div class="top-section">
                            <p>장바구니</p>
                        </div>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-section02">
            <div class="header-section02-container">
                <div class="header-logo">
                    <a href="/index/index">
                        <img src="/img/logo.png" alt=""></a></div>
                <div class="header-section02-nav">
                    <ul>
                        <li><a href="/community/freeBoardList">커뮤니티</a></li>
                        <li><a href="/walk/walkList">산책메이트</a></li>
                        <li><a href="/shopping/html/shop.html">쇼핑</a></li>
                        <li><a href="/map/html/map.html">병원찾기</a></li>
                    </ul>
                </div>
            </div>
        </div>


          <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
          <script src="/fragment/js/header.js"></script>

      </div>
    <!-- header 끝 -->


</body>
</html>