<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/fragment/css/sideBanner.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="side-banner-fragment" th:fragment="side-banner-fragment" >
        <ul class="side-banner-ul" th:if="${session.userId == null}">
            <li class="side-banner-li side-banner-li-img"><img src="/img/sideBanner.jpg" alt="">
            </li>

            <li class="side-banner-li" >
                <a href="/user/enterLogin">로그인</a>
            </li>
            <li class="side-banner-li">
                <a href="/user/join" th:data-sessionuserid="${session.userId}" >회원가입</a>
            </li>
            <li class="side-banner-li top-btn">
                <a href="">TOP</a>
            </li>
        </ul>
        <ul class="side-banner-ul" th:unless="${session.userId == null}">
            <li class="side-banner-li side-banner-li-img"><img src="/img/sideBanner.jpg" alt="">
            </li>

            <li class="side-banner-li" >
                <a th:href="@{'/mypg/main/' + ${session.userId}}">마이페이지</a>
            </li>
            <li class="side-banner-li">
                <a href="" th:data-sessionuserid="${session.userId}" >장바구니</a>
            </li>
            <li class="side-banner-li top-btn">
                <a href="">TOP</a>
            </li>
        </ul>


    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script>

        $(document).ready(function (){

            // let floatPosition = parseInt($('.side-banner-fragment').css('top'))
            //
            // $(window).scroll(function (){
            //
            //
            //     let scrollTop = $(window).scrollTop();
            //     let attachedPosition  ;
            //
            //     if(scrollTop >= 50){
            //         attachedPosition = scrollTop + floatPosition - 50 + "px";
            //     } else {
            //         attachedPosition = "7px";
            //     }
            //
            //     $('.side-banner-fragment').css('top', attachedPosition);
            //
            //
            // }).scroll();


            $('.top-btn').click(function (e){
                e.preventDefault();
                $(window).scrollTop(0,0);
            })

        })



    </script>
    </div>


</body>

</html>