<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user/css/join.css">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <title>회원가입</title>
</head>
<body>

<main class="main">
    <div class="join-page-wrap">
        <div class="img-container">
            <div class="title-logo">
                <a href="/index/html/index.html">
                    <img src="/user/img/puppy-img.png" alt="puppy-img" class="puppy-img"/>
                    <img src="/user/img/main-logo.png" alt="title" class="title-img"/>
                </a>
            </div>
        </div>
        <form action="" method="" id="join-form">
           
            <div class="join-input">
                <div class="join-term-title">
                    <h3>약관동의</h3>
                    <p>필수 약관에 동의하지 않으면 회원가입을 할 수 없습니다.</p>
                </div>
                <div class="total-select-checkbox">
                    <label for="total-check">
                    <input type="checkbox" id="total-check" name="total-check">
                    아래 약관에 모두 동의합니다.
                    </label>
                </div>
                <div class="join-term">
                    <div class="first-term terms">
                        <input type="checkbox" name="termCh" id="term1" class="term">
                        <label for="term1">
                            이용약관 <span class="must"> (필수)</span> </label>
                        <p class="more-btn"><a href="#">더보기</a></p>
                    </div>
                    <div class="second-term terms">
                        <input type="checkbox" name="termCh" id="term2" class="term">
                        <label for="term2">
                            개인정보수집 <span class="must"> (필수)</span> </label>
                            <p class="more-btn"><a href="#">더보기</a></p>

                    </div>
                    <div class="third-term terms">
                        <input type="checkbox" name="termCh" id="term3" class="term">
                        <label for="term3">
                            개인이용 <span class="must"> (필수)</span> </label>
                            <p class="more-btn"><a href="#">더보기</a></p>

                    </div>
                </div>

                <div class="join-input-title">
                    <h3>회원 정보</h3>
                </div>
                <div class="join-id-input user-input">
                    <!-- <img src="/user/img/userId.png" alt="userId" class="userId-img join-img"/> -->
                    <input type="text" id="userId" name="userId" placeholder="영문 소문자, 숫자를 사용한 6~13자리" onkeyup="AllCharacterCheck(this)" />
                    <label for="userId" class="input-title">아이디</label>

                    <!--추후 비동기로 중복여부 확인-->
                    <label for="userId" class="userId-available check"><span class="material-symbols-outlined check-icon">
                        done
                        </span></label>
                    <label for="userId" class="userId-unavailable check"><span>이미 가입된 아이디입니다.</span></label>
                    <label for="userId" class="userIdCh check"><span>아이디 양식을 확인해주세요.</span></label>

                </div>
                <div class="login-pw-input user-input">
                    <!-- <img src="/user/img/userPw.png" alt="userPassword" class="userPw-img join-img"/> -->
                    <input type="password" id="userPassword" name="userPassword" placeholder="특수문자와 숫자를 포함하여 8자 이상 기입하세요 " oninput="checkPw()"/>
                    <label for="userId" class="input-title">비밀번호</label>

                    <label for="userPassword" class="userPw-available check"><span class="material-symbols-outlined check-icon">
                        done
                        </span></label>
                    <label for="userPassword" class="userPw-unavailable check"><span>사용 불가능한 비밀번호입니다.</span></label>
                </div>
                <div class="login-pw-ch-input user-input">
                    <!-- <img src="/user/img/userPw.png" alt="userPasswordCh" class="userPw-img join-img"/> -->
                    <input type="password" id="userPasswordCh" name="userPasswordCh" placeholder="비밀번호를 다시 입력해주세요"/>
                    <label for="userId" class="input-title">비밀번호 확인</label>

                    <label for="userPasswordCh" class="userPwChOk check"><span class="material-symbols-outlined check-icon">
                        done
                        </span></label>

                    <label for="userPasswordCh" class="userPwCh check"><span>비밀번호가 일치하지 않습니다.</span></label>
                </div>
                <div class="login-name-input user-input">
                    <!-- <img src="/user/img/userId.png" alt="userName" class="userName-img join-img"/> -->
                    <input type="text" id="userName" name="userName" placeholder="성명을 입력하세요."/>
                    <label for="userId" class="input-title">이름</label>

                </div>
                <div class="login-phone-input user-input">
                    <!-- <img src="/user/img/phone.png" alt="userPhone" class="userPhone-img join-img"/> -->
                    <input type="text" id="userPhone" name="userPhone" placeholder="번호를 입력해주세요.( -제외 )" maxlength="11" onkeyup="AllCharacterCheck(this)"/>
                    <label for="userId" class="input-title">휴대폰 번호</label>

                    <!--휴대폰 중복검사 추후-->
                    <label for="userPhone" class="userPhone-available check"><span class="material-symbols-outlined check-icon">
                        done
                        </span></label>
                    <label for="userPhone" class="userPhone-unavailable check"><span>이미 가입된 번호입니다.</span></label>
                    <label for="userPhone" class="userPhoneCh check"><span>휴대폰 번호 형식이 아닙니다.</span></label>
                </div>
                <div class="login-email-input user-input">
                    <!-- <img src="/user/img/email.png" alt="userEmail" class="userEmail-img join-img"/> -->
                    <input type="text" id="userEmail" name="userEmail" placeholder="이메일을 입력하세요."  onkeyup="characterCheck(this)"/>
                    <label for="userId" class="input-title">이메일</label>

                    <!--이메일 중복검사 추후-->
                    <label for="userEmail" class="userEmail-available check"><span class="material-symbols-outlined">
                        done
                        </span></label>
                    <label for="userEmail" class="userEmail-unavailable check"><span>이미 가입된 이메일입니다.</span></label>
                    <label for="userEmail" class="userEmailCh check"><span>이메일 형식이 아닙니다.</span></label>
                </div>
                <div class="login-address-input user-input">
                    <div class="address-post-code">
                        <!-- <img src="/user/img/addr.png" alt="userAddress" class="userAddress-img join-img"/> -->
                        <input class="postalCode" type="text" id="addressPost" name="addressPost" disabled>
                        <input type="text" id="address" name="address"  disabled/>

                        <label for="userId" class="input-title">주소</label>

                    </div>
                    <div class="address-main user-input">
                        <!-- <img src="/user/img/addr.png" alt="userAddress" class="userAddress-img join-img"/> -->
                    </div>
                        <input type="text" id="addressDetail" name="addressDetail"/>
                        <input type="text" id="addressDetails" name="addressDetails" placeholder="상세주소 입력" />
                    <button type="button" class="addrBtn" value="우편번호 찾기" onclick="addressFind()">주소찾기</button>
                </div>
            </div>

            <div class="join-btn">
                <button class="join-submit-btn" type="button">가입하기</button>
            </div>
        </form>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/user/js/join.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" ></script>
</body>
</html>