body{
    font-family: 'Pretendard-Regular';
}

a{color: black;}

*{
    margin: 0px;
    padding: 0px;

}

.main-container{
    width: 1024px;
    /* border: 1px solid black; */
    margin: 0px auto;
}

.menu-choice-area{
    /* border: 1px solid black; */
    padding-top: 20px;

}
.menu-choice{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e6e6e6;
    padding: 20px;

}


.menu-choice li {
    font-weight: 700;
    font-size: 18px;
    /* color: #868688; */
    margin: 0px 40px;

}

.pro{
    color: #868688;
}
.pro:hover{
    color: black;
}

.mywrite{
    color: #868688;
}

.mywrite:hover{
    color: black;
}

.mybuy{
    color: black;
}

/*이벤트 ㄹ뷰 작성 공간*/
.buyboxp{
    height: 800px;
    /* display: none; */
}




.buy-text{
    width: 600px;
    margin:0 auto;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid rgba(0,0,0,.50);
    border-radius: 15px;
}

.buylistbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.50);
    width: 530px;
    margin:15px auto;

}



.img-area-2{
    width: 120px;
    height: 70px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-left: 15px;

}
.productimg{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.buy-text-area-2{
    /* border: 1px solid black; */
    width: 600px;

    height: 80px;
    font-size: 18px;

}


.siteName{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    font-size: 14px;
    padding-top: 10px;
}

.productName{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    font-size: 13px;
    padding-top: 5px;
}

.price-2{
    /* border: 1px solid black; */
    /* line-height: 0px; */
    height: 100px;
    text-decoration: none;
    padding-right: 20px;
    /* display: flex; */
}


.text-page-2 p{
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
}

.text-page-2 p:hover{
    /* border: 1px solid black; */
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    padding-top: 10px;
    font-weight: bold;
    color: crimson;
}



.list-page-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
}
.list-pages{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.list-pages ul li{
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
}

.nonepage{
    /* border: 1px solid black; */
    height: 800px;
    /*display: none;*/

}

.none-img-area{
    /* border: 1px solid black; */
    padding-top: 150px;
}

.none-img{
    /* border: 1px solid black; */
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.none-img img{
    width: 100%;
    height: 100%;
    /* border: none; */
}

.nonetext-area{
    /* border: 1px solid black; */
    padding-top: 15px;

}

.nonetext-area p{
    text-align: center;
    font-size: 20px;
}



.pricequntity{
    float: right;
    display: inline-block;
    width: 80px;
    padding-top: 20px;
}

.pricetotal{
    float: right;
    display: inline-block;
    width: 80px;
}
.orderregisterdate{
    padding-left: 15px;
}

.buylistbox-overflow{
    /*width: 95%;*/
    /*!*height: 200px;*!*/
    /*overflow-y: auto;*/
    /*border-radius: 15px;*/
    /*border: 1px solid rgba(0,0,0,.50);*/
    /*margin: auto;*/
    /*margin-top: 10px;*/
}