body{
    font-family: 'Pretendard-Regular';
}
  
a{color: black;}

*{
    margin: 0px;
    padding: 0px;

}

.main-container{
    width: 1024px;
    /* border: 1px solid black; */
    margin: 0px auto;
}

.page-view{
    /* border: 1px solid black; */
    margin: 0px auto;
    width: 800px;
    height: 800px;
    padding-bottom: 15px;
}




.review-container{
    /* border: 1px solid black; */
    /* margin: 0px auto; */
    display: flex;
    justify-content: center;
}
.new-post-form{
    width: 700px;
    margin-top: 50px;
    box-shadow: 0px 0px 2px 2px rgba(163,174,184,0.3);
    border-radius: 10px;
}
.form-group {
    margin-top: 30px;
    /* margin-bottom: 20px; */
    margin-left: 35px;
}

label {
    /* border: 1px solid black; */
    display: block;
    margin-bottom: 5px;
}

.title p{
    border: 1px solid #ccc;
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 5PX;
    height: 18px;
    border-radius: 5px;
}
.title span{
    /* border: 1px solid black; */
    font-size: 13px;

}

input[type='text'],
textarea {
    width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(163,174,184,0.2);
}

textarea {
    resize: none;
    height: 300px;
}

input[type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.submit-btn {
    width: 300px;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0 auto;
    margin-left: 200px;
    margin-bottom: 20px;
    border: 1px solid #fcd11e;
}

.submit-btn:hover {
    background-color: #fcd11e;
    color: white;
    font-weight: bold;
}

.file-group{
    /* border: 1px solid black; */


}

.file-wrap {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.file-wrap > li {
    list-style-type: none;
    width: 70px;
    height: 70px;
    margin: 0.5rem;
    border: 0.0625rem dashed #e1e1e1;
    border-radius: 8px;
    cursor: pointer;
}

.file-wrap > li:first-child {
    position: relative;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDM2djM2SDB6Ii8+PGcgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2Utd2lkdGg9IjEuNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNCA0KSI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNMTQgN3YxNG03LTdINyIvPjxjaXJjbGUgY3g9IjE0IiBjeT0iMTQiIHI9IjE0Ii8+PC9nPjwvZz48L3N2Zz4=)
    no-repeat 50% ;
}

.img-list {
    cursor: default;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBzdHJva2U9IiNCNUI1QjUiIHN0cm9rZS13aWR0aD0iMS41IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0IDQpIj48cmVjdCB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHJ4PSIzLjUiLz48Y2lyY2xlIGN4PSI4LjU1NiIgY3k9IjguNTU2IiByPSIyLjMzMyIvPjxwYXRoIGQ9Ik0yOCAxOC42NjdsLTcuNzc3LTcuNzc4TDMuMTExIDI4Ii8+PC9nPjxwYXRoIGQ9Ik0wIDBoMzZ2MzZIMHoiLz48L2c+PC9zdmc+)
    no-repeat 50% #f2f2f2;
    position: relative;
}

input[type='file'] {
    cursor: pointer;
}

.x-box::after {
    content: 'x';
    background-color: #FF7000;
    color: white;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    text-align: center;
    line-height: 13px;
}

.grade-group{
    display: flex;
    /* border: 1px solid black; */
}

.grade{
    display: flex;
    border:0;

}
.text-bold{
    margin-left: 0px;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    height: 15px;
    margin-right: 5px;

}
.grade legend {
    text-align: right;
    direction: rtl;
    display: flex;
}
.grade input[type=radio]{
    display: none;
}
.grade label{
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.grade label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.grade label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.grade input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}