body{
    font-family: 'Pretendard-Regular';
}
  
a{color: black;}

*{
    margin: 0px;
    padding: 0px;

}

.main-container{
    width: 1024px;
    /* border: 1px solid black; */
    margin: 0px auto;
}

.registerupdate-form{
    padding-top: 40px;
}

.register-main{
    text-align: center;

}



/*파일 사진 추가 css*/


/*파일 첨부 css*/



.img-group{
/* border: 1px solid black; */
padding-top: 50px;
}

.img-area{
    /* border: 1px solid black; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px auto;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.addbtn-area{
    /* border: 1px solid black; */
    margin-top: 15px;
    /* position: relative; */
}

.imgbtn{
    /* border: 1px solid black; */
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #fcd11e;
    cursor: pointer;
    
}

input[type='file'] {
    /* position: absolute; */
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-left: -100px;
    /* top: 10px; */
    opacity: 0;
    cursor: pointer;
}



.petname-area{
    display: flex;
    /* border: 1px solid black; */
    height: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.petname-area span{
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 15px;
    line-height: 0px;
    color: rgb(243, 62, 62);
    /* border: 1px solid black; */
}

.pettype{
    border: 1px solid black;
    width: 360px;
    height: 40px;
    border-radius: 10px;
}

.pettype select{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    padding: 10px;
    /* background-color: #fff7da; */
    border-radius: 10px;
}

.inp-name{
    /* float: left; */
    width:350px;
    height: 40px;
    margin-left: 6px;
    padding-left: 10px;
    border-radius: 10px;
}


.nonename{
    font-size: 13px;
    color: red;
    padding-right:60px;
    display: none;
    /* border: 1px solid black; */
}

.pet-birth-area{
    display: flex;
    /* border: 1px solid black; */
    height: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.pet-birth-area span{
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 15px;
    line-height: 0px;
    color: rgb(243, 62, 62);
}

.inp-birth{
    width:350px;
    height: 40px;
    margin-left: 6px;
    padding-left: 10px;
    border-radius: 10px;
}

.noneday{
    font-size: 13px;
    color: red;
    padding-right:20px;
    display: none;
}
/**/
.pet-type-area{
    display: flex;
    /* border: 1px solid black; */
    height: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.pet-type-area span{
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 15px;
    line-height: 0px;
    color: rgb(243, 62, 62);
    padding-right: 7px;
}

.inp-type{
    width:350px;
    height: 40px;
    margin-left: 6px;
    padding-left: 10px;
    border-radius: 10px;
}

.nonetype{
    padding-right: 200px;
    /* width: 150px; */
    font-size: 13px;
    color: red;
    display: none;
}


.gender-text{
    /* border: 1px solid black; */
    width: 300px;
    /* margin-left: 350px; */
    padding-top: 10px;
    margin-left: 325px;
    display: flex;
}


.gender-text p:first-child{
    /* border: 1px solid black; */
    color: rgb(243, 62, 62);
    line-height: 15px;
}

.gender-text p:nth-child(2){
    /* border: 1px solid black; */
    font-size: 15px;
    padding-left: 10px;
    font-style: normal;
}
.gender-choice{
    /* border: 1px solid black; */
    width: 300px;
    /* margin-left: 350px; */
    padding-top: 15px;
    margin-left: 320px;
    font-size: 15px;
    display: flex;
    justify-content:space-around;
}

.genderchck-M{
    width: 10px;
    height: 10px;
}


.genderchck-F{
    width: 10px;
    height: 10px;
}

.neutering-ckeck{
    /* border: 1px solid black; */
    padding-top: 20px;
}

.check-box{
    /* border: 1px solid black; */
    width: 150px;
    height: 30px;
    font-size: 18px;
    margin-left: 305px;
    /* padding-top: 20px; */
   position: relative;
}

.check-box span{
    display: inline-block;
    /* border: 1px solid black; */
    font-size: 16px;
    width: 100px;
    height: 30px;
    position: absolute;
    top :0px;
}

.neutering{
   
    width: 15px;
    height: 15px;
}

.weight{
    /* border: 1px solid black; */
    padding-top: 10px;
    padding-left: 10px;
}

.kg{
    width: 360px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    /* border: 1px solid black; */
}

.btn-area{
    /* border: 1px solid black; */
    padding-top:30px;
}

.register-btn-area{
    /* border: 1px solid black; */
    text-align: center;
}

.registerupbtn{
    width: 360px;
    height: 40px;
    border-radius:20px;
    border: none;
    background-color: #fcd11e;
    box-shadow:  0 2px 4px rgba(0,0,0,.15); 
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}


.registerupbtn:hover{
    width: 360px;
    height: 40px;
    border-radius:20px;
    border: none;
    background-color: #fcd11e;
    box-shadow:  inset 2px 4px rgba(0,0,0,.15); 
    font-size: 18px;
    font-weight: bold;
}

.mainmove{
    /* border: 1px solid black; */
    padding-left: 330px;
    padding-top: 15px;
    padding-bottom: 20px; 
}



.movebtn{
    line-height: 40px;
    width: 360px;
    height: 40px;
    font-size: 18px;
    font-weight: bold; 
    border-radius:20px;
    border: none;
    background-color: #e6e6e6;
    box-shadow:  0 2px 4px rgba(0,0,0,.15);
    text-align: center; 
    display: inline-block;
    color: black;
}

.movebtn:hover{
    width: 360px;
    height: 40px;
    font-size: 18px;
    font-weight: bold; 
    border-radius:20px;
    border: none;
    background-color: #e6e6e6;
    box-shadow:  inset 2px 4px rgba(0,0,0,.15);
    text-align: center; 
    display: inline-block;
    color: black;
}
