/* 개인css */
button{
  cursor: pointer;
}
a{
  color: black;
}
/* 폰트 적용 */
body,html,input,button {
  font-family: 'Pretendard-Regular';
}

/* 메인 시작 */
.main-content{
  /* width: 1024px; */
  width: 100%;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* border: 2px solid #FCD11E; */
}
.main-content-contaniner{
  width: 1024px;
  /* width: 100%; */

  height: auto;
  /* margin: 10px auto; */
  /* background-color: rgb(97, 25, 25); */

  /* border: 2px solid #FCD11E; */
}
.title-info{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: start;
  align-items: end;

  /* border: 2px solid #FCD11E; */

  font-size: 20px;

  margin: 20px auto;
}
.title-info img{
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px 15px;
}
/* 미들 */
.middle-content{
  width: 600px;
  height: 850px;
  /* border:1px solid #efeeee; */
  border-radius: 5px;

  margin: 50px auto;
}
.middle-content div{
  margin: 10px 10px;
}
.name-box{
  width: 100px;
  height: 90px;
  /* border:1px solid rgb(232, 10, 10); */
}
.name-box label{
  /* width: 100px; */
  /* height: 20px; */
  
  display: flex;
  text-align: start;
  /* border:1px solid rgb(232, 10, 10); */
  
  margin: 5px auto;
  font-size: 18px;
}
.required{
  color: red;
  font-weight: 700;
}
.inputbox{
  /* position :absolute; */
  /* width: 950px; */
  width: 500px;
  height: 25px;
  line-height: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 24px;
  padding: 5px 5px;
  font-size: 16px;
  text-align: center;
}
.name-box2{
  width: 100px;
  height: 200px;
}
.name-box2 label{
  display: flex;
  text-align: start;

  margin: 5px auto;
  font-size: 18px;
}
.inputbox1{
  /* position :absolute; */
  width: 500px;
  height: 25px;
  line-height: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 24px;
  /* padding: 0 12px; */
  font-size: 16px;
  text-align: center;

  margin: 3px auto;
}
.box2-serch{
  display: block;
  width: 80px;
  height: 25px;

  border: 1px solid #d2d2d2;
  border :none;
  border-radius: 50px;
  font-size: 15px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.name-box3{
  width: 100px;
  height: 80px;
}
.name-box3 label{
  display: flex;
  text-align: start;

  margin: 5px auto;
  font-size: 18px;
}
.postalCode{
  /* position :absolute; */
  width: 500px;
  height: 25px;
  line-height: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 24px;
  /* padding: 0 12px; */
  font-size: 16px;
  text-align: center;

  margin: 3px auto;
}
.inputbox2{
  /* position :absolute; */
  width: 500px;
  height: 25px;
  line-height: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 24px;
  /* padding: 0 12px; */
  font-size: 16px;
  text-align: center;

  margin: 3px auto;
}
.name-box4{
  width: 100px;
  height: 100px;
}
.name-box4 label{
  display: flex;
  text-align: start;

  margin: 5px auto;
  font-size: 18px;
}
.inputbox3{
  /* position :absolute; */
  width: 470px;
  height: 150px;
  /* line-height: 5px; */
  border: 1px solid #d2d2d2;
  border-radius: 24px;
  /* padding: 0 12px; */
  font-size: 16px;
  text-align: start;

  margin: 10px auto;
  padding: 20px 20px;
  resize: none;
}




/* 미들 */


.product{
  width: 100%;
  height: 40px;
  margin: 20px auto;

  display: flex;
  text-align: end;
  justify-content: end;
  /* align-items: center; */

  font-size: 20px;
  color: #FF6001;
  font-weight: 700;

  border-bottom:1px solid rgb(226, 226, 226);
}

.content-price{

  width: 100%;
  height: auto;
  margin: 20px auto;
  
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;

  /* border:1px solid rgb(210, 210, 210);
  border-top: none;
  border-right: none;
  border-left: none; */
}

.content-price3{
  width: 100%;
  height: 50px;
  margin: 20px auto;
  
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;

  /* border:1px solid rgb(210, 210, 210);
  border-right: none;
  border-left: none; */

  background-color: #ffeb9c;
  border-radius: 5px;
  font-size: 20px;
}

.cartButton-Box{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 60px auto;
}
.cart-button{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 15px;
  background-color: #ff9b61;
  width: 300px;
  height: 50px;
  font-size: 20px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-button:hover{
  /* transition: all 0.8s linear; */
  /* background-color: rgb(205, 70, 205); */
  background-color: #FF6001;
}
.room{
  margin: 100px auto;
}
/* 메인 끝 */