/* 개인css */
button{
  cursor: pointer;
}
a{
  color: black;
}
/* 폰트 적용 */
body,html,input {
  font-family: 'Pretendard-Regular';
  /* font-family: 'NanumSquareNeo-Variable'; */
}

/* 메인 시작 */
.main-content{
  /* width: 1024px; */
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-content-contaniner{
  width: 1024px;
  /* width: 100%; */

  height: 1700px;
  /* margin: 10px auto; */
  padding: 10px 0;
  /* background-color: rgb(97, 25, 25); */
}

.main-content-title-text01{
  margin: 30px 0 20px 0;
  font-size: 60px;
  /* line-height: 100px; */
  /* background-color: yellow; */
}
/* 검색 */
.main-content-contaniner-form{
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */

  width: 100%;
  height: 100px;
  /* height: 100px; */
  margin: 25px auto;
  /* border-radius: 10px; */
  /* padding: 10px 0; */
  /* background-color: rgb(164, 108, 108); */
  /* border: 2px solid #FCD11E; */
}
.search-inputbox{
  position: relative;
  width: 280px;
  height: 50px;
  margin: 0 auto;
  padding: 24px 0;
  /* overflow: hidden; */
  /* border: 2px solid #FCD11E; */
}
.input-img{
  width: 25px;
  height: 25px;

  position :absolute;
  z-index: 2;
  top: 50%;
  left: 15px;
  cursor: pointer;
  transform: translateY(-50%);
}
.inputbox{
  /* position :absolute; */
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 2px solid #FCD11E;
  border-radius: 24px;
  padding: 0 48px;
  font-size: 16px;
}
/* 검색 */


.main-content-contaniner-form2{
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: center;

  /* background-color: palevioletred; */
}
.main-content-contaniner-form2 li{
  display: inline-block;
  margin: 0 30px;
}
.main-content-contaniner-form2 li a{
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.form2-li :hover{

  /* transition: all 0.3s linear; */
  border-bottom: 3px solid #FCD11E;
}
.form2-li-1{
  background-color: #ffeda4;
  border-radius: 20px;
}

.form-box{
  width: 350px;
  height: 30px;

  font-size: 40px;

  border: 2px solid #FCD11E;
  border-radius: 11px;
  /* padding: 0 5px; */

  display: flex;
  justify-content: center;

  
}
.input-text1{
  border:none;
  font-size: 17px;
  text-indent: 20px;
}
.input-text1:focus{
  border: 2px solid #5ac4fd;
  outline: none;
  /* border-radius: 10px; */
  border-top: none;
  border-left: none;
  border-right: none;
}


.submit-button{
  width: 70px;
  height: 30px;
  font-size: 15px;
  border: 2px solid #FCD11E;
  border-top:none;
  border-bottom:none;
  border-right:none;
  border-radius: 9px;
  padding: 0 10px;
  /* background-color: #FCD11E; */
  background-color: white;
  font-family: 'Pretendard-Regular';
  
  text-align: end;

}
.form-box2{
  float: right;
  padding: 0 20px;
}
.search-t{
  width: 140px;
  height: 35px;
  text-indent: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.main-content-box{
  height: 80px;
}

.main-content-contaniner-form3{
  width: 1024px;
  height: 1210px;
}
.ul-list{
margin: 0;
}
.li-list{
  float: left;
  margin: 0 5px 50px 20px;

  width: 20%;
  height: 320px;
  /* border: 1px solid blue; */
  border-radius: 10px;

  display: flex;
  text-align: center;
  justify-self: center;
  align-items: center;

  flex-direction: column;

  padding: 10px 10px;

  box-shadow: 3px 6px 3px 3px #d8d8d8;
  
}

.list-div{
  width: 180px;
}
.li-list-full-img{
  margin-bottom: 10px;
  /* width: 150px; */
  overflow: hidden;
  border-radius: 10px;
}
.li-list-full-img :hover{
  transition: all 0.3s linear;
  transform: scale(1.1);
}
.li-img{
  width: 100%;
  height: auto;
  margin: 0 auto;

  display: block;

  border-radius: 10px;
}

.list-name1{
  display: flex;
  margin: 5px;
  font-size: 9px;
  font-weight: bold;
  color: #7a7a7a;
}
.list-name2{
  display: flex;
  margin: 5px;
  font-size: 12px;
}
.reviw{
  display: flex;
  margin: 5px;
  font-size: 10px;

  border-top: 1px solid #e8e8e8;
}
.reviw img{
  width: 12px;
  height: 12px;
}
.reviw1{
  margin-left: 10px;
}
.won{
  display: flex;
  margin: 9px;
  font-size: 15px;
}
.basket{
  display: flex;
  justify-content: flex-end;
  width: 170px;
  
}
.basket img{
  width: 83px;
  height: 30px;
}
/* .basket img{
  height: 30px;
  width: 30px;
}
.basket:hover{
  background-image: url(/img/icon-01.png);
} */
.basket-button{
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: #FCD11E;
  width: 80px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-class{
  /* width: 100%; */
  text-align: center;
}

.nav-class ul{
  margin: 0;
}
.nav-class ul li {

  display: inline-block;
  width: 40px;
  height: 25px;
}





/* 메인 끝 */