
.addInfoTitle{
  font-size: 20px;
  font-weight: 700;
  margin: 35px;
  text-align: start;
}
/* 하단 정보 테이블 */
table{
  border-collapse: collapse;
  border-spacing: 0;
}
.infoTable{
  width: 100%;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  table-layout:fixed;
  margin: 0;
}
.infoTable th{
  padding: 12px 16px;
  border-bottom: 1px solid #efefef;
  background-color: #efefef;
}
.infoTable td{
  padding: 12px 16px;
  border-bottom: 1px solid #efefef;
}

/* 메인 끝 */