/* 개인css */
button{
  cursor: pointer;
}
a{
  color: black;
}
/* 폰트 적용 */
body,html,input {
  font-family: 'Pretendard-Regular';
}

/* 메인 시작 */
.main-content{
  /* width: 1024px; */
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-content-contaniner{
  width: 1024px;
  /* width: 100%; */

  height: auto;
  /* margin: 10px auto; */
  padding: 10px 0;
  /* background-color: rgb(97, 25, 25); */
}

.main-content-title-text01{
  margin: 30px 0 20px 0;
  font-size: 60px;
  /* line-height: 100px; */
  /* background-color: yellow; */
  /* border: 2px solid #27220e; */
  
}

.main-content-contaniner-form-hr{
  /* display: flex; */
  /* align-items: center; */

  width: 40%;
  /* height: 100px; */
  margin: 25px auto;
  /* border-radius: 10px; */
  /* padding: 10px 0; */
  /* background-color: rgb(164, 108, 108); */
  /* border: 1px solid #FCD11E; */
}

.main-content-contaniner-form2{
  width: 1024px;
  height: 40px;
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: center;
  text-indent: 20px;
  /* border: 2px solid #FCD11E; */

  font-size: 15px;
}
.main-content-contaniner-form2 a{
 color: #FCD11E; 
 font-size: 15px;
}

.main-content-contaniner-form3{
  margin: 20px auto;
  width: 100%;
  height: 600px;
  /* border: 2px solid rgb(30, 137, 252); */

  display: flex;
  
    border-bottom: 1px solid #c2c2c2;
}
/* form3-left */
.form3-left{
  width: 45%;
  /* border: 2px solid rgb(30, 252, 93); */
  height: 700px;

  display: flex;
  /* text-align: center; */
  justify-content: center;
  /* align-items: center; */
}
.form3-left-box1{
  width: 350px;
  height: 350px;
  /* border: 2px solid rgb(60, 30, 252); */

  /* margin: 10px auto; */
  overflow: hidden;
  border-radius: 10px;
}
.form3-left-box1 img{
  border-radius: 10px;
  cursor: pointer;
}
.form3-left-box1 img:hover{
  transition: all 0.5s linear;
  transform: scale(1.1);
  border-radius: 10px;
}
.form3-left-box1-1{
  width: 350px;
  height: 60px;
  margin: 10px auto;
  border: 2px solid rgb(9, 9, 9);
}

.form3-right{
  width: 55%;
  height: 700px;
  display: flex;
  /* margin: 0 0 0 10px; */
  /* border: 2px solid rgb(252, 30, 237); */
}
.form3-right-box1{
    /* border: 2px solid rgb(252, 30, 237); */
    width: 100%;
}
.right-box1-box1{
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  height: auto;
  display: flex;

  /* border: 2px solid rgb(252, 30, 237); */
}
.right-box1-box1-1{
  margin: 10px auto;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: start;

  /* color: #007aff; */
}
.right-box1-box2{
  margin: 10px auto;
  font-size: 13px;
  font-weight: bold;
  display: flex;

  color: #FCD11E;

  /* border: 2px solid rgb(252, 30, 237); */
}
.evaluation{
  color: rgb(80, 185, 227);
  font-size: 10px;
}
.right-box1-box3{
  margin: 25px 0px 15px 0px;
  font-size: 25px;
  font-weight: bold;

  display: flex;
  /* color: #FCD11E; */

  /* border: 2px solid rgb(252, 30, 237); */
}
.right-box1-box4{
  margin: 10px auto;
  font-size: 13px;
  font-weight: bold;

  display: flex;
  /* color: #FCD11E; */

  /* border: 2px solid rgb(252, 30, 237); */
}
.right-box1-box5{
  margin: 15px auto;
  font-size: 13px;
  display: flex;
  /* font-weight: bold; */

  /* color: #FCD11E; */

  /* border: 2px solid rgb(252, 30, 237); */
}
.right-box1-box6{
  width: 100%;
}
.search-p{
  width: 100%;
  height: 30px;
  font-size: 15px;
  font-family: 'Pretendard-Regular';
  padding: 5px 5px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  cursor: pointer;
}
.right-box1-box7{
  /* width: 100%; */
  height: 50px;
  margin: 15px auto;
  padding: 15px 15px;
  font-size: 12px;
  display: flex;
  /* font-weight: bold; */

  /* color: #FCD11E; */

  /* border: 1px solid #d0d0d0; */
  background-color: #ececec;
  border-radius: 5px;

  position: relative;
}
.title{
  width: 300px;
  height: 15px;
  font-size: 14px;
  text-align: start;
  /* border: 2px solid rgb(252, 30, 237); */
}
.remove{
  position:absolute;
  top: 20x;
  right: 20px;
  max-width: 22px;
  overflow: hidden;
}
.delete-product{
  width: 22px;
  min-width: 22px;
  height: 22px;
  min-height: 22px;
  line-height: 22px;
  background: url(https://assets.store.bemypet.kr/wp-content/plugins/mshop-diy-product/assets/images/delete.png) center / 10px no-repeat;
  cursor: pointer;
}
.t-group{
  width: 100px;
  height: 20px;
  border: 1px solid rgb(170, 170, 170);
  /* border: 2px solid rgb(252, 30, 237); */
  border-radius: 2px;
  position:absolute;
  top: 45px;
}
.btn-minus{
  width: 20px;
  height: 20px;
  /* padding: 5px 7px; */
  position: absolute;
  right: 0;
  border: 1px solid rgb(170, 170, 170);
  border-top: none;
  border-bottom: none;
  border-right: none;
  background-color: white;
}
.input-qty{
  width: 100%;
  height: 100%;
  border: 0;
  text-align: center;
  background-color: white;
}
.btn-plus{
  width: 20px;
  height: 20px;
  /* padding: 5px 7px; */
  left: 0;
  position: absolute;
  border: 1px solid rgb(170, 170, 170);
  background-color: white;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.price{
  position: absolute;
  bottom: 19px;
  right: 19px;
  font-size: 15px;
  font-weight: 700;
}
.right-box1-box8{
  margin: 15px auto;
  font-size: 13px;
  display: flex;
  justify-content: end;
  /* font-weight: bold; */

  /* color: #FCD11E; */

  /* border: 2px solid rgb(252, 30, 237); */
}
.price-label{
  font-weight: 400;
}
.amount{
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
/* 페이2 */
.pay-amount{
  width: 540px;
  height: 70px;
  
  display: flex;

  position: relative;

  /* border: 1px solid silver; */
  border-radius: 5px;

  padding: 10px;
  background-color : #ececec;
}
.pay-name{
  position: relative;

  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;

  font-size: 14px;
  margin: 5px;
}
.pay-count{
  width: 100px;
  height: 24px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* margin-left: 50px; */
  border: 1px solid silver;

  position: absolute;
  margin: 40px auto;

  background-color: white;
}
#increase, #decrease{
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  border-left: 1px solid silver;
  border-right: 1px solid silver;

  background-color: white;
  
}
#increase:hover, #decrease:hover{

  background-color: #f4f4f4;
}
.pay-add{
  text-align: end;
  margin: 0 50px 0 0
}
.pay-sum{
  position: absolute;
  margin: 40px auto;
  right: 0;
  margin: 40px 20px;
}
#price{
  font-size: 19px;
}
/* 페이2 끝 */
.right-box1-box9{
  margin: 15px auto;
  font-size: 13px;
  display: flex;
  width: 100%;
  /* font-weight: bold; */

  /* color: #FCD11E; */

  /* border: 2px solid rgb(252, 30, 237); */
}
.basket1{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.basket2{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.basket-button1{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  /* background-color: #FCD11E; */
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-button1:hover{
  /* transition: all 0.1s linear; */
  /* color: #FCD11E; */
  /* color: #FF6001; */
  font-weight: 600;
}
.basket-button2{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: #ff9b61;
  width: 100%;
  height: 40px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-button2:hover{
  /* transition: all 0.2s linear; */
  /* background-color: rgb(205, 70, 205); */
  background-color: #FF6001;
}
.right-box1-box10{
  margin: 5px auto;
  font-size: 13px;
  display: flex;
  /* font-weight: bold; */

  /* color: #FCD11E; */

  /* border: 2px solid rgb(252, 30, 237); */
}
.middle-content{
  /* display: flex; */
  padding: 10px auto;
  width: 100%;
  height: 50px;
  /* border: 1px solid rgb(190, 16, 16); */
  border-bottom: 1px solid rgb(194, 194, 194)
  }
.middle-content ul{
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  
}
.middle-content ul li{
  display: table-cell;

}
.middle-span{
  /* font-weight: 600; */
  position: static;
}
.middle-span1{
  /* font-weight: 600; */
  position: static;
  color: #FCD11E;
  font-weight: 500;
}
.middle-span:hover{
  /* transition: all 0.2s linear;
  color: #FCD11E; */
  font-weight: 600;
}

.row-content{
/* display: flex; */
  margin: 15px auto;
  width: 100%;
  height: 300px;
  /* border: 1px solid rgb(190, 16, 16); */
}
.row-content p{
  font-size: 20px;
  font-weight: 700;
  margin: 35px;
  text-align: start;
}
/* 하단 정보 테이블 */
table{
  border-collapse: collapse;
  border-spacing: 0;
}
.infoTable{
  width: 100%;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  table-layout:fixed;
  margin: 0;
}
.infoTable th{
  padding: 12px 16px;
  border-bottom: 1px solid #efefef;
  background-color: #efefef;
}
.infoTable td{
  padding: 12px 16px;
  border-bottom: 1px solid #efefef;
}

/* 메인 끝 */