
.review-div{
  width: 100%;
  height: 60px;
  display: flex;
  /*text-align: center;*/
  justify-content: end;
  /*align-items: center;*/
    /* border: 1px solid rgb(190, 16, 16); */
  border-bottom: 1px solid #FCD11E;
  position: relative;
}
.input-img{
  width: 25px;
  height: 25px;

  position :absolute;
  z-index: 2;
  top: 50%;
  left: 25px;
  cursor: pointer;
  transform: translateY(-50%);
}
.selecReview{
  border: none;
  width: 800px;
  height: 40px;
  text-indent: 10px;
  color:#898F92;
  background-color: #F9F9F9;
  border-radius: 16px;
  font-size: 20px;
  /* padding: 3px 10px; */
  outline:none;
  padding: 0 48px;
}
.selecReview:focus{
  transition: all 0.4s linear;
  border: 2px solid #18B394
}

.review-button{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: #ff9b61;
  width: 200px;
  height: 40px;
  color: white;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.review-button:hover{
  background-color: #FF6001;
}
.comments{
  display: flex;
  margin: 40px auto;
  width: 100%;
  height: auto;
  border: 1px solid rgb(192, 192, 192);
  border-top: none;
  border-radius: 5px;

}
.commentlist{
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 15px;
}
.comment-text{
  width: 100%;
  /*height: 200px;*/
  height: auto;
  position: relative;
  
  /* border: 1px solid rgb(190, 16, 16); */
  
}

/* 리뷰 리스트 */
.comments{
  display: flex;
  margin: 40px auto;
  width: 100%;
  height: auto;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;

}
.commentlist{
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 15px;
}
.comment-text{
  width: 100%;
  height: auto;
  
  /* border: 1px solid rgb(190, 16, 16); */
  
}

/* 리뷰 리스트 */
.star-div{
  float:right;
  overflow: hidden;
  position: relative;
  /* top: 10px;
  right: 10px; */
  /* border: 1px solid rgb(190, 16, 16); */
}
.reviewWriter{
  position: relative;
  float:left;
  color: #767676;
  font-size: 14px;
  /* border: 1px solid rgb(190, 16, 16); */
}
.description{
  position: relative;
  float:left;
  width: 100%;
  height: auto;
  /* border: 1px solid rgb(190, 16, 16); */
}
.userContent{
  display: flex;
  align-content: start;
  justify-content: start;
  align-items: start;

  margin: 10px auto;

  white-space: break-spaces;
}

.description p{
  display: flex;
  align-content: start;
  justify-content: start;
  align-items: start;

  margin: 10px auto;

  white-space: break-spaces;
}
.reviewImg{
  position: relative;
  float:left;
  /* margin: 10px auto; */
  width: 100%;
  height: 75px;
  /* border: 1px solid rgb(190, 16, 16); */
}
.admin-review-box{
  width: 100%;
   height: auto;
  /* position: relative; */
  display: flex;
  /* text-align: end; */
  justify-content: end;
  
  /* border: 1px solid rgb(255, 0, 0); */
}
/* 관리자 리뷰 */
.admin-review{
  width: auto;
  /* height: 150px; */
  position: relative;
  /* float:left; */
  margin: 20px 10px;
  display: flex;
  text-align: start;

  border: 1px solid rgb(192, 192, 192);
  border-radius:5px;
}
.admin-review span{
  color: #767676;

}
.admin-review div{
  width: 100%;
  height: auto;
  position: relative;
  float:left;
  margin: 10px 10px;

    /* border: 1px solid rgb(190, 16, 16); */
}

/* 페이징 번호 */
.nav-class{
  width: 100%;
  height: 100px;
  text-align: center;
}

.nav-class ul{
  margin: 0;
}
.nav-class ul li {

  display: inline-block;
  width: 40px;
  height: 25px;
}

/* 메인 끝 */

/* 모달창 시작 */
.modal{
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* 모달창 중앙 맞추기 */

   display:none;

  background-color: rgba(0,0,0,0.4);
  /* 우선순위 */
  z-index : 1;

  /* 스크롤 따라가게 조정 */
  position: fixed;
}
.modal.show{
  display: block;
}
.modal_body{
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translateX(-50%) translateY(-50%);
  /* 모달창 중앙 맞추기  */

  width:400px;
  height: 400px;
  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  /* 수평위치, 수직위치, 흐림정도, 확산정도
    (그림자색) */

}

.modal_textarea{
  height: 200px;
  width: 380px;
  resize: none;

  padding: 10px 10px;
  margin: 40px 0;
}


.review-submit{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: #ff9b61;
   width: 100%;
  height: 40px;
  color: white;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.review-submit:hover{
  background-color: #FF6001;
}

/* 모달창 끝 */