.main {

}


.admin-menu-title-container {
    width: 100%;

}
.admin-menu-title {
    padding: 0px 0px 20px 20px;
    box-sizing: border-box;
}

.admin-menu-title h4 {
    
    height: 40px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
}


.admin-main-wrap {
    position: relative;

    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    width: 1272px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);

}

.admin-main-bcc {
    padding: 20px 0px 20px 20px;
} 




/* Qna 내용  */

.qna-info-table {
    font-size: 13px;
    width: 100%;
    border-collapse: collapse;
}

.qna-info-table th {
    font-size: 13px;
    width: 100px;
    padding: 4px;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.424);
}
.qna-info-table td {
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
}

.qna-info-column td{

    text-align: start;
}

.qna-info-column a {
    color: black;
}

.delete-td {
    background-color: rgb(141, 168, 168);
    width: 60px;
}

.delete-qna-btn {
    border: none;
    background-color: rgb(141, 168, 168);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.qna-info-title td {
    text-align: start;
}

.qna-info-img {
    height: 200px;
}


.walkmate-info-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.walkmate-info-section #map {
    width: 100%;
    height: 250px;
}

textarea:focus {
    outline: none;
}


.date-loca {
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
}

.date {
    width: 130px;
}


.qna-info-content td {
    height: 300px;
}

.content-textarea {
    box-sizing: border-box;
    padding: 20px;
    height: 300px;
    width: 100%;
    border: none;
    resize: none;
}

.walk-date-modify,
.walk-date-register{
    width: 135px;
    text-align: center !important;
}

.viewcount {
    text-align: center !important;
    width: 60px;
}

.state, .partner-name {
    text-align: center !important;
}


/*신청자 정보*/
.walk-apply-section{
    display: none;
}

.applier-info{
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 15px;
}
.applier-info-detail h5 {
    font-size: 14px;
    padding: 15px 0px 15px 0px;
}

.applier-info-detail a {
    color: black;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 180px;
    border: 1px solid gray;
}

.wrap img {
    width: 200px;
    height: 100%;
}

.applier-info-detail-ul {
    line-height: 2;
}



/* Qna관련 댓글 설정 */
.walk-reply-title {
    display: flex;
}

.showBtn {
    cursor: pointer;
}

.walk-reply-section {
    /* border: 2px solid red; */
    display: none;
}

.walk-reply-ul {
    font-size: 13px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid gray;
}
.walk-reply-ul  li {
    box-sizing: border-box;
    padding: 10px;
    /* border: 2px solid blue; */
}

.reply-writer {
    width: 150px;
}

.reply-content {
    line-height: 1.7;
    width: 100%;
}
.reply-reg-date {
    text-align: end;
    width: 165px;
}
.reply-btn {
    width: 90px
}


