.admin-menu-title-container {
    width: 100%;

}
.admin-menu-title {
    padding: 0px 0px 20px 20px;
    box-sizing: border-box;
}

.admin-menu-title h4 {
    
    height: 40px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
}


.admin-main-wrap {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    width: 1272px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);

}

.admin-main-bcc {
    padding: 20px 0px 20px 20px;
} 

.notice-reg-table {
    width: 100%;
    border: 1px solid gray;
}

.notice-reg-table th {
    border: 1px solid gray;
}

.notice-reg-table td {
    border: 1px solid gray;

}



#notice-title {
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0px 10px 30px;
}

#notice-content {
    border: none;

    height: 450px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 30px;
}

.notice-btns {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 100px;
    height: 25px;
}
.notice-list-submit-btn {
    margin-right: 10px;
}