.admin-menu-title-container {
    width: 100%;

}
.admin-menu-title {
    padding: 0px 0px 20px 20px;
    box-sizing: border-box;
}

.admin-menu-title h4 {
    
    height: 40px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
}

.admin-main-wrap {
    position: relative;

    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    width: 1272px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);

}


.admin-main-bcc {
    padding: 20px 0px 20px 20px;
}



.goods-stan-info-title{
    padding: 0px 0px 10px 5px;
    display: flex;

}
.goods-stan-info-title h4 {
    width: 630px;
}

.reg-btn {
    text-align: end;
    width: 600px;
}

.reg-submit-btn {
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.goods-info-container {
    border-top: 2px solid gray;
    padding-top: 20px;
}

.goods-info-table {
    font-size: 13px;
    width: 1232px;
}

.goods-table-column {
    /* box-sizing: border-box;
    padding-left: 20px;
    text-align: start; */
    width: 150px;
}




#goods-detail {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 225px;
    resize: none;
    border: none;
}



#goods-cate, #goods-name, #goods-quantity, #goods-price, #goods-made-in, #goods-certify,
#goods-reg-date,#goods-last-modify-date, #goods-sale-count, #goods-total-sale {
    box-sizing: border-box;
    padding-left: 15px;
    width: 100%;
    height: 28px;
    border: none;
}





/* 파일 처리 css */

.goods-img-info-title {
    padding: 30px 0px 10px 5px;
}

.goods-imgs-wrap {
    position: relative;
    border-top: 2px solid gray;
    border-bottom: 1ps solid gray;
    padding:20px 0px 30px 0px
    
}

.image-lists-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* display: flex;
    justify-content: space-between; */
}

/* 상품 메인 사진 */

#goods-main-img{
    width: 222px;
    height: 352px;
    position: absolute;
    opacity: 0;
    top: 5px;
    left: 6px;
    cursor: pointer;
    z-index: 9;
   
}


/* 상품 설명 사진 */
.goods-detail-img-file {
    position: relative;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDM2djM2SDB6Ii8+PGcgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2Utd2lkdGg9IjEuNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNCA0KSI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNMTQgN3YxNG03LTdINyIvPjxjaXJjbGUgY3g9IjE0IiBjeT0iMTQiIHI9IjE0Ii8+PC9nPjwvZz48L3N2Zz4=)
    no-repeat 50%;
}


#goods-detail-img{
    position: absolute;
    width: 222px;
    height: 352px;
    top: 5px;
    left: 255px;
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
   
}


.active-img{
    display: none;
}

.img-title img {

    width: 100%;
    height: 350px;
    border-radius: 5px;
}
.img-title span {
    position: absolute;
    bottom: -33px;
    border: 0.0625rem dashed #e1e1e1;
    border-radius: 5px;
    display: block;
    width: 222px;
    left: -2px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

.goods-main-img-p {
        z-index: 9;
        cursor: default;
     
        position: relative;
        list-style-type: none;
        width: 220px;
        height: 350px;
        margin: 0.5rem;
        border: 0.0625rem dashed #e1e1e1;
        border-radius: 8px;
}

.goods-review-content {
    position: relative;
}

.goods-review-content-container {
    box-sizing: border-box;
    padding: 9px;
    /* border: 1px solid red; */
    width: 995px;
    height: 100%;
    position: relative;
}
.content h5 {
    padding-bottom: 10px;
}
.content {
    border-radius: 5px;
    border: 0.0625rem dashed #e1e1e1;
    padding: 20px;
    height: 135px;
}

.review-imgs-btn {
    top: -60px;
    right: 3px;
    position: absolute;
    width: 120px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
}

.review-imgs-slide {
    display: none;
    z-index: 999;
    height: 100%;
    width: 700px;
    box-sizing: border-box;
    margin-bottom: 5px;

}


.review-imgs {
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 10px 10px 0px;
}


.review-imgs img {
    border: 0.0625rem dashed #e1e1e1;

    border-radius: 5px;
    width: 220px;
    height: 220px;
}

.review-img span {
    display: flex;
    justify-content: center;
    border: 0.0625rem dashed #e1e1e1;
}











.goods-review-reply-container h5 {
    padding: 25px 0px 10px 5px;
}



.review-reply, .modify-content {
    font-size: 14px;

    box-sizing: border-box;
    padding: 20px;
    width: 977px;
    height: 120px;
    resize: none;
    border: 0.0625rem dashed #e1e1e1;
    border-radius: 5px;
}


.btns, .modify-btn, .reply-btn{
    width: 977px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0px 5px 5px;
    
    
}
.reply-btn {
    width: 100%;
}

.btn {
    border: 0.0625rem dashed #e1e1e1;

    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    width: 90px;
    height: 25px;
}

.btn:hover {
    background-color: rgba(213, 128, 25, 0.528);
}



.none {
    display: none;
}



.reply-section {
    box-sizing: border-box;
    padding: 9px;
    width: 100%;
}

#reply-content {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 150px;
    resize: none;
}




