.body {
    
    font-family: 'S-CoreDream-3Light';
    width: 100%;
    height: 100%;
    background-color: rgba(236, 234, 234, 0.439);
    position: relative;
}

.top-section {
    font-size: 15px;
    margin: 20px auto;
    width: 1550px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 20px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);
}

.admin-hidden-title {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px;
    min-width: 250px;
    height: 60px;
    top: -70px;
    position: absolute;
    background-color: white;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);
    
}


.admin-index-wrap {
    width: 1550px;
    margin: 10px auto;
    height: 100%;
    display: flex;
}
.admin-fragment {
    display: block;
    margin: 0 auto;
    width: 1550px;
    height: 100%;
    position: relative;
}

.aside {
    top: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);
    min-width: 250px;
    /* min-height: 100vh; */
    font-family: 'GmarketSansMedium';

}

.side-menu {
    
    font-size: 14px;
    padding: 50px 10px 10px 30px;
}

.admin-manage {
    margin-bottom: 20px;
}

.sub-menu {
    font-size: 13px;
    padding: 3px 10px 10px 10px;
}

.sub-menu a {
    color: rgba(192, 192, 192, 0.833);
}






/* .admin-menu-title-container {
    width: 100%;

}
.admin-menu-title {
    padding: 0px 0px 20px 20px;
    box-sizing: border-box;
}

.admin-menu-title h4 {
    
    height: 40px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
}


.admin-main-wrap {
    position: relative;

    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    width: 1272px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgb(198, 197, 197);

}

.admin-main-bcc {
    padding: 20px 0px 20px 20px;
}  */