<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쇼핑-리뷰</title>
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/fragment/css/header.css">
  <link rel="stylesheet" href="/fragment/css/footer.css">
  <link rel="stylesheet" href="/shopping/css/shopReview.css">
<link rel="icon" href="/img/favicon.ico" type="image/x-icosn" sizes="16x16">
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header">

</div>
<!-- header 끝 -->
<!-- main 시작 -->

<main class="main-content">
    <div class="main-content-contaniner">   
        <div class="title-info">

        </div>

        <input type="hidden" th:value="${id}" id="goodsId">

    <div class="main-content-contaniner-form2">
    <div>
            <a href="">홈</a>
        </div>
        <span>/</span>
        <div>
            <a href="/shopping/html/shop.html">상품전체</a>
        </div>
        <span>/</span>
        <div>
            <a href="">간식</a>
        </div>
        <span>/</span>
        <div>
            <span>세이오앙 강아지 간식 훈련용</span>
        </div>
    </div>

        <div class="shop-form">
            <!--비동기 시작-->

        <div class="row-content">

          <!-- 리뷰 li -->
<!--          <div class="comments">-->
<!--            <div class="commentlist">-->
<!--                <div class="comment-text">-->
<!--                  <div class="star-div">-->
<!--                    <span>★★★★★</span>-->
<!--                  </div>-->
<!--                  -->
<!--                  <p class="reviewWriter">-->
<!--                    <strong>두부**</strong>-->
<!--                    <span>-</span>-->
<!--                    <time>2023년 11월 22일</time>-->
<!--                  </p>-->

<!--                  <div class="description">-->
<!--                  <p>평소 식탐이 많아서, 간식을 안줄수가 없는</p>-->
<!--                  <p>노즈워크 훈련용이라 그런지 크기도 알맞고-->
<!--                  </p>-->
<!--                  <p>아주 잘 먹어줍니다! 아주 찹찹찹 거리면서 야무지게 씹어먹어요</p>-->
<!--                  <p>노즈워크놀이할 때에도 별도로 잘라줄 필요없어서</p>-->
<!--                  <p>너무 편안하고, 부스러기 안나와서 깔끔하게 놀수 있어요</p>-->
<!--                  <p>비마이펫으로부터 제품을 무상으로 받아 작성된 후기입니다.</p>-->
<!--                  </div>-->

<!--                <div class="reviewImg">-->
<!--                  <div class="imgbox">-->
<!--                    <a href="/img/reviewImg01.jpg">-->
<!--                      <img src="/img/reviewImg01.jpg" alt="" class="imgs">-->
<!--                    </a>-->
<!--                  </div>-->
<!--                  <div class="imgbox">-->
<!--                    <a href="/img/reviewImg02.jpg">-->
<!--                      <img src="/img/reviewImg02.jpg" alt="" class="imgs">-->
<!--                    </a>-->
<!--                  </div>-->
<!--                  <div class="imgbox">-->
<!--                    <a href="/img/reviewImg03.jpg">-->
<!--                      <img src="/img/reviewImg03.jpg" alt="" class="imgs">-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            &lt;!&ndash; 관리자 리뷰 &ndash;&gt;-->
<!--            <div class="admin-review-box">-->
<!--            <div class="admin-review">-->
<!--              <div>-->
<!--                <span>관리자</span>-->
<!--                <span>- 2023년 11월 22일</span>-->
<!--                <p>소중한 후기 감사합니다~ 견주님과 멍이 맘에 쏙! 들도록 더더욱 연구해서 좋은 제품으로 찾아뵐게요 😀</p>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--            &lt;!&ndash; 관리자 리뷰 끝 &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
          <!-- 리뷰 li 끝 -->



            <!--비동기 끝-->
        </div>

      </div>

        <nav class="nav-class">
          <ul class="pagetotal">
              <li>
                  <a href="">&lt;</a>
              </li>
              <li>
                  <a href="">1</a>
              </li>
              <li>
                  <a href="">2</a>
              </li>
              <li>
                  <a href="">3</a>
              </li>
              <li>
                  <a href="">&gt;</a>
              </li>
          </ul>
      </nav>
        
    </div>

</main>
<!-- main 끝 -->


<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer">

</div>
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" defer src="/shopping/js/shopReview.js"></script>
</body>
</html>