<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쇼핑</title>
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/fragment/css/header.css">
  <link rel="stylesheet" href="/fragment/css/footer.css">
  <link rel="stylesheet" href="/shopping/css/shop.css">
<link rel="icon" href="/img/favicon.ico" type="image/x-icosn" sizes="16x16">
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header">

</div>
<!-- header 끝 -->
<!-- main 시작 -->

<main class="main-content">
    <div class="main-content-contaniner">   
        <div class="title-info">
            <div class="main-content-title-text01">
                <!-- shop # -->
                <!-- 사주시개 -->
                <!-- 쇼 핑 -->
            </div>
        </div>
<!-- 검색 -->
    <div class="main-content-contaniner-form">
        <div class="search-inputbox">
            <img src="/img/ICON-24px-Search.svg" alt="" class="input-img">
            <input type="text" placeholder="통합검색" maxlength="130" class="inputbox" name="search-keyword" id="shop-search-keyword">
            <button type="button" class="result-submit-btn goods-list-search-btn">검색</button>
        </div>
    </div>
<!-- 검색 -->
    <div class="main-content-contaniner-form2">

            <ul>
                <li class="form2-li-1">
                    <a href="/shop/shopList" >전체</a>
                </li>
                <li class="form2-li">
                    <a href="/shop/shopList-a" >간식</a>
                </li>
                <li class="form2-li">
                    <a href="/shop/shopList-b">영양제</a>
                </li>
                <li class="form2-li">
                    <a href="/shop/shopList-c">위생용품</a>
                </li>
                <li class="form2-li">
                    <a href="/shop/shopList-d">이동장</a>
                </li>
                <li class="form2-li">
                    <a href="/shop/shopList-e">장난감</a>
                </li>
                <li class="form2-li">
                    <a href="/shop/shopList-f">하네스/줄</a>
                </li>
            </ul>

    </div>
        
        <form action="" class="form-box2" id="search-form">
            <select class="search-t" id="search-cate" name="search-cate">
                <option value="popularity">인기순</option>
                <option value="rating">평점순</option>
                <option value="date">최신순</option>
                <option value="price-down">낮은가격순</option>
                <option value="price-up">높은가격순</option>
            </select>

        </form>
<div class="main-content-box">

</div>
    <div class="main-content-contaniner-form3">
        <ul class="ul-list">

            <!-- 리스트 시작 -->
<!--            <li class="li-list">-->
<!--                <a href="/shopping/html/shopDitail.html" >-->
<!--                <div class="list-div">-->
<!--                    <div class="li-list-full-img">-->
<!--                        <img src="https://image.store.bemypet.kr/content/uploads/2023/05/31141732/lid%EC%8D%B8%EB%84%A4%EC%9D%BC_1.jpg" alt="" class="li-img" width="300px" height="300px">-->
<!--                    </div>-->
<!--                    <div >-->
<!--                        <div class="list-name1">세이오앙</div>-->
<!--                        <div class="list-name2"> 세이오앙 강아지 간식 훈련용</div>-->
<!--                    </div>-->
<!--                        <div class="reviw">-->
<!--                            <img src="https://store.bemypet.kr/wp-content/themes/bemypet-store-child/assets/images/star_rate@3x.png" alt="" width="16">-->
<!--                            &nbsp;-->
<!--                            <div>4.9</div>-->
<!--                            <div class="reviw1">-->
<!--                                <span>리뷰</span>-->
<!--                                <span>&nbsp;10</span>  -->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <div class="won">-->
<!--                            <span>13,900</span>-->
<!--                            <span>&nbsp;원</span>-->
<!--                        </div>-->
<!--                </div>-->
<!--            </a>-->
<!--                <div class="basket">-->
<!--                    <a href=""><img src="/img/shoppingcart.png" alt=""></a>-->
<!--                </div>-->
<!--            </li>-->
            <!-- 리스트 끝 -->

        </ul>
    </div>

    
    <nav class="nav-class">
        <ul class="pagination-ul">

        </ul>
    </nav>

    </div>
    
</main>
<!-- main 끝 -->


<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer">

</div>
<input type="hidden" th:value="${session.userId}" id="userId" />
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/shopping/js/shopList.js"></script>
</body>
</html>