<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쇼핑-추가정보</title>
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/fragment/css/header.css">
  <link rel="stylesheet" href="/fragment/css/footer.css">
  <link rel="stylesheet" href="/shopping/css/shopAddInfo.css">
  <!-- <script defer src ="/map/js/map.js"></script> -->
<link rel="icon" href="/img/favicon.ico" type="image/x-icosn" sizes="16x16">
</head>
<body>
<!-- header 시작 -->
<div class="header" th:replace="fragment/header :: header">

</div>
<!-- header 끝 -->
<!-- main 시작 -->

<main class="main-content">
    <div class="main-content-contaniner">   
        <div class="title-info">

        </div>
        <input type="hidden" th:value="${id}" id="goodsId">

    <div class="main-content-contaniner-form2">
    <div>
            <a href="">홈</a>
        </div>
        <span>/</span>
        <div>
            <a href="/shopping/html/shop.html">상품전체</a>
        </div>
        <span>/</span>
        <div>
            <a href="">간식</a>
        </div>
        <span>/</span>
        <div>
            <span>세이오앙 강아지 간식 훈련용</span>
        </div>
    </div>

        <!--            여기서부터-->
        <div class="shop-form">

        <!-- 상품 상세 리스트 끝 -->
<!--    <div class="main-content-contaniner-form3">-->

<!--    </div>-->
    <!-- 상품 상세 리스트 끝 -->

        <!--            여기까지-->

        </div>

    </div>

</main>
<!-- main 끝 -->

<!-- footer 시작 -->
<div class="footer" th:replace="fragment/footer :: footer">

</div>
<!-- footer 끝 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="module" defer src="/shopping/js/shopAddInfo.js"></script>
</body>
</html>